li {
  display: inline;
  padding: 5px;
}

img{
height: 9%;
width: 60px;
}
.checks{
  background-color: #b1b1b1;;
}

.mensaje{
  background-color: #8dffb6;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    line-height: 45px;
    height: 45px;
    padding: 0 16px;
    text-align: left;
    max-width: 100%;
    box-sizing: border-box;
  }
  span {
    margin-left: 5px;
  }

  .devolucion{
    background: red;
    color: white;
    padding: 5px;
  }

  .envio{
    background: rgb(0, 120, 16);
    color: white;
    padding: 5px;
  }
