<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card" style="overflow-x: scroll;">
          <br>
          <br>
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon d-flex">
              <i class="material-icons">assignment</i>
              &nbsp;
              <h4 class="card-title">Ventas</h4>
            </div>

          </div>
          <div class="card-body">
            <div class="toolbar">
              <!--        Here you can write extra buttons/actions for the toolbar              -->
            </div>
            <div *ngIf="loader" class="loader">
              <!-- <svg class="circular" viewBox="25 25 50 50">
                  <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                </svg>
                Loading.. -->
              <ngx-spinner bdOpacity=0.9 bdColor="" size="default" color="#581f87" type="ball-pulse-sync"
                [fullScreen]="false">
              </ngx-spinner>
            </div>
            <div id="datatables_filter" class="dataTables_filter row">
              <div class="col-12 row">
                <label class="form-group col espaciosL">
                  <input [(ngModel)]="datoBusqueda" type="search" class="form-control form-control-sm" (change)="buscar()"
                    placeholder="Buscar Ventas" aria-controls="datatables"></label>
                <div>
                  <button (click)="buscar()" [disabled]="loader" mat-raised-button mat-min-fab
                    class="btn btn-primary btn-just-icon btn-round espaciosL">
                    <i class="material-icons">search</i>
                  </button>
                  <!-- <button (click)="verTable()" [disabled]="loader" mat-raised-button mat-min-fab
                    class="btn btn-primary btn-just-icon btn-round espaciosL">
                    <i class="material-icons">outdoor_grill</i>
                  </button> -->
                  <button *ngIf="activando" (click)="darPuntos()" class="btn btn-primary btn-just-icon btn-round espaciosL"
                    mat-raised-button mat-min-fab>
                    <i class="material-icons">redeem</i>
                  </button>
                  <!--<button (click)="crear(false)" class="btn btn-primary btn-just-icon btn-round espaciosL" mat-raised-button
                    mat-min-fab>
                    SUBE TU VENTA <i class="material-icons">add_circle_outline</i>
                  </button>-->
                </div>
              </div>
              <div class="col-12 row">
                <div class="form-group col-12">
                  <label>Vendedor</label>
                  <!-- <input type="text" class="form-control form-control-sm" [(ngModel)]="data.ciudadDestino"> -->
                  <ng-autocomplete [(ngModel)]="filtro.vendedor" [data]="listVendedores" [searchKeyword]="keyword" placeHolder="Vendedor" autocomplete="off"
                      historyIdentifier="listVendedores" [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate" (change)="buscar()" >
                  </ng-autocomplete>

                  <ng-template #itemTemplate let-item>
                      <div class="item">
                          <!-- <img src="{{item.flag}}" height="25"> -->
                          <span [innerHTML]="item.usu_usuario"></span> &nbsp; | &nbsp;
                          <small>Email: {{ item.usu_email }}</small> &nbsp; | &nbsp;
                          <small>Nombre: {{ item.usu_nombre }}</small>
                      </div>
                  </ng-template>

                  <ng-template #notFoundTemplate let-notFound>
                      <div [innerHTML]="notFound"></div>
                  </ng-template>
                </div>
                <div class="col-md-6 col-sm-4 col-lg-4 col-xs-6">
                  <label>Estado de la venta</label>
                  <select class="form-control form-control-sm" [(ngModel)]="filtro.ven_estado" placeholder="Estado de la Venta" [disabled]="loader" (ngModelChange)="buscarEstado()">
                    <option type="number" value="5">Todos</option>
                    <option type="number" value="0">Pendiente</option>
                    <option type="number" value="1">Venta exitosa</option>
                    <option type="number" value="2">Rechazada</option>
                    <option type="number" value="3">Despachado</option>
                    <option type="number" value="6">Pagado y completado</option>
                  </select>
                </div>
                <div class="col-md-5 col-sm-3 col-lg-3 col-xs-5">
                  <label>Fecha Inicial</label>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="date" class="form-control" [(ngModel)]="filtro.fechaFinal" (keyup)="validandoFecha()" (change)="validandoFecha()">
                  </div>
                </div>
                <div class="col-md-5 col-sm-3 col-lg-3 col-xs-5">
                  <label>Fecha Final</label>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="date" class="form-control" [(ngModel)]="filtro.fechaInicio" (keyup)="validandoFecha()" (change)="validandoFecha()">
                  </div>
                </div>
                <div class="col-2">
                  <button (click)="borrarFiltro()" [disabled]="loader" mat-raised-button mat-min-fab
                    class="btn btn-danger btn-just-icon btn-round">
                    borrar Filtros
                  </button>
                </div>
              </div>

            </div>
            <div class="col-12">
              <button class="btn btn-primary" type="button" title="Refresh" data-toggle="tooltip" data-placement="bottom"
                (click)="buscar()" [disabled]="loader">
                <i class="material-icons">remove_red_eye</i>
              </button>
              <button class="btn btn-danger" type="button" title="Erase" data-toggle="tooltip" data-placement="bottom"
                (click)="procesoDelete()" [disabled]="btnDisabled">
                <span class="lnr lnr-trash"></span>
              </button>
            </div>
            <!--<div class="col-12" *ngIf="activando">
              <div class="col-md-3 col-sm-4 col-lg-3 col-xs-3">
                <span>Total Utilidad de venta</span>
                <p>$ {{ ( dataInfo.pagado || 0 ).toLocaleString(1) }} COP</p>
              </div>
            </div>-->
            <div class="search-results col-12 row" infiniteScroll [infiniteScrollDistance]="3"
              [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
              <div class="col-12 material-datatables" *ngIf="!loader">
                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0"
                  width="100%" style="width:100%">
                  <thead>
                    <tr>
                      <th *ngFor="let row of dataTable.headerRow">{{ row }}</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th *ngFor="let row of dataTable.headerRow">{{ row }}</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr *ngFor="let row of dataTable.dataRows; let idx=index" [ngClass]="{
                      'colorFondo':row['ven_estado'] == 1,
                      'colorCompletado':row['ven_estado'] == 1,
                      'colorDespachado':row['ven_estado'] == 3,
                      'colorEntrante':row['ven_estado'] == 0,
                      'colorDevolucion':row['ven_estado'] == 2,
                      'colorEliminado':row['ven_estado'] == 5,
                      'colorPagado':row['ven_retiro'] >= 1
                    }">

                      <td *ngIf="row['ven_estado'] == 5">

                      </td>
                      <td>
                        <mat-checkbox color="primary" class="example-margin" [(ngModel)]="row.checks"></mat-checkbox>
                      </td>
                      <td *ngIf="row['ven_estado'] != 5">
                        <div *ngIf="!row.ven_numero_guia">
                          <span class="text-warning fondos" >Debes generar la guia </span><br>
                        </div>
                        <div>
                          <button (click)="crear(row)" class="btn btn-primary btn-just-icon btn-round">
                            <i class="material-icons">remove_red_eye</i>
                          </button><br>
                        </div>
                        <div *ngIf="row['ven_numero_guia']">
                          <button  (click)="verDetalles( row['ven_numero_guia'], row )" class="btn btn-info btn-just-icon btn-round">
                            Estado Guia
                          </button><br>
                        </div>
                        <div *ngIf="row['ven_imagen_tiket']">
                          <button (click)="openEvidencia( row['ven_imagen_tiket'], row )" class="btn btn-dark btn-just-icon btn-round">
                            Evidencia Entrega
                          </button><br>
                        </div>
                        <div *ngIf="row['ven_numero_guia']">
                          <button (click)="openUrl( row['ven_telefono_cliente'], row['ven_nombre_cliente'], row )" class="btn btn-warning btn-just-icon btn-round">
                            Enviar Guia ( cliente )
                          </button><br>
                        </div>
                        <!--<div>
                          <button (click)="btndelete(row, idx)" class="btn btn-danger btn-just-icon btn-round">
                            <i class="material-icons">delete_forever</i>
                          </button><br>
                        </div>-->
                      </td>
                      <td>{{ row['ven_numero_guia'] }}
                        <span *ngIf=" row['transportadoraSelect']=='ENVIA' || row['transportadoraSelect']=='ENVIANO' "><img class="imgs" src="./assets/img/envia.jpg" alt=""></span>
                        <span *ngIf=" row['transportadoraSelect']=='CORDINADORA' "><img class="imgs" src="./assets/img/logoCordinadora.png" alt=""></span>
                        <span *ngIf=" row['transportadoraSelect']=='TCC' "><img class="imgs" src="https://storage.googleapis.com/tcc-cloud.appspot.com/tcc/wp-content/uploads/2017/12/logo-dark.png" alt=""></span>
                        <span *ngIf=" row['transportadoraSelect']=='INTERRAPIDISIMO' "><img class="imgs" src="./assets/img/logoInter.png" alt=""></span>
                      </td>
                      <td>
                        <p>{{ row['ven_usu_creacion'] }}</p>
                        <p>{{ row['usu_clave_int']?.usu_nombre }}</p>
                        <p>+{{ row['usu_clave_int']?.usu_indicativo }} {{ row['usu_clave_int']?.usu_telefono }}</p>
                        <p>{{ row['usu_clave_int']?.usu_ciudad }}</p>
                      </td>
                      <td>{{ row['ven_nombre_cliente'] }}</td>
                      <!--<td>
                        <span>
                          {{ row['ven_telefono_cliente'] }} <img src="./assets/img/what.jpg" class="pointer" style="width: 35px;" (click)="openUrl( row['ven_telefono_cliente'], row['ven_nombre_cliente'], row )">
                        </span>
                      </td>-->
                      <!--<td>{{ _tools.monedaChange( 3,2, row['ven_ganancias'] || 0 ) }}</td>-->
                      <!--<td>{{ _tools.monedaChange( 3,2, row['fleteValor'] || 0 ) }}</td>-->
                      <td>{{ row['createdAt'] | date:'medium' }}</td>
                      <!-- <td>{{ row['pro_clave_int']?.pro_nombre }}</td> -->
                      <!-- <td>{{ row['ven_cantidad'] }}</td> -->
                      <!-- <td>
                        $ {{ ( row['ven_precio'] || 0 ).toLocaleString(1) }}
                      </td> -->
                      <!-- <td>
                        <img *ngIf="row.ven_tipo === 'whatsapp'" [src]="row['ven_imagen_producto']" class="foto pointer" (click)="openFoto( row['ven_imagen_producto'] )" >
                        <img *ngIf="row.ven_tipo === 'carrito'" [src]="row['pro_clave_int']?.foto" class="foto">
                      </td> -->
                      <td *ngIf="row['ven_estado'] == 0">Pendiente</td>
                      <td *ngIf="row['ven_estado'] == 1">Exitosa</td>
                      <td *ngIf="row['ven_estado'] == 2">Rechazada</td>
                      <td *ngIf="row['ven_estado'] == 3">Despachado</td>
                      <td *ngIf="row['ven_estado'] == 5">Eliminado</td>
                      <td *ngIf="row['ven_estado'] == 6">Preparación</td>
                      <td>
                        <!-- <span *ngIf="row['ven_estado'] == 1">No</span> -->
                        <span *ngIf="row['ven_estado'] == 1 && row['ven_imagen_tiket'] =='' && row['ven_retirado'] == 0">Lista para cobrar</span>
                      </td>
                      <td><span *ngIf="row['ven_estado'] == 1">{{ row['ven_ganancias'] }}</span></td>
                      <td>
                        <img *ngIf="row['ven_retirado'] == 1" src="./assets/icons/pago.png" alt=""  style="width: 25%;">

                        <span *ngIf="row['ven_estado'] == 2">{{ row['ven_motivo_rechazo'] }}</span>
                      </td>

                      <!-- <td>{{ row['ven_tallas'] }}</td> -->
                    </tr>
                  </tbody>
                </table>
                <div class="col-md-12 p-5">
                  <ngx-spinner bdOpacity=0.9 bdColor="" size="default" color="#581f87" type="ball-pulse-sync"
                    [fullScreen]="false">
                  </ngx-spinner>
                </div>
                <div class="col-12">
                  <div class="d-flex flex-row-reverse bd-highlight">
                    <mat-paginator [length]="counts" [pageSizeOptions]="[10, 25, 100]"
                        (page)="pageEvent($event)">
                    </mat-paginator>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br><br><br>
  </div>
</div>
