<footer #nav>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center">
                    <div>
                        <h1 class="text-white textFooter titulo3" (click)="openaVenta()">GANA MÁS DE UN SALARIO MÍNIMO</h1>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-12 fondoFoto pointer" (click)="openaVenta()">
                <ng-image-slider [images]="imageObject" [infinite]="sliderInfinite" [imagePopup]="sliderImagePopup"
                    [showArrow]="sliderArrowShow" [imageSize]="{width: sliderImageWidth, height: sliderImageHeight}"
                    [autoSlide]="sliderAutoSlide ? 1 : 0" [slideImage]="sliderSlideImage"
                    [animationSpeed]="sliderAnimationSpeed" (imageClick)="imageOnClick($event)"
                    (arrowClick)="arrowOnClick($event)" (lightboxArrowClick)="lightboxArrowClick($event)" #nav>
                </ng-image-slider>
            </div>
            <div class="col">
                <p class="text-white nav-link">Copyright © 2017-2020 todos los derechos reservados FABRICAS Y BODEGAS
                    soporte software <a href="https://dilisoftgroup.com/" target="_blank" class="text-white">Dilisoft
                        Software</a></p>
            </div>
            <div>
                <a href="https://wa.me/573148487506?text=Hola Servicio al cliente, como esta, saludo cordial"
                    class="text-white nav-link" target="_blank">Contactos</a>
            </div>
        </div>-->
    </div>
</footer>