<div class="container">
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand">Lista de Bodegas</a>
          <div class="d-flex">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar" [(ngModel)]="filter.txt">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="handleSearch()">Buscar</button>
          </div>
        </div>
      </nav>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-lg-3 col-xs-6 col-6 col-xl-2 p-2" *ngFor="let row of listStore" (click)="handleStore( row )">
          <mat-card class="example-card" style="background-color: #f0f0f0; border-radius: 10px; width: 100%;
            height: 325px;">
              <mat-card-header>
                <mat-card-title>
                  <h6>{{ row.usu_usuario | slice:0:10 }}{{row.usu_usuario.length > 10 ? '...' : '' }}</h6>
                </mat-card-title>
                <mat-card-subtitle>Whatsapp: {{ row.usu_telefono }}</mat-card-subtitle>
              </mat-card-header>
              <div class="d-flex justify-content-center">
                <div class="image-container">
                  <img class="image-zoom" [src]="row.usu_imagen" alt="Photo of Perfil" (error)="handleImageError($event)">
                </div>
              </div>
              <mat-card-actions>
                <!--<button type="button" data-toggle="tooltip" data-placement="right" style="width: 100%;"
                  class="sc-logout btn btn-warning btn-sm pull-right buttonAncho"
                  (click)="handleProductTs( row )"
                  data-original-title="Todos Los Productos">Agregar Todos Los Productos
                </button>-->
                <button type="button" data-toggle="tooltip" data-placement="right" style="width: 100%;"
                  class="sc-logout btn btn-success btn-sm pull-right buttonAncho"
                  [ngStyle]="{'background-color': urlColor }"
                  data-original-title="Ver Bodega"
                  >Ver Bodega
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        <!--<div class="col-md-3 col-sm-4 col-lg-2 col-xs-6 col-6 anchandoPr" *ngFor="let row of listStore">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-subtitle>{{ row.usu_usuario | slice: 0: 15 }} </mat-card-subtitle>
            </mat-card-header>
            <figure mat-card-image data-toggle="modal" id="figura" data-target="#modalinfo" class="img-contenedor">
              <img class="img-responsive btn-block imgProductos pointer " [src]="row.usu_imagen">
            </figure>
            <mat-card-actions>
              <button type="button" data-toggle="tooltip" data-placement="right" style="width: 100%;"
                class="sc-logout btn btn-warning btn-sm pull-right buttonAncho"
                (click)="handleProductTs( row )"
                data-original-title="Todos Los Productos">Agregar Productos
              </button>
              <button type="button" data-toggle="tooltip" data-placement="right" style="width: 100%;"
                class="sc-logout btn btn-success btn-sm pull-right buttonAncho"
                [ngStyle]="{'background-color':urlColor }"
                (click)="handleStore( row )"
                data-original-title="Ver Bodega">Ver Bodega
              </button>
            </mat-card-actions>
          </mat-card>
        </div>-->
        <div class="col-12 py-4">
          <div class="d-flex justify-content-center">
            <div>
              <a class="pointer btn btn-primary " (click)="getStores()">VER MÁS BODEGAS </a>
            </div>
          </div>
        </div>
        <!-- <div class="col-12">
          <div class="d-flex flex-row-reverse bd-highlight">
            <div class="p-2 bd-highlight">
              <mat-paginator [length]="counts" [pageSizeOptions]="[50, 100, 200, 300]"
                  (page)="onScroll($event)">
              </mat-paginator>
            </div>
          </div>
        </div> -->
        <div class="col-12">
          <ngx-spinner bdOpacity=0.9 bdColor="" size="default" color="#581f87" type="ball-pulse-sync"
            [fullScreen]="false">
          </ngx-spinner>
        </div>
      </div>
    </div>
  </div>
</div>
