.foto {
    height: 43px;
}

.colorCompletado{
  background: #95ffac !important;
}
.colorDespachado{
  background: #f6ffa8 !important;
}
.colorEntrante{
  background: #83bafa !important;
}
.colorDevolucion{
  background: #ff7598 !important;
}
.colorPagado{
  background: #979797 !important;
}
.colorEliminado{
  background: #fb1951 !important;
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}