<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card" style="overflow-x: scroll;">
            <br>
            <br>
            <div class="card-header card-header-primary card-header-icon">
              <h4 class="card-title">Estado de la venta</h4>
              <div class="row">
                <div class="col-6 col-sm-4">
                  <h3>
                    <div class="form-group row">
                      <label for=""><h5>Reacaudo pendiente para pagar: &nbsp;</h5></label>
                      <span class="text-danger fs-6">{{ _tools.monedaChange(3,2, ( reacudo || 0) ) }} </span>
                    </div>
                  </h3>
                </div>
                <div class="col-6 col-sm-4">
                  <h3>
                    <div class="form-group row">
                      <label for=""><h5>Reacaudo pendiente: &nbsp;</h5></label>
                      <span class="text-warning fs-6">{{ _tools.monedaChange(3,2, ( Pdreacudo || 0) ) }} </span>
                    </div>
                  </h3>
                </div>
                <div class="col-6 col-sm-4">
                  <h3>
                    <div class="form-group row">
                      <label for=""><h5>Reacaudo total pagados: &nbsp;</h5></label>
                      <span class="text-success fs-6">{{ _tools.monedaChange(3,2, ( Pcreacudo || 0) ) }} </span>
                    </div>
                  </h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="toolbar">
                <!--        Here you can write extra buttons/actions for the toolbar              -->
              </div>
              <div *ngIf="loader" class="loader">
                <!-- <svg class="circular" viewBox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                  </svg>
                  Loading.. -->
                <ngx-spinner bdOpacity=0.9 bdColor="" size="default" color="#581f87" type="ball-pulse-sync"
                  [fullScreen]="false">
                </ngx-spinner>
              </div>
              <mat-tab-group mat-align-tabs="center" [backgroundColor]="'primary1'">
                <mat-tab label="GUIAS POR IMPRIMIR">
                  <app-list-dispatch [dataTable]="dataTable4" [config]="{view: 'crear'}" [Header]="Header"></app-list-dispatch>
                </mat-tab>
                <mat-tab label="GUÍAS EN PREPARACIÓN">
                  <app-list-dispatch [dataTable]="dataTable6" [config]="{view: 'preparacion'}" [Header]="Header"></app-list-dispatch>
                </mat-tab>
                <mat-tab label="GUIAS DESPACHADAS">
                  <app-list-dispatch [dataTable]="dataTable2" [config]="{view: 'despachada'}" [Header]="Header"></app-list-dispatch>
                </mat-tab>
                <mat-tab label="GUIAS COMPLETADAS">
                  <app-list-dispatch [dataTable]="dataTable"[config]="{view: 'completadas'}"  [Header]="Header"></app-list-dispatch>
                </mat-tab>
                <mat-tab label="GUIAS PAGADAS AL PROVEEDOR">
                  <app-list-dispatch [dataTable]="dataTable3" [config]="{view: 'pagadas'}" [Header]="Header"></app-list-dispatch>
                </mat-tab>
                <mat-tab label="GUIAS EN DEVOLUCION">
                  <app-list-dispatch [dataTable]="dataTable5" [config]="{view: 'devolucion'}" [Header]="Header"></app-list-dispatch>
                </mat-tab>
              </mat-tab-group>

            </div>
          </div>
        </div>
      </div>
      <br><br><br><br>
    </div>
  </div>
