<h2 mat-dialog-title>Crear Guia</h2>
<mat-dialog-content class="mat-typography">
    <div class="form row">
        <div class="form-group col-4">
            <label for="exampleFormControlInput1">Valor Mercancia</label>
            <input type="text" [(ngModel)]="data.valorMercancia" class="form-control form-control-sm">
        </div>
        <div class="form-group col-4">
            <label for="exampleFormControlInput1">Fecha</label>
            <input type="date" [(ngModel)]="data.fecha" class="form-control form-control-sm">
        </div>
        <div class="form-group col-4">
            <label for="exampleFormControlInput1">Numero Unidad</label>
            <input type="number" [(ngModel)]="data.numeroUnidad" class="form-control form-control-sm">
        </div>
        <div class="form-group col-4">
            <label for="exampleFormControlInput1">Peso Real</label>
            <input type="number" [(ngModel)]="data.pesoReal" class="form-control form-control-sm">
        </div>
        <div class="form-group col-4">
            <label for="exampleFormControlInput1">Peso Volumen</label>
            <input type="number" [(ngModel)]="data.pesoVolumen" class="form-control form-control-sm">
        </div>
        <div class="form-group col-4">
            <label for="exampleFormControlInput1">Alto</label>
            <input type="number" [(ngModel)]="data.alto" class="form-control form-control-sm">
        </div>
        <div class="form-group col-4">
            <label for="exampleFormControlInput1">Largo</label>
            <input type="number" [(ngModel)]="data.largo" class="form-control form-control-sm">
        </div>
        <div class="form-group col-4">
            <label for="exampleFormControlInput1">Ancho</label>
            <input type="number" [(ngModel)]="data.ancho" class="form-control form-control-sm">
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cerrar</button>
    <button mat-button cdkFocusInitial (click)="submit()">
        Generar
    </button>
</mat-dialog-actions>