<h2 mat-dialog-title>
    <div class="d-flex justify-content-between">
        <div>
            Datos {{ data.pro_nombre }}
        </div>
        <div>
            <button (click)="descargarFoto( data )" type="button" class="btn btn-primary">
                Descargar Foto
            </button>
        </div>
        <div style=" width: 20%;">
            <img (click)="masInfo( data )" class="pointer" src="./assets/icons/masinformacion.png" style="width: 80%;">
        </div>
    </div>

</h2>
<mat-dialog-content class="mat-typography">
    <div class="row content contentCenter">

        <div class="col-12 col-sm-6" style="width: 100%;">
            <div class="row">
                <div class="col-12">
                    <br><br>
                    <lib-ngx-image-zoom  [thumbImage]=urlFoto [fullImage]=urlFoto [magnification]="1"
                        [enableScrollZoom]="true" [enableLens]="true" [lensWidth]="200" [lensHeight]="200">
                    </lib-ngx-image-zoom>
                </div>
                <div class="col-12">
                    <ng-image-slider [images]="imageObject" [infinite]="sliderInfinite" [imagePopup]="sliderImagePopup"
                        style="width: 100%;" [showArrow]="sliderArrowShow"
                        [imageSize]="{width: sliderImageWidth, height: sliderImageHeight}"
                        [autoSlide]="sliderAutoSlide ? 1 : 0" [slideImage]="sliderSlideImage"
                        [animationSpeed]="sliderAnimationSpeed" (imageClick)="imageOnClick($event)"
                        (arrowClick)="arrowOnClick($event)" (lightboxArrowClick)="lightboxArrowClick($event)" #nav
                        (mouseover)="eventoFoto($event)">
                    </ng-image-slider>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6" style="width: 100%;">
            <div class="content">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3>{{ data.pro_nombre }}</h3>
                            </div>
                            <div>
                                <h3 class="precios">{{ _tools.monedaChange( 3, 2, data.pro_uni_venta ) }}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4" *ngIf="data.listTallas">
                        <label for="exampleFormControlSelect1">Color disponibles:</label>
                        <select class="form-control form-control-sm" [(ngModel)]="data.color"
                            (change)="colorSeleccionado( );">
                            <option value="null">Todos</option>
                            <option [value]="item.talla" *ngFor="let item of data.listColor">{{
                                item.talla }}
                            </option>
                        </select>
                    </div>
                    <div class="col-6 col-sm-4" *ngIf="data.listTallas">
                        <label for="exampleFormControlSelect1">Tallas disponibles:</label>
                        <select class="form-control form-control-sm" [(ngModel)]="data.tallas"
                            (change)="seleccionTalla()" [disabled]="!data.color">
                            <option [value]="item.tal_descripcion" *ngFor="let item of seleccionoColor.tallaSelect">
                                talla: {{
                                item.tal_descripcion }} UND: {{ item.cantidad }}</option>
                        </select>
                    </div>
                    <div class="col-6 col-sm-4" *ngIf="seleccionnTalla">
                        <label>Cantidad Disponibles</label>
                        <input type="number" [(ngModel)]="seleccionnTalla.cantidad" disabled
                            class="form-control form-control-sm">
                    </div>
                    <div class="col-6">
                        <label>Cantidad Adquirir</label>
                        <input type="number" [(ngModel)]="data.cantidadAdquirir" class="form-control form-control-sm">
                    </div>
                    <div class="col-6">
                        <img style="width: 50%;" src="./assets/img/gratis.jpg" alt="">
                    </div>
                    <div class="col-12" *ngIf="data.checkMayor == 1">
                        <mat-list>
                            <div mat-subheader>Lista de precios al Mayor</div>
                            <mat-list-item *ngFor="let item of data.listPrecios" class="pointer"
                                (click)="AgregarCart(item)" [ngClass]="{
                                'colorSeleccionado':item.selecciono == true
                              }">
                                <div mat-line class="row">
                                    <div class="col-6">
                                        <span>Cantidad: {{ item.cantidad }}</span>
                                        &nbsp;&nbsp;
                                        <span>Precios: {{ ( item.precios || 0 ).toLocaleString(1) }} COP</span>
                                    </div>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </div>
                    <div class="col-12 content container" style="height: 225px; overflow: scroll; overflow-x: hidden">
                        <div class="row">
                            <div class="col-12">
                                <h5>Descripcion: </h5>
                            </div>
                            <div class="col-12">
                                <p [innerHtml]="data.pro_descripcion"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!--<div class="row">
        <div class="col-md-6 col-sm-12 col-lg-6 col-xs-6">
            <lib-ngx-image-zoom [thumbImage]=urlFoto [fullImage]=urlFoto [magnification]="1" [enableScrollZoom]="true"
                [enableLens]="true" [lensWidth]="200" [lensHeight]="200"></lib-ngx-image-zoom>
            <div class="container">
                <br>
                <div class="row" *ngIf="galeria.length">
                    <div class="col-4 pointer" *ngFor="let item of galeria" (click)="seleccionFoto( item.foto )">
                        <mat-card class="example-card">
                            <img mat-card-image [src]="item.foto" alt="Photo of a Shiba Inu">
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-6 col-xs-6 content row">
            <div class="col-12">
                <h3 class="text-primary">Precio $ {{ ( data.pro_uni_venta || 0).toLocaleString(1) }} COP</h3>
                <label *ngIf="data.listColor?.length">Colores</label>
                <select class="form-control form-control-sm" [(ngModel)]="data.color" (change)="cambioImgs()"
                    *ngIf="data.listColor?.length">
                    <option [value]="item.foto" *ngFor="let item of data.listColor">{{ item.talla }}</option>
                </select>
                <div class="d-flex justify-content-between">
                    <div>
                        <h4>{{ data.pro_nombre }}</h4>
                    </div>
                    <div></div>
                    <div style="width:60%">
                        <img (click)="masInfo( data )" class="pointer" src="./assets/icons/masinformacion.png"
                            style="width: 100%;">
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="row">
                        <div class="col">
                            <div *ngIf="data.listTallas">
                                <label for="exampleFormControlSelect1">Tallas disponibles:</label>
                                <select class="form-control form-control-sm" [(ngModel)]="data.tallas">
                                    <option [value]="item.tal_descripcion" *ngFor="let item of data.listTallas">{{
                                        item.tal_descripcion }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <label>Cantidad Adquirir</label>
                            <input type="number" [(ngModel)]="data.cantidadAdquirir"
                                class="form-control form-control-sm">
                        </div>
                    </div>
                </div>
                <br>
                <div *ngIf="data.checkMayor == 1">
                    <mat-list>
                        <div mat-subheader>Lista de precios al Mayor</div>
                        <mat-list-item *ngFor="let item of data.listPrecios" class="pointer" (click)="AgregarCart(item)"
                            [ngClass]="{
                            'colorSeleccionado':item.selecciono == true
                          }">
                            <div mat-line class="row">
                                <div class="col-6">
                                    <span>Cantidad: {{ item.cantidad }}</span>
                                    &nbsp;&nbsp;
                                    <span>Precios: {{ ( item.precios || 0 ).toLocaleString(1) }} COP</span>
                                </div>
                            </div>
                        </mat-list-item>
                    </mat-list>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-12">
                            <h5>Descripcion: </h5>
                        </div>
                        <div class="col-12">
                            <p [innerHtml]="data.pro_descripcion"></p>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div>
                        <img style="width: 100%;" src="./assets/img/gratis.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button cdkFocusInitial (click)="AgregarCart(false)" type="button" class="btn btn-primary">
        Agregar al carrito
    </button>
    <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>