<div mat-dialog-title>
  <div class="row">
    <div class="col-12" style="border-radius: 20px;">
      <div class="d-flex bd-highlight" style="padding-top: 0px;">
        <div class="p-1 flex-grow-1 bd-highlight">
          <h4 style="text-align: center;" class="fw-bold">{{ data.pro_nombre | slice: 0:12 }} ... </h4>
        </div>
        <div class="p-1 bd-highlight">
          <button type="button" class="btn btn-danger" mat-dialog-close>
            X
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xs-2">&nbsp;</div>
    <div class="col-lg-6 col-xs-10">
      <div class="row">


      <div class="col-6">
        <section style="text-align: center; border-radius: 20px; padding-top: 5px;" class="p-2">
          <h5>
            Precio a distribuidor:
          </h5>
          <h5 class="" *ngIf="this.dataUser.usu_perfil.id ==1" >{{  _tools.monedaChange( 3, 2,data.pro_vendedorCompra) }}</h5>
          <h5 class="" *ngIf="this.dataUser.usu_perfil.id ==5" >{{  _tools.monedaChange( 3, 2,data.pro_vendedor) }}</h5>
          <!-- <h5>{{ _tools.monedaChange( 3, 2, ( coinShop == true ? ( data.pro_vendedorCompra || data.precio_vendedor ) : data.precio_vendedor ) ) }}</h5> -->
        </section>
      </div>
      <div class="col-6">
        <section style="text-align: center; border-radius: 20px; padding-top: 5px;" class="p-2">
          <h5 class="" *ngIf="dataUser.id">Precio Sugerido:</h5>
          <h5 class="" *ngIf="dataUser.id">{{ _tools.monedaChange( 3, 2, data.pro_uni_venta ) }}</h5>
            <!-- <h5 class="" *ngIf="!dataUser.id">Precio:</h5>
            <h5 class="" *ngIf="!dataUser.id">{{ _tools.monedaChange( 3, 2, data.pro_uni_venta ) }}</h5> -->
            <!-- <span *ngIf="!data.precio_vendedor && dataUser.id" class="precios">Ganas el {{ porcentajeMostrar }} % : &nbsp; {{ gananciaEstimada }}</span> -->
        </section>
      </div>
  </div>
</div>
  </div>
</div>
<mat-dialog-content class="mat-typography">
  <div class="container scrollTodo" [style.max-height.px]="trHeight" style="overflow-y: auto;">
    <div class="row">
      <div class="col-12 col-sm-6" style="border-radius: 20px;">
        <div class="container shadow" style="height: 100%;">
          <div class="content" style="width: 100%;">
            <div class="row ">
              <div class="col-12 borderBotton">
                <!-- lib-ngx-image-zoom -->
                <div class="" style="width: 100%; max-height: 60vh;"> <!-- Aplicamos sombra y controlamos el alto máximo -->
                  <lib-ngx-image-zoom [thumbImage]="urlFoto" [fullImage]="urlFoto" [magnification]="1" [enableScrollZoom]="true"
                    [enableLens]="true" [lensWidth]="200" [lensHeight]="200">
                  </lib-ngx-image-zoom>
                </div>
              </div>
              <div class="col-12">
                <!-- ng-image-slider -->
                <div class=" p-1"> <!-- Aplicamos sombra y espaciado -->
                  <ng-image-slider [images]="imageObject" [infinite]="sliderInfinite" [imagePopup]="sliderImagePopup"
                    [showArrow]="sliderArrowShow" [imageSize]="{width: sliderImageWidth, height: sliderImageHeight}"
                    [autoSlide]="sliderAutoSlide ? 1 : 0" [slideImage]="sliderSlideImage" [animationSpeed]="sliderAnimationSpeed"
                    (imageClick)="imageOnClick($event)" (arrowClick)="arrowOnClick($event)"
                    (lightboxArrowClick)="lightboxArrowClick($event)" #nav (mouseover)="eventoFoto($event)">
                  </ng-image-slider>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


        <div class="col-12 col-sm-6" style="border-radius: 20px; max-height: 442px; overflow-y: auto;">
            <div class="container shadow" style="height: 100%;">
                <div class="content" style="width: 100%;">
                  <div class="row ">
                    <div class="col-12">
                      <div class="container borderBotton">
                        <div class="row">
                          <div class="col-6 p-1" style="text-align: center;">
                            <section class="  p-1" style="text-align: center; border-radius: 20px; ">
                              <div class="row">
                                <div class="col-12" style="text-align: center;">
                                  <section class="paddinLader">
                                    <label for="exampleFormControlSelect1">Colores disponibles:</label>
                                    <select class="form-control form-control-sm text-align" [(ngModel)]="data.color"
                                        (change)="colorSeleccionado( );" id="sel_color">
                                        <option value="null">Todos</option>
                                        <option [value]="item.talla" *ngFor="let item of data.listColor">
                                          {{ item.talla }}
                                        </option>
                                    </select>
                                  </section>
                                </div>
                                <div class="col-12" style="text-align: center;">
                                  <section class="paddinLader">
                                    <label>Cantidad Adquirir</label>
                                    <input type="number" [(ngModel)]="data.cantidadAdquirir" class="form-control form-control-sm text-align">
                                  </section>
                                </div>
                              </div>
                            </section>
                          </div>
                          <div class="col-6 p-1" style="text-align: center;">
                            <section class="  p-1" style="text-align: center; border-radius: 20px; ">
                              <div class="row">
                                <div class="col-12">
                                  <section class="paddinLader" *ngIf="seleccionoColor.tallaSelect[0].tal_descripcion !== 'Unica'">
                                    <label for="exampleFormControlSelect1">Tallas disponibles:</label>
                                    <select class="form-control form-control-sm text-align" [(ngModel)]="data.tallas"
                                        (change)="seleccionTalla()" [disabled]="!data.color">
                                        <option [value]="item.tal_descripcion" *ngFor="let item of seleccionoColor.tallaSelect">
                                            Tamaño: {{
                                            item.tal_descripcion }} UND: {{ item.cantidad }}</option>
                                    </select>
                                  </section>
                                  <section class="paddinLader" *ngIf="seleccionoColor.tallaSelect[0].tal_descripcion === 'Unica'">
                                    <p>
                                      Cantidades {{ seleccionoColor.tallaSelect[0].cantidad }}
                                    </p>
                                  </section>
                                </div>
                                <div class="col-12" *ngIf="!data.coinShop">
                                  <section class="paddinLader">
                                    <label>Lo Vendes en:</label>
                                    <input currencyMask [(ngModel)]="data.encuanto" class="form-control form-control-sm text-align" [options]="opcionCurrencys" (blur)="validando()"/>
                                  </section>
                                </div>
                              </div>
                            </section>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 ">
                      <div class="container borderBotton pb-1" >
                        <div class="row">
                          <div class="col-12">
                            <div class="d-flex flex-row bd-highlight mb-1" style=" border-radius: 20px;">
                              <div class="p-1 bd-highlight" style="margin: 10px;">
                                <img [src]="urlFoto" alt="" class="img-profile" (error)="handleImageError($event)" loading="lazy">
                              </div>
                              <div class="p-1 bd-highlight" style="margin: auto; margin-left: -10px;">
                                <h4 style="margin: 0 !important;">{{ data.pro_nombre }} </h4>
                                <h5 style="margin: 0 !important;">Colores:{{ data.nameColores }} </h5>
                                <h5 style="margin: 0 !important;">Tamaños Disponibles: {{ data.nemeTalla }} </h5>
                              </div>
                            </div>
                          </div>
                          <div class="col-12" style="border-radius: 20px;">
                            <div class="d-flex justify-content-around">
                              <div style="    padding: 0 5px;">
                                <button (click)="shareUrl()" type="button" class="btn btn-success">
                                  Compartir link
                                </button>
                              </div>
                              <div></div>
                              <div style="    padding: 0 5px;">
                                <button (click)="openUrl( )" type="button" class="btn btn-primary" *ngIf="dataUser.id">
                                  Piezas gráficas
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 pb-2" *ngIf="data.pro_usu_creacion">
                      <div class="container">
                        <div class="row">
                            <div class="col-12 pt-2">
                              <h3 class="mb-0">PROVEEDOR:</h3>
                              <div class="d-flex flex-row bd-highlight mb-1" style="  border-radius: 20px;">
                                <div class="p-1 bd-highlight" style="margin: 2px;">
                                  <img [src]="data.pro_usu_creacion.usu_imagen" alt="" class="img-profile" (error)="handleImageError($event)" loading="lazy">
                                </div>
                                <div class="p-1 bd-highlight" style="margin: auto; margin-left: 10px;">
                                  <h4 style="margin: 0 !important;">Nombre: {{ data.pro_usu_creacion.usu_usuario | slice: 0:12 }} </h4>
                                  <h5 style="margin: 0 !important;">Whatsapp: {{ data.pro_usu_creacion.usu_telefono }} </h5>
                                  <h5 style="margin: 0 !important;">Ubicación: {{ data.pro_usu_creacion.usu_ciudad | slice: 0:12 }} </h5>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 p-3" style="max-height: 200px; overflow-y: auto;">
                      <div class="container borderBotton">
                        <div class="row">
                            <div class="col-12">
                              <h3>DESCRIPCION:</h3>
                              <p [innerHtml]="data.pro_descripcion"></p>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <section *ngIf="breakpoint === 1" style="text-align: center;">
          <button type="button" class="btn btn-success m-1" *ngIf="disabledView === 'createPrice'" (click)="handleAddStore()">
            Actualizar Precio
          </button>

          <button cdkFocusInitial (click)="handleAddStore()" type="button" class="btn btn-primary m-1" *ngIf="disabledView === 'store' && dataUser.id">
            Agregar a mi Tienda
          </button>

          <button type="button" class="btn btn-danger m-1" *ngIf="disabledView === 'createPrice'" (click)="handleDroppArticle()">
            Quitar de mi Tienda
          </button>

          <a *ngIf="data['pro_categoria']" target="_blank" [routerLink]="[ '/listproduct/categoria', data['pro_categoria'].id ] " class="btn btn-primary m-1"> ver productos similares </a>

          <button cdkFocusInitial (click)="AgregarCart(false)" type="button" class="btn btn-primary m-1" *ngIf="(disabledView !== 'store') && (disabledView !== 'createPrice')">
            {{ titleButton }}
          </button>
        </section>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="center" style="padding-bottom: 20px;">
    <div class="d-flex justify-content-around" style="width: 100%;" *ngIf="breakpoint === 6">
      <div *ngIf="disabledView === 'createPrice'">
        <button type="button" class="btn btn-warning" (click)="handleAddStore()" style="padding: 2% 50px;">
          Actualizar Precio
        </button>
      </div>
      <div *ngIf="disabledView === 'store' && dataUser.id">
        <button cdkFocusInitial (click)="handleAddStore()" type="button" class="btn btn-primary" style="padding: 2% 50px;">
          Agregar a mi Tienda
        </button>
      </div>
      <div *ngIf="disabledView === 'createPrice'">
        <button type="button" class="btn btn-danger" (click)="handleDroppArticle()" style="padding: 2% 50px;">
          Quitar de mi Tienda
        </button>
      </div>
      <div *ngIf="data['pro_categoria']">
        <a target="_blank" [routerLink]="[ '/listproduct/categoria', data['pro_categoria'].id ] " style="padding: 2% 50px;" class="btn btn-primary"> Ver Productos Similares </a>
      </div>
      <div *ngIf="(disabledView !== 'store') && (disabledView !== 'createPrice')">
        <button cdkFocusInitial (click)="AgregarCart(false)" type="button" class="btn btn-primary" style="padding: 2% 50px;">
          {{ titleButton }}
        </button>
      </div>
    </div>
</mat-dialog-actions>

