<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card" style="overflow-x: scroll;">
            <br>
            <br>
            <div class="card-header card-header-primary card-header-icon">
              <div class="card-icon">
                <i class="material-icons">assignment</i>
              </div>
              <h4 class="card-title">Ventas Vera</h4>
            </div>
            <div class="card-body">
              <div class="toolbar">
                <!--        Here you can write extra buttons/actions for the toolbar              -->
              </div>
              <div *ngIf="loader" class="loader">
                <svg class="circular" viewBox="25 25 50 50">
                  <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                </svg>
                Loading..
              </div>
              <div id="datatables_filter" class="dataTables_filter row">
                <div class="search-container">
                  <input [(ngModel)]="datoBusqueda" (change)="buscar('none')" type="search" class="form-control form-control-sm"
                    placeholder="Buscar Ventas" aria-controls="datatables">
                  <div class="form-group p-3">
                    <label for="exampleFormControlSelect1">Pais </label><div>
                    <select class="search-select" placeholder="Buscar Por Pais" [(ngModel)]="datoBusqueda" (change)="buscar('pais')">
                      <option value="option1" value="colombia">Colombia</option>
                      <option value="option2" value="panama">Panama</option>
                    </select>
                  </div>
                  <button class="search-button" (click)="buscar('none')">Buscar</button>
                </div>
              </div>
              <div class="col-12 material-datatables" *ngIf="!loader">
                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0"
                  width="100%" style="width:100%">
                  <thead>
                    <tr>
                      <th *ngFor="let row of dataTable.headerRow">{{ row }}</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th *ngFor="let row of dataTable.headerRow">{{ row }}</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr *ngFor="let row of dataTable.dataRows; let idx=index"
                        [ngClass]="{
                            'colorFondo':row['estado'] == 1,
                            'colorCompletado':row['estado'] == 2,
                            'colorDespachado':row['estado'] == 1,
                            'colorEntrante':row['estado'] == 0,
                            'colorEliminado':row['estado'] == 3
                        }"
                    >

                      <td>
                        <button (click)="crear(row)" class="btn btn-primary btn-just-icon btn-round">
                          <i class="material-icons">remove_red_eye</i>
                        </button>
                        <!--<button (click)="delete(row, idx)" class="btn btn-danger btn-just-icon btn-round">
                          <i class="material-icons">delete_forever</i>
                        </button>-->
                      </td>
                      <td>{{row['nombre']}}</td>
                      <td>{{row['numero']}}</td>
                      <td>{{row['ciudad']}}</td>
                      <td>{{ row['barrio']  }}</td>
                      <td>
                        <img src="./assets/imagenes/colombia.jpg" alt="" *ngIf="row['paisCreado'] === 'Colombia'" style="width: 100%; height: 50px;">
                        <img src="./assets/imagenes/panama.jpg" alt="" *ngIf="row['paisCreado'] === 'Panama'" style="width: 100%; height: 50px;">
                      </td>
                      <td>{{ row['notifiedWeb'] === 0 ? "SI": "NO"}}</td>
                      <td>{{ row['createdAt'] | date:'medium' }}</td>

                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-12">
                <div class="d-flex flex-row-reverse bd-highlight">
                  <mat-paginator [length]="count" [pageSizeOptions]="[10, 25, 100]"
                      (page)="pageEvent($event)">
                  </mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
