.ancho {
    width: 100%;
  }
.fondoFoto{
  background-image: url("https://media.giphy.com/media/jpc0aiFZVMS4LuLqUF/giphy.gif");
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 100% 100%;
  
  height: 2pc;
  width: 100%;
}