<h2 mat-dialog-title>DATOS NECESARIOS PARA REALIZAR EL COBRO</h2>
<mat-dialog-content class="mat-typography">
    <div class="form row">
        <div class="form-group col-12">
            <label for="exampleFormControlSelect1">Pais Donde vas a retirar</label>
            <select class="form-control form-control-sm" [(ngModel)]="data.cob_pais">
                <option value="colombia">Colombiano</option>
                <option value="venezuela">Venezolano</option>
            </select>
        </div>
        <div class="form-group col-12" *ngIf="data.id && superSub">
            <label for="exampleFormControlSelect1">Estado del Cobro</label>
            <select class="form-control form-control-sm" [(ngModel)]="data.cob_estado">
                <option type="number" value="0">Activa</option>
                <option type="number" value="1">Apraboda</option>
                <option type="number" value="2">Rechazada</option>
                <option type="number" value="3">Eliminado</option>
            </select>
        </div>
        <div class="form-group col-12">
            <label>Número Cédula</label>
            <input type="text" [(ngModel)]="data.cob_num_cedula" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12">
            <label>Número para llamarte en caso de falta de información</label>
            <input type="text" [(ngModel)]="data.cob_num_celular" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12" *ngIf="data.cob_pais == 'colombia'">
            <label>Metodo de pago para colombianos (Llenar si eres Colombiano)</label>
            <select class="form-control form-control-sm" [(ngModel)]="data.cob_metodo">
                <option value="cuenta_de_ahorro_bancolombia">CUENTA DE AHORRO BANCOLOMBIA</option>
                <option value="nequi">NEQUI</option>
                <option value="davi_plata">DAVI PLATA</option>
                <option value="ahorro_a_la_mano_bancolombia">AHORRO A LA MANO BANCOLOMBIA</option>
            </select>
        </div>
        <div class="form-group col-12" *ngIf="data.cob_pais == 'venezuela'">
            <label>Metodo de pago para Venezolanos (Llenar si eres Venezolano)</label>
            <select class="form-control form-control-sm" [(ngModel)]="data.cob_metodo">
                <option value="Efecty">EFECTY</option>
                <option value="transfer_bancaria">TRANSFERENCIA BANCARIA</option>
            </select>
        </div>
        <div class="form-group col-12" *ngIf="data.cob_pais == 'colombia'">
            <label *ngIf="data.cob_metodo == 'nequi' || data.cob_metodo == 'davi_plata'">Número de Celular de la cuenta {{ data.cob_metodo }}</label>
            <label *ngIf="data.cob_metodo != 'nequi' && data.cob_metodo != 'davi_plata'">Número de la cuenta bancaria</label>
            <input type="text" [(ngModel)]="data.cob_num_cuenta" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 row" *ngIf="data.cob_pais == 'venezuela'">
            <div class="form-group col-12" *ngIf="data.cob_metodo == 'Efecty'">
                <label>Numero de cedula</label>
                <input type="text" [(ngModel)]="data.cob_numero_cedula" class="form-control form-control-sm">
            </div>
            <div class="form-group col-12" *ngIf="data.cob_metodo == 'Efecty'">
                <label>Ciudad o corregimiento donde deseas retirar</label>
                <input type="text" [(ngModel)]="data.cob_ciudad_corregimiento" class="form-control form-control-sm">
            </div>
            <div class="form-group col-12" *ngIf="data.cob_metodo == 'transfer_bancaria'">
                <label>Nombre del banco Correctamente</label>
                <input type="text" [(ngModel)]="data.cob_nombre_banco" class="form-control form-control-sm">
            </div>
            <div class="form-group col-12" *ngIf="data.cob_metodo == 'transfer_bancaria'">
                <label>Numero de cuenta</label>
                <input type="text" [(ngModel)]="data.cob_num_cuenta" class="form-control form-control-sm">
            </div>
            <div class="form-group col-12" *ngIf="data.cob_metodo == 'transfer_bancaria'">
                <label>Numero de cédula</label>
                <input type="text" [(ngModel)]="data.cob_numero_cedula" class="form-control form-control-sm">
            </div>
        </div>
        <div class="form-group col-12">
            <label>Monto</label>
            <input type="number" [(ngModel)]="data.cob_monto" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12">
            <label>Descripcion</label>
            <textarea class="form-control" [(ngModel)]="data.cob_descripcion" rows="3"></textarea>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
  <button mat-button cdkFocusInitial (click)="submit()" [disabled]="disabledButton">
      <span *ngIf="!id">Guardar Cambios</span>
      <span *ngIf="id">Actulizar Cambios</span>
  </button>
</mat-dialog-actions>