<h2 mat-dialog-title>
    <span> Terminos de Privacidad. </span>
</h2>

<mat-dialog-content class="mat-typography">
    <div class="row">
        <div class="form-group col-12">
            <p>
              TÉRMINOS Y CONDICIONES GENERALES
              Última actualización 28  de agosto de 2023

              DEFINICIONES
              SERVICIO: Este término engloba todas las aplicaciones y funcionalidades desarrolladas y disponibles en Lokomproaqui

              CUENTA: Se refiere al acceso proporcionado al usuario, así como a toda la información y contenido asociado a las funcionalidades de Lokomproaqui.

              NEGOCIO: Engloba a las pequeñas, medianas y grandes empresas que utilizan las plataformas electrónicas y forman parte de la comunidad de Lokomproaqui.com

              CLIENTE LOKOMPROAQUI: Este término abarca tanto a los comercios como a las personas naturales o jurídicas que tienen una cuenta en la plataforma Lokomproaqui.com. Estos clientes han aceptado los términos y condiciones y utilizan con regularidad los servicios ofrecidos por Lokomproaqui.

              PREFACIO
              Lokomproaqui, en su calidad de entidad jurídica, tiene como principal objetivo impulsar, respaldar y dinamizar las dinámicas del comercio electrónico. A través de su plataforma, Lokomproaqui.com proporciona a los comercios y vendedores las herramientas esenciales para que puedan llevar a cabo ventas, envíos y cobros de manera remota. En este sentido, Lokomproaqui actúa como intermediario, gestionando tanto los procesos de pago como los de envío de los productos comercializados.
              El presente documento establece los términos y condiciones generales que rigen en Lokomproaqui. Al aceptar estos términos, manifiestas haber leído, comprendido y aceptado su contenido. Los términos y condiciones generales detallan el alcance del servicio proporcionado, así como las obligaciones y derechos tanto de los usuarios como de la plataforma. Cabe destacar que estos términos tienen un carácter vinculante y su cumplimiento es obligatorio.

              1. CAPACIDAD LEGAL DE LAS PARTES
              Nuestros servicios están destinados exclusivamente a aquellas personas que posean la capacidad legal para celebrar contratos y obligarse de acuerdo a la legislación vigente en el territorio colombiano. Por lo tanto, al utilizar nuestra plataforma y acceder a los servicios ofrecidos por Lokomproaqui, certificas que eres mayor de 18 años y que no tienes limitaciones legales para obligarte en el caso de personas naturales. En el caso de actuar como representante legal de una persona jurídica, manifiestas tener la capacidad para obligar a dicha entidad.

              2. CONSENTIMIENTO
              Al aceptar los términos y condiciones presentados, demuestras tu comprensión de las condiciones bajo las cuales se presta el servicio y tu voluntad de acceder a dicho servicio de manera consciente y sin coacción externa. Utilizar los servicios ofrecidos es una elección personal, pero al hacerlo, te comprometes a respetar las condiciones establecidas en este documento, así como las condiciones adicionales detalladas en los Términos y Condiciones Generales, las Políticas de Privacidad, los Términos y Condiciones de Envíos, los Términos y Condiciones de Pagos, los Términos y Condiciones de Pronto Desembolso y los Términos y Condiciones de Bodegas de Lokomproaqui

              3. OBJETO
              El presente contrato tiene como finalidad principal facilitar a los usuarios el uso de la plataforma Lokomproaqui. A través de esta plataforma y en colaboración con los aliados estratégicos de Lokomproaqui, los usuarios tienen la posibilidad de llevar a cabo ventas a través de internet.
              Los vendedores que utilizan la plataforma son los únicos responsables de la legalidad y legitimidad de los productos y servicios que ofrecen. Es responsabilidad de los vendedores cumplir con todas las obligaciones regulatorias pertinentes y obtener los registros, habilitaciones, permisos y/o autorizaciones requeridos por la normativa aplicable para la venta de los bienes y servicios ofrecidos. Lokomproaqui no asume ninguna responsabilidad por la presencia de productos o servicios en la plataforma que infrinjan políticas, leyes o resoluciones judiciales vigentes.

              4. CUMPLIMIENTO
              Al utilizar los servicios de Lokomproaqui, manifiestas que tu intención es legítima y que no tienes la intención de violar ni transgredir ninguna norma legal vigente. Si bien Lokomproaqui no está obligado a hacerlo, se reserva el derecho de retirar tiendas o productos de la plataforma o de suspender el servicio a ciertas tiendas en caso de sospecha de actividades ilícitas.

              5. IDENTIFICACIÓN
              La creación de una cuenta en Lokomproaqui está limitada a una cuenta por persona jurídica o natural. Por tanto, Lokomproaqui se reserva el derecho de solicitar la identificación del titular de la cuenta y los respectivos documentos de respaldo cuando sea necesario. Además, Lokomproaqui se reserva el derecho de cerrar cuentas múltiples pertenecientes a la misma persona natural o entidad jurídica.

              6. REMUNERACIÓN
              Los detalles relacionados con la remuneración por los servicios proporcionados por Lokomproaqui se detallan en los Términos y Condiciones específicos de los servicios, tales como los Términos y Condiciones de Envíos, los Términos y Condiciones de Pagos, los Términos y Condiciones de Pronto Desembolso y los Términos y Condiciones de Bodegas de Lokomproaqui.

              7. CANCELACIÓN DE LA CUENTA
              Lokomproaqui se reserva el derecho de cancelar tu cuenta en caso de detectar suplantación de identidad, fraude, posesión de múltiples cuentas a nombre de un mismo titular o si se están llevando a cabo acciones que contravienen lo estipulado en los términos de servicio o la legislación vigente. De manera similar, tienes la posibilidad de solicitar la cancelación de tu cuenta de manera unilateral a través del envío de un correo electrónico a la dirección lokomproaqui@gmail.com. En tal caso, se suspenderá el servicio y se procederá a liberar el saldo que tengas en tu cuenta. Sin embargo, al solicitar la cancelación, otorgas expresamente a Lokomproaqui la autorización para deducir de tu saldo, antes de la cancelación, cualquier cantidad que puedas adeudar a Lokomproaqui de manera efectiva o que se encuentre en disputa con alguna entidad debido a
              denuncias de fraude u otras circunstancias.

              8. RESPONSABILIDADES DEL CLIENTE LOKOMPROAQUI
              Como Cliente Lokomproaqui, tienes una serie de responsabilidades que debes cumplir:
              a) Debes proporcionar información veraz y verificable a la plataforma.
              b) Estás obligado a actuar respetando el ordenamiento jurídico vigente.
              c) Debes brindar una clara identificación de los productos que ofreces, vendes y envías a través de la plataforma Lokomproaqui.
              d) Se espera que mantengas un trato respetuoso y adecuado tanto con Lokomproaqui como con sus aliados.
              e) Debes respetar los derechos de propiedad intelectual de Lokomproaqui, sus clientes y sus aliados.
              f) En caso de ser necesario, debes emitir una factura de venta correspondiente a las transacciones realizadas.
              g) Es importante proporcionar información precisa en relación al contenido, dimensiones y peso de los paquetes enviados.

              9. NULIDAD PARCIAL
              En caso de que alguna disposición o parte de la misma contenida en estos Términos del Servicio sea considerada inválida, ilegal o no ejecutable en cualquier aspecto por cualquier motivo, dicha invalidez, ilegalidad o inaplicabilidad no afectará a ninguna otra disposición (ni a la parte no afectada de la disposición) de estos Términos del Servicio. Los Términos del Servicio serán interpretados como si dicha disposición inválida, ilegal o no ejecutable, o parte de la disposición, nunca hubieran sido incluidas en los Términos del Servicio.

              10. AUTORIZACIÓN

              En los presentes términos y condiciones, los vendedores y/o proveedores otorgan a Lokomproaqui la autorización para congelar los saldos de la billetera y/o revertir transacciones en caso de presentarse reclamaciones derivadas del derecho de retracto, solicitudes de garantías, devoluciones por publicidad engañosa o cualquier otra reclamación por parte de los consumidores finales relacionada con incumplimientos atribuibles a estos.

              11. PLAZO PARA RECLAMACIONES DE CLIENTES FINALES
              Los clientes finales únicamente podrán presentar solicitudes de derecho de retracto, garantía, devolución de dinero o cualquier otro tipo de petición relacionada con la compra realizada en un plazo de 15 días hábiles a partir de la fecha en que se efectuó dicha compra. Transcurrido este plazo, no se admitirán reclamaciones.
              Espero que esta versión ampliada y detallada sea útil para tus necesidades. Si tienes alguna otra solicitud o pregunta, no dudes en decírmelo.
            </p>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>
