<div class="col-12" class="colorFondo2" style="width: 100%;">
    <div class="d-flex justify-content-center" style="width: 100%;">
      <div class="paddingG">
        <div class="row" style="margin: 4%;">
          <div class="col-4 col-sm-3 paddingG">
            <h1 class="font-weight-bold">+{{ contect.contadorC }}</h1>
            <p class="font-weight-bold" [innerHTML]="contect.titleC"></p>
          </div>
          <div class="col-4 col-sm-3 paddingG">
            <h1 class="font-weight-bold">+{{ contect.contadorD }}</h1>
            <p class="font-weight-bold" [innerHTML]="contect.titleD"></p>
          </div>
          <div class="col-4 col-sm-3 paddingG">
            <h1 class="font-weight-bold">+{{ contect.contadorE }}</h1>
            <p class="font-weight-bold" [innerHTML]="contect.titleE"></p>
          </div>
          <div class="col-4 col-sm-3 paddingG">
            <h1 class="font-weight-bold">+{{ contect.contadorM }}</h1>
            <p class="font-weight-bold" [innerHTML]="contect.titleM"> </p>
          </div>
        </div>
      </div>
    </div>
  </div>