<div class="container">
    <br><br>
    <p class="text-left">
        <a [routerLink]="[ '/pedidos' ]">Volver Productos</a>
    </p>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 col-12">
            <lib-ngx-image-zoom
                [thumbImage]=data.foto
                [fullImage]=data.foto
                [magnification]="1"
                [enableScrollZoom]="true"
                [enableLens]="true"
                [lensWidth]="200"
                [lensHeight]="200"
            ></lib-ngx-image-zoom>
        </div>
        <!-- <img class="imgProducto col-md-6 col-sm-8 col-lg-6 col-xs-6" [src]="data.foto || './assets/img/producto.jpg'"> -->
        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 content row col-12">
            <div class="col-12">
                <h3 class="text-primary">$ {{ ( data.pro_uni_venta || 0).toLocaleString(1) }} COP</h3>
                <select class="form-control form-control-sm" [(ngModel)]="data.color" (change)="cambioImgs()" *ngIf="data.listColor?.length">
                    <option [value]="item.foto" *ngFor="let item of data.listColor">{{ item.talla }}</option>
                </select>
                <h4>{{ data.pro_nombre }}</h4>
                <p [innerHtml]="data.pro_descripcion | slice: 0: rango"></p>
                <p *ngIf="rango == 100" (click)="rango = 5000" class="text-primary">leer mas..</p>
                <p *ngIf="rango != 100" (click)="rango = 100" class="text-primary">leer menos..</p>
                <div class="d-flex justify-content-center">
                    <div>
                        <div *ngIf="data.listTallas">
                            <label for="exampleFormControlSelect1">Tallas disponibles:</label>
                            <select class="form-control form-control-sm" [(ngModel)]="data.tallas">
                                <option [value]="item.tal_descripcion" *ngFor="let item of data.listTallas">{{ item.tal_descripcion }}</option>
                            </select>
                        </div>
                        <label>Cantidad Adquirir</label>
                        <input type="number" [(ngModel)]="data.cantidadAdquirir" class="form-control form-control-sm">
                    </div>
                </div>
                <br>
                <div *ngIf="data.checkMayor == 1">
                    <mat-list>
                        <div mat-subheader>Lista de precios al Mayor</div>
                        <mat-list-item *ngFor="let item of data.listPrecios" class="pointer"  (click)="AgregarCart(item)"
                        [ngClass]="{
                            'colorSeleccionado':item.selecciono == true
                          }"
                        >
                          <div mat-line class="row">
                              <div class="col-6">
                                  <span>Cantidad: {{ item.cantidad }}</span>
                                  &nbsp;&nbsp;
                                  <span>Precios: {{ ( item.precios || 0 ).toLocaleString(1) }} COP</span>
                              </div>
                          </div>
                        </mat-list-item>
                      </mat-list>
                </div>
                <button (click)="AgregarCart(false)" type="button" class="btn btn-primary">
                    Agregar
                </button>
            </div>
        </div>
    </div>
</div>
