<body>
  <div id=render-table class="main_wrapper_main mobile_grid" style="background-color: white; background-size: auto; background-repeat: no-repeat; padding: 20px; border-color: transparent; border-style: solid; border-width: 0px; color: rgb(37, 42, 50); font-family: Roboto; font-size: 14px;">
      <main class=main-wrapper>
          <section id=54198 class="section full" style="background-size: auto; background-repeat: no-repeat;">
              <div id=46695 class=section_row style="border-color: transparent; border-style: solid; border-width: 0px; color: rgb(8, 8, 8); font-size: 14px; text-align: initial; margin: 0px; padding: 0px; background-size: auto; background-repeat: no-repeat;">
                  <div class=row-column style="width: 100%;">
                      <div class=element-wrapper>
                          <!-- rgb(255 64 129); -->
                          <div style="width: 100%; line-height: 1; color: white; margin: 10px 0px 0px; padding: 5px; background-color: rgb(8 8 8); text-shadow: transparent 0px 0px 0px;">
                              <style>
                                  .el-89628 {
                                      font-size: calc(16px + 8 * ((100vw - 320px) / 960));
                                      text-align: center;
                                  }

                                  @media screen and (min-width: 480px) {
                                      .el-89628 {
                                          font-size: calc(18px + 8 * ((100vw - 320px) / 960));
                                          text-align: center;
                                      }
                                  }

                                  @media screen and (min-width: 1024px) {
                                      .el-89628 {
                                          font-size: 18px;
                                          text-align: center;
                                      }
                                  }
                              </style>
                              <div class=headline-inner>
                                  <h2 style="text-align: center;">
                                      <span style="color: rgb(255, 255, 255);">FALTA POCO TIEMPO PARA</span>
                                  </h2>
                                  <h2 style="text-align: center;">
                                      <span style="color: rgb(255, 255, 255);">QUE ESTA </span><strong style="color: rgb(253, 204, 94);">OFERTA</strong><strong style="color: rgb(255, 255, 255);"> </strong><span style="color: rgb(255, 255, 255);">TERMINE:</span></h2>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div id=259692 class=section_row style="border-color: transparent; border-style: solid; border-width: 0px; color: rgb(8, 8, 8); font-size: 14px; text-align: initial; margin: 0px; padding: 0px; background-color: transparent; background-size: auto; background-repeat: no-repeat;">
                  <div class=row-column style="width: 100%;">
                      <div class=element-wrapper>
                          <div class="timer-container el-272680" style="border-color: rgb(21, 215, 174); border-style: solid; border-width: 0px; border-radius: 0px; margin: 5px 0px 0px; padding: 10px 0px 0px; background-color: rgb(8 8 8);">
                              <style>
                                  .el-272680 {
                                      align-items: center;
                                  }

                                  .timer-id-272680 li .timer_number {
                                      color: #0A0A0A;
                                      border-top: 0px solid null;
                                      border-left: 0px solid null;
                                      border-right: 0px solid null;
                                      border-bottom: 0px solid null;
                                      border-radius: 15px 15px 15px 15px;
                                      border-color: null;
                                      background-color: white;
                                      font-family: inherit;
                                      font-size: 36px;
                                      text-align: center;
                                      font-weight: normal;
                                      font-style: normal;
                                      text-decoration: none;
                                  }

                                  .timer-id-272680 li .timer_label {
                                      color: white;
                                      font-family: inherit;
                                      font-size: 16px;
                                      text-align: center;
                                      font-weight: normal;
                                      font-style: normal;
                                      text-decoration: none;
                                  }
                              </style>
                              <ul data-expire data-expire-url class="timer-id-272680 timer">
                                  <li><span data-hours=0 class=timer_number>{{ timeot.hora }} </span><span class=timer_label>Horas</span>
                                      <li><span data-minutes=14 class=timer_number>{{ timeot.minuto }} </span><span class=timer_label>Minutos</span>
                                          <li><span data-seconds=15 class=timer_number>{{ timeot.milesegundo }} </span><span class=timer_label>Segundos</span>
                              </ul>
                          </div>
                      </div>
                      <div class=element-wrapper>
                          <div class="spacer form_group with_edit_btn" style="margin: 0px; padding: 0px;">
                              <div class=inner-spacer style="border-top: 2px solid white;"></div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <section id=40710 class="section half" style="color: transparent; font-size: 14px; text-align: initial; padding: 0px; background-color: rgb(8 8 8); background-size: auto; background-repeat: no-repeat;">
              <div id=54455 class=section_row style="margin: 0px; background-color: white; background-size: auto; background-repeat: no-repeat;">
                  <div class=row-column style="width: 100%;">
                      <div class=element-wrapper>
                          <div style="width: 100%; line-height: 1; color: rgb(21, 215, 174); font-family: Bebas Neue; margin: 0px; padding: 5px; background-color: rgb(8 8 8); text-shadow: transparent 0px 0px 0px;">
                              <style>
                                  .el-815933 {
                                      font-size: calc(40px + 8 * ((100vw - 320px) / 960));
                                      text-align: center;
                                  }

                                  @media screen and (min-width: 480px) {
                                      .el-815933 {
                                          font-size: calc(36px + 8 * ((100vw - 320px) / 960));
                                          text-align: center;
                                      }
                                  }

                                  @media screen and (min-width: 1024px) {
                                      .el-815933 {
                                          font-size: 18px;
                                          text-align: center;
                                      }
                                  }
                              </style>
                              <div class=headline-inner style="height: 70px;">
                                  <h2 style="text-align: center;padding-top: 10px;;">
                                      <span style="color: white; background-color: rgba(0, 0, 0, 0); font-size: 200%;">{{ data['pro_categoria']?.cat_nombre }}</span>
                                  </h2>
                              </div>
                          </div>
                      </div>
                      <div class=element-wrapper>
                          <div class="spacer form_group with_edit_btn" style="margin: 0px; padding: 0px;">
                              <div class=inner-spacer style="border-top: 2px solid white;"></div>
                          </div>
                      </div>
                      <div class=element-wrapper>
                          <!-- primera imagen -->
                          <div class="img el-290431" style="margin: 5px 0px 0px;">
                              <style>
                                  .el-290431 {
                                      align-items: center;
                                  }
                              </style>
                              <a target="_self">
                                  <div class="image-container">
                                    <img src="{{data.foto}}" data-srcset="{{data.foto}} 1x" alt data-sizes=auto data-src="{{data.foto}}" class="lazyload" width=100% height=auto>
                                  </div>
                              </a>
                          </div>
                      </div>
                      <div class=element-wrapper>
                          <div style="font-size: 178%; line-height: 1; color: rgb(0, 0, 0); margin: 0px; padding: 5px; background-color: white; text-shadow: transparent 0px 0px 0px;">
                              <div class=headline-inner style="    text-align: center;">
                                  <h3><strong>ANTES <s>{{ _tools.monedaChange( 3, 2, data.pro_uni_venta + (data.pro_uni_venta * 40 /100)) }}</s></strong></h3>
                              </div>
                          </div>
                      </div>
                      <div class=element-wrapper>
                          <div style="font-size: 178%; line-height: 1; border-style: none; border-width: medium; color: rgb(255, 0, 0); margin: 0px; padding: 0px 5px 5px; box-shadow: transparent 0px 0px 0px 0px; text-shadow: transparent 0px 0px 0px;">
                              <div class=headline-inner style="    text-align: center;">
                                  <h3><strong>AHORA {{ this._tools.monedaChange( 3, 2, data.pro_uni_venta ) }} </strong></h3>
                              </div>
                          </div>

                      </div>
                      <div class=element-wrapper>
                          <div class="kreep">
                              <!-- <a target=_self (click)="buyArticulo( 1, false )" class=btn style="border-radius: 0px; margin: 30px 0px 20px; padding: 15px; background-color: rgb(255 64 129);"> -->
                              <a target=_self (click)="scrollToNextStep( )" class=btn style="border-radius: 0px; margin: 10px 0px 20px; padding: 15px; background-color: rgb(34 206 90);">
                                  <span class=btn-headline style="font-weight: bold; font-size: 20px; text-align: center;color: white;">¡HACER PEDIDO AHORA!
    </span>
                              </a>
                          </div>
                      </div>
                      <div class=element-wrapper>
                          <div style="font-size: 178%; line-height: 1; border-style: none; border-width: medium; color: rgb(255, 0, 0); margin: 0px; padding: 0px 5px 5px; box-shadow: transparent 0px 0px 0px 0px; text-shadow: transparent 0px 0px 0px;">
                              <div class=headline-inner style="    text-align: center;">
                                  <h3 style="text-align: center;"><span style="color: white;">🔥</span> <strong style="color: rgb(0, 0, 0); font-size: 14px;">PAGO CONTRA ENTREGA </strong><span style="color: white;">🔥</span>
                                  </h3>
                              </div>
                          </div>
                      </div>
                      <div class=element-wrapper>
                          <div style="font-size: 178%; line-height: 1; border-style: none; border-width: medium; color: rgb(255, 0, 0); margin: 0px; padding: 0px 5px 5px; box-shadow: transparent 0px 0px 0px 0px; text-shadow: transparent 0px 0px 0px;">
                              <div class=headline-inner style="    text-align: center;">
                                  <h3 style="text-align: center;"><span style="color: white;">🚚 </span><strong style="color: rgb(10, 10, 10); font-size: 14px;">ENVIOS A NIVEL NACIONAL</strong><strong style="color: white; font-size: 14px;"> </strong><strong style="color: white; font-size: 18px;">🇨🇴</strong></h3>
                              </div>
                          </div>
                      </div>
                      <div class=element-wrapper>
                          <div style="font-size: 178%; line-height: 1; border-style: none; border-width: medium; color: rgb(255, 0, 0); margin: 0px; padding: 0px 5px 5px; box-shadow: transparent 0px 0px 0px 0px; text-shadow: transparent 0px 0px 0px;">
                              <div class=headline-inner style="    text-align: center;">
                                  <h3><span style="font-size: 25px;">⭐️⭐️⭐️⭐️⭐️</span></h3>
                                  <p><strong class=ql-font-archivo>CALIDAD GARANTIZADA</strong>
                              </div>
                          </div>
                      </div>
                      <div class=element-wrapper>
                          <div *ngIf="!data.pro_video_token" class="image-slider el-36582" style="margin: 10px 0px 0px; object-fit: contain;">
                              <div class=is-image-wrapper>
                                  <div class="image-resize img">
                                      <img [src]="urlFoto" data-srcset="{{urlFoto}}?auto=compress,format&optimize=medium&fit=clip&w=100%&h=auto 1x" alt data-sizes=auto data-src="{{urlFoto}}?auto=compress,format&optimize=medium&fit=clip&w=100%&h=auto" class=lazyload style="object-fit: contain;"
                                          width=100% height=auto>
                                  </div>
                              </div>
                              <div class=is-thumbs-wrapper>
                                  <div class="is-thumbnails" *ngIf="listGaleria.length <= 5">
                                      <div *ngFor="let row of listGaleria" (click)="handleNewPhoto( row )" class="is-thumbnail selected" style="width: 100%; height: auto;">
                                          <img alt [src]="row.foto" data-src="{{row.foto}}?auto=compress,format&fit=clip&w=100%&h=auto" loading=lazy class=lazyload>
                                      </div>
                                  </div>
                                  <div *ngIf="listGaleria.length >= 5">
                                      <ng-image-slider [images]="imageObject" [infinite]="sliderInfinite" [imagePopup]="sliderImagePopup" [showArrow]="sliderArrowShow" [imageSize]="{width: sliderImageWidth, height: sliderImageHeight}" [autoSlide]="sliderAutoSlide ? 1 : 0" [slideImage]="sliderSlideImage"
                                          [animationSpeed]="sliderAnimationSpeed" (imageClick)="imageOnClick($event)" (arrowClick)="arrowOnClick($event)" (lightboxArrowClick)="lightboxArrowClick($event)" #nav>
                                      </ng-image-slider>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- <div class=element-wrapper *ngIf="id == '1'">
  <div class="img el-290431" style="margin: 5px 0px 0px;">
  <style> .el-290431 { align-items: center; } </style>
  <a target="_self">
    <img  src="assets/imagenes/foto2.webp" data-srcset="assets/imagenes/foto2.webp 1x" alt data-sizes=auto data-src="assets/imagenes/foto2.webp" class="lazyload" width=100% height=auto>
  </a>
  </div>
</div> -->
                      <!-- <div class=element-wrapper>
<div class="img el-290431" style="margin: 5px 0px 0px;">
  <style> .el-290431 { align-items: center; } </style>
  <a target="_self">
    <img *ngIf="data['pro_categoria']?.id == 16"  src="assets/imagenes/talla1.webp" data-srcset="assets/imagenes/talla2.webp 1x" alt data-sizes=auto data-src="assets/imagenes/talla2.webp" class="lazyload" width=100% height=auto>
    <img *ngIf="data['pro_categoria']?.id == 14"  src="assets/img/tallM.jpeg" data-srcset="assets/img/tallM.png 1x" alt data-sizes=auto data-src="assets/img/tallM.png" class="lazyload" width=100% height=auto>
  </a>
</div>
</div> -->

                      <div class="element-wrapper" *ngIf="listTallasS !== 'Unica | '">
                          <div style="font-size: 178%; line-height: 1; color: white; margin: 10px 0px 0px; padding: 5px; text-shadow: transparent 0px 0px 0px;">
                              <h3 style="text-align: center;"><strong class=ql-font-montserrat style="color: rgb(0, 0, 0);">TALLAS DISPONIBLES</strong></h3>
                              <p *ngIf="listTallasS" style="text-align: center;"><span style="background-color: rgb(0, 0, 0); font-size: 24px;">
                                {{ listTallasS }} </span>
                                      <h3><br></h3>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <section id=43406 class="section half" style="background-size: auto; background-repeat: no-repeat;">
              <div id=80626 class=section_row style="padding: 0px; background-size: auto; background-repeat: no-repeat;">
                  <div class=row-column style="width: 100%;">
                      <div class=element-wrapper>
                          <div class="spacer form_group with_edit_btn" style="margin: 0px; padding: 0px;">
                              <div class=inner-spacer style="border-top: 2px solid white;"></div>
                          </div>
                      </div>
                      <div class=element-wrapper>
                          <div class="btn-container el-16716">
                              <style>
                                  .el-16716 {
                                      align-items: stretch;
                                  }

                                  @media screen and (min-width: 480px) {
                                      .el-16716 {
                                          align-items: center;
                                      }
                                  }

                                  @media screen and (min-width: 1024px) {
                                      .el-16716 {
                                          align-items: center;
                                      }
                                  }
                              </style><a *ngIf="listTallasS !== 'Unica | '" target=_self class=btn style="border-radius: 0px; margin: 0px 0px 10px; padding: 15px; background-color: rgb(8 8 8);"><span
class=btn-headline style="font-weight: bold; font-size: 20px; text-align: center;color: white;">¡SELECCIONA TU TALLA!</span>
<div class=btn-sub-headline style="color: rgb(253, 204, 94); font-size: 12px; text-align: center; margin-top: 1.5px;">
EN LA CONFIRMACIÓN DE TU ORDEN</div>
</a></div>
                      </div>
                      <div class=element-wrapper>
                          <div>
                              <style>
                                  .el-409988 {
                                      align-items: stretch;
                                  }

                                  @media screen and (min-width: 480px) {
                                      .el-409988 {
                                          align-items: center;
                                      }
                                  }

                                  @media screen and (min-width: 1024px) {
                                      .el-409988 {
                                          align-items: center;
                                      }
                                  }
                              </style>
                              <div class="kreep">
                                  <!-- <a target=_self (click)="buyArticulo( 1, false )" class=btn style="border-radius: 0px; margin: 30px 0px 20px; padding: 15px; background-color: rgb(255 64 129);"> -->
                                  <a target=_self (click)="scrollToNextStep( )" class=btn style="border-radius: 0px; margin: 30px 0px 20px; padding: 15px; background-color: rgb(34 206 90);">
                                      <span class=btn-headline style="font-weight: bold; font-size: 20px; text-align: center;color: white;">¡HACER PEDIDO AHORA!
    </span>
                                  </a>
                              </div>

                              <br>
                              <!--<a target=_self (click)="buyArticulo( 2, true )" class=btn style="border-radius: 0px; margin: 30px 0px 20px; padding: 15px; background-color: rgb(0, 0, 0);">
  <span class=btn-headline style="font-weight: bold; font-size: 20px; text-align: center;color: rgb(255, 42, 0);">⚠ LLEVA 2 PARES <br> POR {{ _formato.monedaChange( 3, 2, ( ( data.pro_uni_venta * 2 ) - 20000 ) || 0 ) }}
    DESCUENTO 18% ⚠
  </span>
</a>-->
                          </div>
                      </div>
                      <div class=element-wrapper>
                          <div class="paragraph el-45466" style="line-height: 1; margin: 5px 0px 0px; padding: 10px; text-shadow: transparent 0px 0px 0px;">
                              <style>
                                  .el-45466 {
                                      font-size: 18px;
                                      text-align: center;
                                  }
                              </style>
                              <div>
                                  <h5 style="text-align: center;"><strong style="font-size: 24px; color: rgb(255, 42, 0);">⚠ Atención ⚠</strong></h5>
                                  <p style="text-align: center;"><span style="color: rgb(255, 42, 0); font-size: unset;">¡Este producto es de alta demanda!</span>
                                      <p style="text-align: center;"><span style="color: rgb(255, 42, 0); font-size: unset;">&nbsp;Quedan pocas unidades disponibles.</span>
                                          <h5 style="text-align: center;"><span style="color: rgb(255, 42, 0); font-size: unset;">¡NO DEJES PASAR ESTA OPORTUNIDAD!</span></h5>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <section id=88229 class="section half" style="background-size: auto; background-repeat: no-repeat;">
              <div id=72788 class=section_row style="margin: 20px 0px 0px; background-color: rgb(243, 243, 243); background-size: auto; background-repeat: no-repeat;">
                  <div class=row-column style="width: 100%;">
                      <div class=element-wrapper>
                          <div class="" style="line-height: 1; margin: 10px 0px; padding: 5px; text-shadow: transparent 0px 0px 0px;">
                              <style>
                                  .el-27153 {
                                      font-size: calc(20px + 8 * ((100vw - 320px) / 960));
                                      text-align: center;
                                  }

                                  @media screen and (min-width: 480px) {
                                      .el-27153 {
                                          font-size: calc(18px + 8 * ((100vw - 320px) / 960));
                                          text-align: center;
                                      }
                                  }

                                  @media screen and (min-width: 1024px) {
                                      .el-27153 {
                                          font-size: 18px;
                                          text-align: center;
                                      }
                                  }
                              </style>
                              <div class="headline-inner" #nextStep id="next-step">
                                  <h3 style="text-align: center;">👇 <strong>Realiza Tu Orden AQUÍ </strong>👇</h3>
                                  <p><br>
                                      <p>¡Recuerda que pagas solo cuando lo recibes!
                              </div>
                          </div>
                      </div>
                      <div class=element-wrapper>
                          <div class="two-step-form step-1">
                              <div class=tsf-inner style="border-color: rgb(0, 0, 0); border-style: solid; border-width: 2px; padding: 30px 10px; background-color: rgb(255, 255, 255);">
                                  <div class=tsf-header>
                                      <div class=tsf-item><span class=tsf-number><span class=step_number>1</span><i class="icon icon-check"></i></span>
                                          <div class=right>
                                              <h3 style="color: rgb(37, 42, 50); font-size: 12px; text-align: left;">Paso 1</h3><span>Ingresa tu información</span>
                                          </div>
                                      </div>
                                  </div><a class=tsf-back><i class="icon icon-back"></i><span>Editar información del envió</span></a>
                                  <div class=tsf-step_1>
                                      <div>
                                          <div style="font-family: Montserrat; line-height: 1.6; margin: 15px 0px 0px;" index=0 step=1>
                                              <style>
                                                  .el-34706 {
                                                      font-size: calc(15px + 8 * ((100vw - 320px) / 960));
                                                      text-align: center;
                                                  }

                                                  @media screen and (min-width: 480px) {
                                                      .el-34706 {
                                                          font-size: calc(14px + 8 * ((100vw - 320px) / 960));
                                                          text-align: center;
                                                      }
                                                  }

                                                  @media screen and (min-width: 1024px) {
                                                      .el-34706 {
                                                          font-size: 14px;
                                                          text-align: center;
                                                      }
                                                  }
                                              </style>
                                              <div class=paragraph-inner>
                                                  <p><strong style="color: rgb(255, 15, 15);">¡APRESÚRATE!</strong>
                                                      <p><strong style="background-color: transparent;">🔥 {{ countBuy }} Vendidos Hoy</strong>
                                                          <p><strong style="background-color: transparent;">Pocas Unidades Disponibles!</strong>
                                              </div>
                                          </div>
                                      </div>
                                      <div>
                                          <div class="form-element required input" style="margin: 10px 0px 0px;" index=1 step=1><label class=fe-label style="color: rgb(37, 42, 50); text-align: left; font-weight: normal; font-style: normal;">Nombre&nbsp;
        &nbsp;
      </label><input name=first_name data-type=first_name placeholder="Nombre Completo" [(ngModel)]="form.nombre" style="background-color: rgb(255, 255, 255); color: rgb(37, 42, 50); text-align: left; font-weight: normal; font-style: normal;" (change)="validadorInput()">
                                          </div>
                                      </div>
                                      <div>
                                          <div class="form-element required input" style="margin: 10px 0px 0px;" index=3 step=1>
                                              <label class=fe-label style="color: rgb(37, 42, 50); text-align: left; font-weight: normal; font-style: normal;">Numero ( whatsapp ) de Celular&nbsp; </label>
                                              <input name=phone data-type=phone type="number" placeholder="Ingresa tu Celular ( whatsapp)" [(ngModel)]="form.celular" style="background-color: rgb(255, 255, 255); color: rgb(37, 42, 50); text-align: left; font-weight: normal; font-style: normal;" (change)="validadorInput()">
                                          </div>
                                      </div>
                                      <div>
                                        <div class="form-element required input" style="margin: 10px 0px 0px;" index=3 step=1>
                                            <label class=fe-label style="color: rgb(37, 42, 50); text-align: left; font-weight: normal; font-style: normal;">Cantidad&nbsp; </label>
                                            <input data-type=number type="number" placeholder="Ingresa Tu cantidad adquirir" [(ngModel)]="form.cantidad" style="background-color: rgb(255, 255, 255); color: rgb(37, 42, 50); text-align: left; font-weight: normal; font-style: normal;" (change)="validadorInput()">
                                        </div>
                                      </div>
                                      <div *ngIf="data['listTallas']">
                                        <section *ngIf="data['listTallas'][0].tal_descripcion !== 'Unica'">
                                          <div class="form-element required input" style="margin: 10px 0px 0px;" index=3 step=1>
                                              <label class=fe-label style="color: rgb(37, 42, 50); text-align: left; font-weight: normal; font-style: normal;">Talla &nbsp;
      </label>
                                              <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="form.talla" placeholder="Ingresa tu Talla ( Nacional )" style="background-color: rgb(255, 255, 255); color: rgb(37, 42, 50); text-align: left; font-weight: normal; font-style: normal; height: 44px; border-radius: 5px;" (change)="validadorInput()">
        <option *ngFor="let row of data.listTallas" [value]="row.tal_descripcion">{{ row.tal_descripcion }} </option>
      </select>
                                          </div>
                                        </section>
                                      </div>
                                      <div>
                                          <div class="form-element required input" style="margin: 10px 0px 0px;" index=3 step=1>
                                              <label class=fe-label style="color: rgb(37, 42, 50); text-align: left; font-weight: normal; font-style: normal;">Color &nbsp;
      </label>
                                              <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="form.color" placeholder="Ingresa tu Color Preferido" style="background-color: rgb(255, 255, 255); color: rgb(37, 42, 50); text-align: left; font-weight: normal; font-style: normal; height: 44px; border-radius: 5px;"
                                                  (change)="handleColor(); validadorInput()">
        <option *ngFor="let row of data.listColor " [value]="row.talla ">{{ row.talla }} </option>
      </select>
                                          </div>
                                      </div>
                                      <!--<div>
                                        <div class="form-element required input" style="margin: 10px 0px 0px;" index=3 step=1>
                                            <label class=fe-label style="color: rgb(37, 42, 50); text-align: left; font-weight: normal; font-style: normal;">SELECCIONE TU OFERTA👇 &nbsp;
    </label>
                                            <select
                                              class="form-control" id="exampleFormControlSelect1" [(ngModel)]="form.offer" style="background-color: rgb(255, 255, 255); color: rgb(37, 42, 50); text-align: left; font-weight: normal; font-style: normal; height: 44px; border-radius: 5px;"
                                              (change)="handleEventCheck($event.target.value)"
                                            >
                                              <option *ngFor="let row of data.listPrecios "
                                                [value]="row.cantidad "
                                              >
                                                {{ row.cantidad }} - $ {{ row.precios }}
                                              </option>
                                            </select>
                                        </div>
                                      </div>-->
                                      <div>
                                          <div class="form-element required input" style="margin: 10px 0px 0px;" index=5 step=1><label class=fe-label style="color: rgb(37, 42, 50); text-align: left; font-weight: normal; font-style: normal;">Dirección y Barrio
        Completa&nbsp; &nbsp; </label><input name=shipping_address data-type=shipping_address [(ngModel)]="form.direccion" placeholder="Incluye, Torre, Apto, Casa" style="background-color: rgb(255, 255, 255); color: rgb(37, 42, 50); text-align: left; font-weight: normal; font-style: normal;" (change)="validadorInput()">
                                          </div>
                                      </div>
                                      <div>
                                          <div class="form-element required input" style="margin: 10px 0px 0px;" index=6 step=1><label class=fe-label style="color: rgb(37, 42, 50); text-align: left; font-weight: normal; font-style: normal;">Ciudad y departamento&nbsp;
      </label><input name=shipping_city data-type=shipping_city placeholder="Ciudad y departamento" [(ngModel)]="form.ciudad" style="background-color: rgb(255, 255, 255); color: rgb(37, 42, 50); text-align: left; font-weight: normal; font-style: normal;" (change)="validadorInput()">
                                          </div>
                                      </div>
                                      <div style="font-family: Montserrat; line-height: 1.5; margin: 15px 0px 0px;" index=0 step=2>
                                          <style>
                                              .el-22903 {
                                                  font-size: calc(15px + 8 * ((100vw - 320px) / 960));
                                                  text-align: center;
                                              }

                                              @media screen and (min-width: 480px) {
                                                  .el-22903 {
                                                      font-size: calc(14px + 8 * ((100vw - 320px) / 960));
                                                      text-align: center;
                                                  }
                                              }

                                              @media screen and (min-width: 1024px) {
                                                  .el-22903 {
                                                      font-size: 14px;
                                                      text-align: center;
                                                  }
                                              }
                                          </style>
                                          <div class=paragraph-inner>
                                              <p>🔥 <strong>{{ countBuy }}</strong><span style="background-color: transparent; color: rgb(37, 42, 50);">
        Vendidos HOY</span></p>
                                                  <p><span style="background-color: transparent; color: rgb(30, 29, 29);">Solo Pocas Unidades
        Disponibles!</span></p>
                                                      <p><br>
                                                          <!--<h4><strong style="color: rgb(255, 0, 0); font-size: 14px;">﻿SELECCIONA TU OFERTA👇</strong></h4>-->
                                          </div>
                                      </div>

                                      <div id="13668" data-selecta="&nbsp;" class="product-list el-13668" style="border-radius: 0px; margin: 15px 0px 0px; padding: 10px 5px;" index="1" step="2">
                                          <div class="pl-header" style="color: rgb(5, 5, 5); font-weight: bold; font-size: 14px;">
                                              <div class="editable_wrpr"><span>PRODUCTO</span></div>
                                              <div class="editable_wrpr"><span>PRECIO</span></div>
                                          </div>
                                          <div data-type="single" class="pl-items" style="color: rgb(8, 8, 8); font-weight: bold; font-size: 13px;">
                                              <div class="pl-item top_tag selected" data-pid="105798"
                                                *ngFor="let item of data.listPrecios"
                                              >
                                                <label class="pl-inner">
                                                  <div class="pl-name">
                                                    <mat-checkbox class="example-margin" (ngModelChange)="onChangeCheck($event, item)" [(ngModel)]="item.check1"></mat-checkbox>
                                                      <div class="pl-image">
                                                        <img alt="" src="{{urlFoto}}?height=220&amp;width=220&amp;auto=webp&amp;fit=bounds">
                                                      </div>
                                                      <span class="pl-nvalue">
                                                          <span class="name">{{ data['pro_categoria']?.cat_nombre }} </span> <br>
                                                          <span class="name">{{ item.cantidad }} Pares</span>
                                                      <span class="top-tag" style="background: rgb(255, 0, 0);">EL MAS VENDIDO 🔥</span></span>
                                                  </div>
                                                  <div class="pl-price">
                                                      <span class="pl-pvalue"><p style="text-align: center;"><s>{{ _tools.monedaChange( 3, 2, item.precios + ( item.precios * 40 /100) ) }}</s></p><p style="text-align: center;"><strong style="color: rgb(230, 0, 0);">{{ _tools.monedaChange( 3, 2, item.precios ) }} </strong></p></span>
                                                  </div>
                                                </label>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="payment-form loading" style="margin: 20px 0px 0px;" index=2 step=2>
                                          <h2 style="text-align: center; padding-top: 15%;">Tiempo de Entrega de 4 a 8 dias habiles</h2>
                                      </div>
                                      <div class="order-summary" style="margin: 20px 0px 0px;" index="3" step="2">
                                          <div class="os-header">
                                              <span style="color: rgb(7, 7, 7); font-weight: bold; font-size: 14px;">PRODUCTO</span>
                                              <span style="color: rgb(7, 7, 7); font-weight: bold; font-size: 14px;">PRECIO</span>
                                          </div>
                                          <div class="os-items" style="color: rgb(37, 42, 50); font-size: 14px;">
                                              <div class="os-row">
                                                  <div class="os-name">
                                                      <span class="os-voption">&nbsp;&nbsp; ● &nbsp;&nbsp;</span> {{ data['pro_categoria']?.cat_nombre }}
                                                  </div>
                                                  <div class="os-price">
                                                      <p style="text-align: center;">
                                                          <s>{{ _tools.monedaChange( 3, 2, summaryData.precios + (summaryData.precios * 40 /100)) }}</s>
                                                      </p>
                                                      <p style="text-align: center;">
                                                          <strong style="color: rgb(230, 0, 0);"> {{ _tools.monedaChange( 3, 2, summaryData.precios ) }} </strong>
                                                      </p>
                                                  </div>
                                              </div>
                                              <div class="os-row">
                                                  <div class="os-name">ENVIO NACIONAL
                                                  </div>
                                                  <div class="os-price">
                                                      <p style="text-align: center;"><strong> {{ 'Gratis' }}</strong></p>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="os-total os-row" style="color: rgb(7, 7, 7); font-weight: bold; font-size: 14px;">
                                              <div class="os-name">TOTAL</div>
                                              <div class="os-price">{{ this._tools.monedaChange( 3, 2, summaryData.precios ) }} </div>
                                          </div>
                                      </div>
                                      <div>
                                        <div class="form-element required input" style="margin: 10px 0px 0px;" index=3 step=1>
                                            <label class=fe-label style="color: rgb(37, 42, 50); text-align: left; font-weight: normal; font-style: normal;">Nota&nbsp; </label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="form.nota"></textarea>
                                        </div>
                                      </div>
                                      <label data-selected=true class=order-bump style="border-color: rgb(253, 204, 94); border-style: dashed; border-width: 2px; margin: 15px 0px 0px; padding: 5px 5px 5px 10px; background-color: rgb(255, 250, 162);" index=4 step=2>
                                        <div class=ob-header
                                          style="font-family: Montserrat; font-weight: bold; font-size: 14px; text-align: left;"><input [(ngModel)]="form.checkEnvio"
                                            type=checkbox name=product-id data-selected=true  value=ob-1><span class=ob-headline>
                                            <div>ENVÍO DE 4 -8 DÍAS HÁBILES</div>
                                            <div>NACIONALES</div>
                                          </span></div>
                                        <div class=ob-content>
                                          <p><span class=ql-font-montserrat>Selecciona el envío para que tu orden pueda ser despachada!</span>
                                        </div>
                                      </label>
                                      <div class="wiggle" style="width: 100%;">
                                          <button [disabled]="btnDisabled" (click)="handleSubmit()" class="btn block" style="margin: 20px 0px 0px; padding: 15px 30px; background-color: rgb(34, 206, 90); display: block; color: rgb(246, 249, 254); font-size: 18px; text-align: center; font-weight: bold; font-style: inherit; text-decoration: inherit;"
                                              index=5 step=2><span class=btn-headline>🤝 Confirmar Mi Pedido!</span></button>
                                      </div>
                                      <div class="paragraph el-32936" style="color: rgb(0, 0, 0); margin: 15px 0px 0px; padding: 5px 0px;" index=6 step=2>
                                          <style>
                                              .el-32936 {
                                                  font-size: 15px;
                                                  text-align: center;
                                              }
                                          </style>
                                          <div class=paragraph-inner>
                                              <p><strong>PAGO CONTRA ENTREGA</strong></p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <section id=75574 class="section full" style="background-size: auto; background-repeat: no-repeat;" *ngIf="data.listaGaleria">
            <div class="aa-product-review-area">
              <div class="row">
                <div class="col-12">
                  <div class="d-flex justify-content-center">
                    <div>
                      <h2><strong>MAS FOTOS</strong></h2>
                    </div>
                  </div>
                </div>
                <div class="col-12" *ngIf="data.listaGaleria">
                  <ul class="aa-review-nav">
                      <li *ngFor="let item of data.listaGaleria ">
                        <div class="image-container">
                          <img style="width: 370px !important;" alt [src]="item.foto" data-src="{{item.foto}}?auto=compress,format&fit=clip&w=100%&h=auto" loading=lazy class=lazyload>
                          <div class="kreep">
                            <a target=_self (click)="scrollToNextStep( )" class=btn style="width: 100%; border-radius: 0px; margin: 10px 0px 20px; padding: 15px; background-color: rgb(34 206 90);">
                              <span class=btn-headline style="font-weight: bold; font-size: 20px; text-align: center;color: white;">¡HACER PEDIDO AHORA!</span>
                            </a>
                          </div>
                        </div>
                      </li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
          <section id=75574 class="section full" style="background-size: auto; background-repeat: no-repeat;">
              <div id=69013 class=section_row style="background-size: auto; background-repeat: no-repeat;">
                  <div class=row-column style="width: 100%;">
                      <div class=element-wrapper>
                          <div class="img el-68414" style="margin: 10px 0px 0px;">
                              <style>
                                  .el-68414 {
                                      align-items: center;
                                  }
                              </style>
                              <a href="#" target=_self>
                                  <img [src]="tiendaInfo.usu_imagen" data-srcset="{{tiendaInfo.usu_imagen}} 1x" alt data-sizes=auto data-src="{{ tiendaInfo.usu_imagen }}" class=lazyload style="object-fit: contain;" width=192px height=68px>
                              </a>
                          </div>
                      </div>
                      <div class=element-wrapper>
                          <div style="line-height: 1; margin: 10px 0px 0px; padding: 10px; text-shadow: transparent 0px 0px 0px;">
                              <style>
                                  .el-7394 {
                                      font-size: 18px;
                                      text-align: center;
                                  }
                              </style>
                              <div class=paragraph-inner>
                                  <p style="text-align: center;"><strong style="color: rgb(63, 69, 71); font-size: 14px; background-color: transparent;">© {{ tiendaInfo.usu_nombre }} ®</strong>
                                      <p style="text-align: center;"><span style="color: rgb(63, 69, 71); font-size: 14px; background-color: transparent;">Todos los derechos
reservados</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div id=59373 class=section_row style="border-color: transparent; border-style: solid; border-width: 0px; color: rgb(48, 48, 48); font-size: 14px; text-align: initial; margin: 0px; padding: 0px; background-size: auto; background-repeat: no-repeat;">
                  <div class=row-column style="width: 100%;">
                      <div data-show_after=0 data-sticky_position=bottom class=element-wrapper style="position: sticky; z-index: 1; bottom: 0px;">
                          <div class="img el-507165" style="margin: -150px 0px 0px;">
                              <style>
                                  .el-507165 {
                                      align-items: flex-end;
                                  }

                                  @media screen and (min-width: 480px) {
                                      .el-507165 {
                                          align-items: flex-end;
                                      }
                                  }

                                  @media screen and (min-width: 1024px) {
                                      .el-507165 {
                                          align-items: flex-end;
                                      }
                                  }
                              </style>
                              <a href="https://api.whatsapp.com/send?phone=573156027551&amp;text=Hola%2C%20estoy%20interesado%20en%20los%20tenis%20NIKE%2C%20gracias..." target=_blank>
                                  <img src="./img/foto14.png" data-srcset="./img/foto14.png 1x" alt data-sizes='auto' data-src='./img/foto14.png' class='lazyload' width='85px' height='auto'>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
      </main>
  </div>
  <!-- Apps Body -->
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center">
        <div>
          <h2 style="text-align: center;"><strong>DETALLES</strong></h2>
          <h5> 🚚 ENVIO NACIONALES Y PAGAS CUANDO RECIBES EL PRODUCTO 🚚 </h5>
        </div>
        <div class="col-12" *ngIf="data['pro_categoria']?.id == 16">
          <img src="./assets/img/tallas.jpg" style="width: 320px;">
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div>
          <img src="./assets/img/envios.png">
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div>
          <img src="./assets/img/compra.jpg">
        </div>
      </div>
    </div>
  </div>
  <div>

      <div class="container">
          <div class="row" style="width: 100%;">
              <div class="col-12">
                  <div class="d-flex justify-content-center">
                      <div>
                          <a (click)="comprarArticulo( )" class="aa-add-to-cart-btn pointer" style="    font-size: 210%; background: #008116; color: white; border-radius: 11px;"><span
                class="fa fab fa-whatsapp"></span>Chatear con un asesor</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="aa-product-review-area" style="    margin: 5%;">
        <div class="row">
          <div class="col-12">
            <div class="d-flex justify-content-center">
              <div>
                <h2><strong>COMENTARIÓS</strong></h2>
              </div>
            </div>
          </div>
          <div class="col-12">
            <ul class="aa-review-nav">
                <li *ngFor="let item of listComentario ">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" style="    width: 60px; border-radius: 40px; " [src]="item.foto" alt="girl image">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><strong>{{ item.nombre }}</strong> - <span> {{ item.fecha }} </span>
                            </h4>
                            <div class="aa-product-rating">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star-o"></span>
                            </div>
                            <p>{{ item.descripcion }}</p>
                        </div>
                    </div>
                    <div class="row" *ngIf="item.fotoEvidence">
                      <div class="col-12">
                        <div class="image-container">
                          <img style="    width: 390px !important ;" [src]="item.fotoEvidence" alt="">
                        </div>
                      </div>
                    </div>
                </li>
            </ul>
          </div>
          <div class="col-12">
            <br><br>
          </div>
        </div>
      </div>
  </div>

  <!-- Popups -->


  <script src="./assets/js/core.min.js" type="application/javascript"></script>
  <!-- <footer #nav style="position: fixed; top: 87%; left: auto;"></footer> -->
  <footer #nav style="left: auto;">

  </footer>
</body>
