.mat-form-field {
  margin-right: 8px;
}
.anchos{
    margin: 5px;
}

.selecciono {
    background: #dff907;
}

.ancho {
    width: 100%;
  }
  .fondoFoto{
    height: 2pc;
    width: 100%;
  }
.precio {
  font-size: 25px;
  background: #76ffb3;
  color: white;
  padding: 6px;
  border-radius: 10px;
}
