<h2 mat-dialog-title>{{ titulo }} Tipo de Talla</h2>
<mat-dialog-content class="mat-typography">
    <div class="form row">
        <div class="form-group col-md-12" *ngIf="data.cat_imagen">
            <div class="mx-auto" style="width: 200px;">
                <img [src]="data.cat_imagen" class="fotoCategoria">
            </div>
        </div>
        <div class="form-group col-12">
            <label for="exampleFormControlInput1">Tipo de talla</label>
            <input type="text" [(ngModel)]="data.tit_descripcion" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12">
            <mat-form-field class="example-chip-list">
                <mat-label>Tipo talla Hijas</mat-label>
                <mat-chip-list #chipList aria-label="Colores">
                    <mat-chip *ngFor="let item of listTipoTalla" [selectable]="selectable" [removable]="removable"
                        (removed)="remove(item)">
                        {{ item.tal_descripcion }}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Nueva Talla..." [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
            </mat-form-field>
        </div>
        <div class="form-group col-12"> 
            <h4>Lista de Tallas Hijas</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let item of listTipoTalla">
                    <h4>Item: {{ item.tal_descripcion }}</h4>
                    <span>
                        <input type="number" placeholder="Ordenar Item" (change)="handleOrdenate( item )" [(ngModel)]="item.ordenar" class="form-control form-control-sm">
                    </span>
                </li>
              </ul>
        </div>
        <div class="form-group col-12">
            <label for="exampleFormControlInput1">Ordenador</label>
            <input type="text" [(ngModel)]="data.ordenador" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12">
            <label for="exampleFormControlInput1">Estado del tipo Talla</label>
            <select class="form-control form-control-sm" [(ngModel)]="data.cat_activo">
                <option type="number" value="0">Activo</option>
                <option type="number" value="1">Eliminado</option>
            </select>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cerrar</button>
    <button mat-button cdkFocusInitial (click)="submit()">
        <span *ngIf="!id">Guardar Cambios</span>
        <span *ngIf="id">Actulizar Cambios</span>
    </button>
</mat-dialog-actions>
