<div class="social-bar" *ngIf="estado && RouterName !== '/front/landing' && RouterName2 !== 'landingWhatsapp' ">
    <!--<a class="icon icon-flecha anchos1" (click)="estado = !estado" matTooltip="Ocultar Elementos">
      <i class="material-icons altosIcons">keyboard_arrow_right</i>
    </a>-->
    <a [href]="urlFacebook" *ngIf="urlFacebook"
    matTooltip="Siguenos en Facebook" class="icon icon-color anchos1 icono-feed" target="_blank" #color1>
      <img src="./assets/icons/facebook.png" alt="" class="altosIcons">
      <!-- <span class="material-icons"> facebook </span>-->
    </a>
    <a [href]="urlYoutube" *ngIf="urlYoutube"
    matTooltip="Siguenos en Youtube" class="icon icon-color anchos1 icon-youtube" target="_blank" #color2>
      <img src="./assets/icons/youtube.png" class="altosIcons">
    </a>
    <a [href]="urlInstagram" *ngIf="urlInstagram"
    matTooltip="Siguenos en Instagram" class="icon icon-color anchos1 icon-instagram" target="_blank" #color3>
      <img src="./assets/icons/instagram.png" class="altosIcons">
    </a>
    <a [href]="urlWhatsapp" *ngIf="urlWhatsapp"
    matTooltip="Siguenos en Whatsaap" class="icon icon-color anchos1" style="background: #10e302 !important;" target="_blank" #color4>
      <img src="./assets/icons/whatsapp.png" class="altosIcons">
    </a>

  </div>



  <!-- Modal -->
  <div *ngIf="( RouterName3 !== 'front' && RouterName2 !== 'landingWhatsapp' )" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="whatsapp-button">
    <a [href]='urlWhatsapp1'
      *ngIf="( RouterName3 !== 'front' && RouterName2 !== 'landingWhatsapp' )"
       target="_blank">
      <img src="./assets/icons/whatsapp.png" alt="" style="width: 30px;">
    </a>
    <a [href]='urlWhatsapp'
      *ngIf="RouterName3 === 'front'"
       target="_blank">
      <img src="./assets/icons/whatsapp.png" alt="" style="width: 30px;">
    </a>
  </div>
