<h2 mat-dialog-title>{{ titulo }} Categoria</h2>
<mat-dialog-content class="mat-typography">
    <div class="form row">
        <div class="form-group col-md-12" *ngIf="data.cat_imagen">
            <div class="mx-auto" style="width: 200px;">
                <img [src]="data.cat_imagen" class="fotoCategoria">
            </div>
        </div>
        <div class="form-group col-12">
            <label for="exampleFormControlInput1">Categorias</label>
            <input type="text" [(ngModel)]="data.cat_nombre" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12">
            <label for="exampleFormControlInput1">Descripcion</label>
            <textarea class="form-control" [(ngModel)]="data.cat_descripcion" rows="3"></textarea>
        </div>
        <div class="form-group col-12">
            <label for="exampleFormControlInput1">Categoria padre</label>
            <select class="form-control form-control-sm" [(ngModel)]="data.cat_padre">
                <option [value]="item.id" *ngFor="let item of listCategorias">{{ item.cat_nombre }}</option>
            </select>
        </div>
        <div class="form-group col-12">
            
            <div class="row">
                <label class="col" >Subir Imagen</label>
                <button class="btn btn-primary btn-just-icon btn-round" (click)="subirFile()" *ngIf="files.length > 0">
                    Subir Imagen
                </button>
            </div>

            <ngx-dropzone (change)="onSelect($event)">
                <ngx-dropzone-label>Abrir archivos</ngx-dropzone-label>
                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                    [file]="f" [removable]="true" (removed)="onRemove(f)" multiple="false">
                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                </ngx-dropzone-image-preview>
            </ngx-dropzone>
        </div>
        <div class="form-group col-12">
            <label for="exampleFormControlInput1">Estado de la categoria</label>
            <select class="form-control form-control-sm" [(ngModel)]="data.cat_activo">
                <option type="number" value="0">Activo</option>
                <option type="number" value="1">Eliminado</option>
            </select>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
  <button mat-button cdkFocusInitial (click)="submit()">
      <span *ngIf="!id">Guardar Cambios</span>
      <span *ngIf="id">Actulizar Cambios</span>
  </button>
</mat-dialog-actions>