<div class="content" style="margin: 5px;">
    <div class="row">
        <div class="col-12">
            <div class="d-flex bd-highlight">
                <div class="p-2 flex-grow-1 bd-highlight"><h2>Mi Billetera</h2></div>
                <div class="p-2 bd-highlight">
                    <!--<button type="button" class="btn btn-primary mx-auto">Exportar Transacciones</button>-->
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-sm-4 col-12">
                    <div class="content">
                        <div class="row p-3">
                            <div class="col-12"><h3>Dinero para solicitar desembolso</h3></div>
                            <div class="col-12"><h4 class="text-success">{{ _tools.monedaChange( 3,2,( dataConfig.money || 0 ) ) }}</h4></div>
                            <div class="col-12">
                                <!-- <button type="button" class="btn btn-primary" (click)="handleDisbursement({})" [disabled]="btnDesembolsarDisabled">Desembolsar</button> -->
                                <button type="button" class="btn btn-primary mx-auto" (click)="handleDisbursement({})" [disabled]="btnDesembolsarDisabled">Solicitar Desembolso</button>

                                <br>
                            </div>
                            <div class="col-12">
                                <p>
                                    Aquí el dinero de:
                                    • Tus envíos contraentrega reintegrados por el transportador
                                    • Tus pagos electrónicos desde la tienda
                                    • Tus bonificaciones por referidos
                                </p>
                            </div>
                        </div>
                        <!-- <div class="row p-3">
                            <div class="col-12">
                                <h3>Dinero recaudado en proceso de reintegro</h3>
                                <div class="col-12"><h4 class="text-warning"> {{ _tools.monedaChange( 3,2,( dataConfig.pendingMoney || 0 ) ) }} </h4></div>
                            </div>
                            <div class="col-12">
                                <button type="button" class="btn btn-primary" (click)="handleListReinitegro()">Ver Envios</button>
                            </div>
                            <div class="col-12">
                                <p>Aquí el dinero de:
                                    • Tus pedidos enviados contraentrega y que aún están pendientes de ser reintegrados por alguna transportadora.</p>
                            </div>
                        </div>
                        <div class="row p-3">
                            <div class="col-12">
                                <h3>Cuentas de desembolsos</h3>
                            </div>
                            <div class="col-12">
                                <button type="button" (click)="handleCreateBank()" class="btn btn-primary">Agregar</button>
                            </div>
                            <div class="col-12">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"
                                        *ngFor="let item of listBank"
                                    >
                                        {{ item.bank }}- {{ item.accounType === 0 ? 'Ahorros': 'Corriente' }}
                                    </li>
                                  </ul>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="col-sm-8 col-12">
                    <div class="content">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-wrap">
                                    <div class="mx-auto">
                                        <p>Ingresos Recibidos</p>
                                        <h5>{{ _tools.monedaChange( 3,2,( dataConfig.receive || 0 ) ) }}</h5>
                                    </div>
                                    <!-- <div class="mx-auto">
                                        <h4>Recibiste</h4>
                                        <p>{{ _tools.monedaChange( 3,2,( dataConfig.receive || 0 ) ) }} </p>
                                    </div> -->
                                    <div class="mx-auto">
                                      <p>Pendiente Pago de Transportadora</p>
                                      <h5>{{ _tools.monedaChange( 3,2,( dataConfig.pdtePagoTrans || 0 ) ) }}</h5>
                                    </div>
                                    <div class="mx-auto">
                                        <p>En Transito</p>
                                        <h5>{{ _tools.monedaChange( 3,2,( dataConfig.enTransito || 0 ) ) }}</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <table class="table">
                                    <thead class="thead-dark">
                                      <tr>
                                        <th scope="col">Cobros</th>
                                        <th scope="col">Solicitado</th>
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Recibiste</th>
                                        <th scope="col">Fecha</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let item of lisTransactions">
                                        <td>
                                            {{ item.cob_descripcion }}
                                        </td>
                                        <td>
                                            {{ _tools.monedaChange( 3,2,( item.cob_monto || 0 ) ) }}
                                        </td>
                                        <td>
                                          {{  item.cob_fecha_cobro }}
                                       </td>
                                        <td>
                                            {{ _tools.monedaChange( 3,2,( item.totalrecibir || 0 ) ) }}
                                        </td>
                                        <td>
                                            {{ item.cob_fecha_pago }}
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
