

<mat-drawer-container class="example-container" autosize style="height: auto !important;">
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <mat-toolbar style="width: 100%; background: #292929; color: white;">
      <div class="d-flex bd-highlight mb-3" style="width: 100%;">
        <div class="me-auto p-2 bd-highlight"><h3 style="margin-top: 10px;">{{ userCabeza.usu_usuario }} </h3></div>
        <div class="p-2 bd-highlight">
          <button mat-icon-button color="warn" (click)="drawer.toggle()" aria-label="Example icon button with a heart icon" style="margin-top: 6px; color: #ffffff;">
            <i class="material-icons" aria-hidden="true">close</i>
          </button>
        </div>
      </div>
    </mat-toolbar>
    <section>
      <ul class="list-unstyled components contenedor" style="box-sizing: border-box; list-style: none; margin-bottom: 1rem; margin-top: 0px;  max-height: 80vh; overflow-y: auto;">

        <section *ngIf="dataSelectCategory.length === 0">
          <li class="active" style="box-sizing: border-box;" *ngFor="let item of listCategorias" [ngClass]="{'checkTrue': item.check }" (click)="eventorOver(item, drawer)">
            <div class="d-flex bd-highlight">
              <div class="p-2 bd-highlight" *ngIf="item.cat_imagen">
                <img [src]="item.cat_imagen" style="    height: 40px;" alt="">
              </div>
              <div class="p-2 bd-highlight text-dark " style="    margin-top: 10px;"><h6>{{ item.cat_nombre || item.title }}</h6></div>
              <div class="ms-auto p-2 bd-highlight"><span class="lnr lnr-chevron-right"></span> </div>
            </div>
          </li>
        </section>

        <section *ngIf="dataSelectCategory.length">
          <li class="active" style="box-sizing: border-box;" (click)="dataSelectCategory = []" >
            <div class="d-flex bd-highlight">
              <div class="p-2 bd-highlight">
                <span class="lnr lnr-undo"></span>
              </div>
              <div class="p-2 bd-highlight text-danger " style="    margin-top: 10px;"><h6>Volver</h6></div>
              <div class="ms-auto p-2 bd-highlight"><span class="lnr lnr-chevron-right"></span> </div>
            </div>
          </li>
          <li class="active" style="box-sizing: border-box;" *ngFor="let item of dataSelectCategory" [ngClass]="{'checkTrue': item.check }" (click)="eventorOver(item, drawer)" >
            <div class="d-flex bd-highlight">
              <div class="p-2 bd-highlight" *ngIf="item.cat_imagen">
                <img [src]="item.cat_imagen" style="    height: 40px;" alt="">
              </div>
              <div class="p-2 bd-highlight text-dark" style="    margin-top: 10px;"><h6>{{ item.cat_nombre }}</h6></div>
              <div class="ms-auto p-2 bd-highlight"><span class="lnr lnr-chevron-right"></span> </div>
            </div>
          </li>
        </section>
      </ul>
    </section>

  </mat-drawer>
  <div class="row">
    <section>
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-center">
            <div style="width: 800px;">
              <div class="d-flex bd-highlight">
                <div class="p-2 flex-grow-1 bd-highlight">
                  <div class="row">
                    <div class="col-2">
                      <button type="button" mat-button (click)="drawer.toggle()">
                        <i class="material-icons icoss">menu</i>
                      </button>
                    </div>
                    <div class="col-10">
                      <input type="text" [(ngModel)]="seartxt" (change)="buscar()" class="form-control form-control-sm" placeholder="Buscar Productos" id="exampleFormControlInput1">
                    </div>
                  </div>
                </div>
                <div class="p-2 bd-highlight">
                  <i class="material-icons pointer" (click)="buscar()" *ngIf="!loader">search</i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section *ngIf="breakpoint === 6">
      <div class="row">
        <div class="col-12" style="margin: auto;">
          <div class="container">
            <div class="col-12" style="width: 90%;">
              <app-slider [listGaleria]="listBanner" [view]="1" [lyImg]="'image'"></app-slider>
            </div>
          </div>
        </div>
        <div class="col-12" style="margin: auto;">
          <div class="container">
            <div class="col-12" style="width: 90%;">
              <app-slider [listGaleria]="listCategorias" [view]="3" [lyImg]="'cat_imagen'" [routerUrl]="urlCategory"></app-slider>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section *ngIf="breakpoint === 1">
      <div class="row">
        <div class="col-12">
          <app-slider [listGaleria]="listBanner" [view]="1" [lyImg]="'image'"></app-slider>
          <div class="container">
            <div class="col-12" style="width: 90%;">
            </div>
          </div>
        </div>
        <div class="col-12" >
          <app-slider [listGaleria]="listCategorias" [view]="3" [lyImg]="'cat_imagen'" [routerUrl]="urlCategory"></app-slider>
        </div>
      </div>
    </section>

    <!-- product category -->
    <section id="" >
      <div class="" style="margin-left: 20px;">
        <div class="row">
          <div class="col-12 container text-center"> <!-- Contenedor centrado -->
            <div class="row" style="    width: 100%;">
              <div class="col-12">
                <div class="d-flex justify-content-center">
                  <div>
                    <ul class="aa-review-nav">
                      <li>
                        <div class="media">
                          <div class="row">
                            <div class="col-12">
                              <div class="d-flex align-items-center"> <!-- Agregamos la clase "d-flex" y "align-items-center" para centrar verticalmente -->
                                <div class="media-left">
                                  <a class="pointer">
                                    <img class="media-object img-fluid" style="max-width: 125px; border-radius: 50%;" [src]="userCabeza.usu_imagen || './assets/img/banner.jpg'" alt="girl image">
                                  </a>
                                </div>
                                <div class="media-body" style="text-align: center;     margin-left: 5%; ">
                                  <h1 class="media-heading"><strong>{{ userCabeza.usu_usuario }}</strong></h1>
                                  <p>
                                      <img src="./assets/img/email.png" alt="" style="    height: 15px;">
                                    Email: {{ userCabeza.usu_email }}</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--<div class="col-12 row">
            <div class="col-12">
              <div class="d-flex justify-content-center">
                <div style="width: 100%;">
                  <div class="scrollmenu" style="border-radius: 3px; display: flex;" [style.justify-content]="breakpoint === 1 ? 'flex-start': 'center'">
                    <section class="iphone-menu" style="text-align: center;">
                      <ul class="ulM">
                          <li *ngFor="let item of listCategorias" [ngClass]="{ 'cambiaColor': item.check }">
                            <a class="pointer" (click)="SeleccionCategoria(item)">
                              <span>{{ item.cat_nombre }}</span>
                            </a>
                          </li>
                      </ul>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>-->

          <div class="col-12">
            <div class="d-flex justify-content-center">
              <div>
                <strong>
                  <h3>{{ dataSeleccionda }}</h3>
                </strong>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-12 col-md-pull-9" *ngIf="breakpoint === 6">
            <aside class="aa-sidebar">
              <div class="aa-sidebar-widget" *ngIf="listProductosHistorial.length">
                <h3>Vistas recientes</h3>
                <div class="aa-recently-views">
                  <ul>
                    <li *ngFor="let item of listProductosHistorial">
                      <a href="#" target="_blank" [routerLink]="[ '/front/productosView', item.id, this.dataUser.usu_telefono ]" class="aa-cartbox-img"><img alt="img"
                          [src]="item.foto"></a>
                      <div class="aa-cartbox-info">
                        <h4><a class="pointer">{{ item.pro_nombre }}</a></h4>
                        <p>{{ _formato.monedaChange( 3, 2, item.pro_uni_venta ) }}</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="aa-sidebar-widget">
                <br><br><br><br>
                <h4>Categorias</h4>
                <div class="aa-recently-views">
                  <ul>
                    <li *ngFor="let item of listCategorias" style="    padding: 10px 15px;" (click)="SeleccionCategoria(item)" [ngClass]="{ 'cambiaColor': item.check }">
                      <input type="checkbox" [(ngModel)]="item.check">
                      <strong style="    margin-left: 10px;">{{ item.cat_nombre || item.title }} </strong>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- single sidebar -->
              <div class="aa-sidebar-widget">
                <br><br><br><br>
                <!--<h3>Productos mejor calificados</h3>-->
                <div class="aa-recently-views">
                  <ul class="list-unstyled d-flex justify-content-center flex-wrap">
                    <li *ngFor="let item of listProductosRecomendar" style="display: flex !important; margin-right: 30% !important;">
                      <div class="d-flex justify-content-center">
                        <div>
                          <div class="p-3 mx-2 text-center" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); border-radius: 10px;">
                            <div class="aa-cartbox-img">
                              <img alt="img" [src]="item.foto" class="img-fijo">
                            </div>
                            <h6>{{ item.pro_nombre }}</h6>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>

                </div>
              </div>
            </aside>
          </div>

          <div class="col-lg-9 col-md-9 col-sm-12 col-md-push-3 col-12" style="padding: 3%;">
            <div class="aa-product-catg-content">
              <!--<div class="col-12">
                <div class="d-flex bd-highlight">
                  <div class="p-2 flex-grow-1 bd-highlight"></div>
                  <div class="p-2 bd-highlight">
                    <button mat-button [matMenuTriggerFor]="menu">Ordenar por: {{ dataSeleccionda }} </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="buscarFiltro(3)">Menor a Mayor</button>
                      <button mat-menu-item (click)="buscarFiltro(4)">Mayor a Menor</button>
                      <button mat-menu-item (click)="buscarFiltro(2)">Ordenar nombre</button>
                    </mat-menu>
                  </div>
                </div>
              </div>-->
              <div class="col-12">
                <div class="d-flex justify-content-center">
                  <div>
                    <div class="aa-product-catg-body" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="30" (scrolled)="onScroll()" style="    margin: -35px;">
                      <ul class="aa-product-catg">
                        <li *ngFor="let item of listProductos" id="anchosLi" class="product-list-item">
                          <figure class="img-contenedor">
                            <a class="aa-product-img" href="#" [routerLink]="[ '/front/productosView', item.id, this.dataUser.usu_telefono ]">
                              <img class="anchosProductos" [src]="item.foto" alt="polo shirt img">
                            </a>
                            <a class="aa-add-card-btn pointer" (click)="AgregarCart(item)">
                              <span class="fa fa-shopping-cart"></span>Comprar y pagar en casa Envío Gratis
                            </a>
                            <figcaption>
                              <h4 class="aa-product-title"><a href="#">{{ item.pro_nombre }}</a></h4>
                              <span class=""><del>{{ _formato.monedaChange( 3, 2, item.pro_uni_venta*2 ) }}</del></span><br>
                              <h5 class="">{{ _formato.monedaChange( 3, 2, item.pro_uni_venta ) }}</h5>
                            </figcaption>
                          </figure>
                          <!--<span class="aa-badge aa-sale" href="#">OFERTA!</span>-->
                        </li>
                      </ul>
                      <div class="mx-auto" style="width: 200px;" *ngIf="loader">
                        <mat-spinner></mat-spinner>
                      </div>
                      <ngx-spinner bdOpacity="0.9" bdColor="" size="default" color="#581f87" type="ball-pulse-sync" [fullScreen]="false">
                      </ngx-spinner>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="d-flex justify-content-center">
                  <div>
                    <div class="mx-auto" style="width: 200px; text-align: center;" *ngIf="listProductos.length == 0 && !loader">
                      NO SE ENCONTRARON PRODUCTOS
                    </div>
                    <a class="pointer text-primary" (click)="handlePageNext()" *ngIf="listProductos.length && !loader">VER MÁS PRODUCTOS </a>
                  </div>
                </div>
              </div>

            </div>
          </div>


        </div>
      </div>
    </section>
    <!-- / product category -->
  </div>

</mat-drawer-container>
