<!-- catg header banner section -->
<section id="aa-catg-head-banner">
  <img [src]=" tiendaInfo.portada2 || './assets/img/banner.jpg'" alt="fashion img" class="anchosBanner">
  <div class="aa-catg-head-banner-area">
    <div class="container">
      <div class="aa-catg-head-banner-content">
        <!--<h2>Productos exclusivos</h2>-->
        <br>
          <br>
        <ol class="breadcrumb">
          <li><a href="#" [routerLink]="[ '/portada' ]">Inicio</a></li>
          <li class="active">Productos</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<!-- product category -->
<section id="aa-product-category">
  <div class="">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-8 col-md-push-3">
        <div class="aa-product-catg-content">
          <div class="row">
            <div class="col-12">
              <div class="scrollmenu" style="    border-radius: 3px;">
                <a class="pointer" (click)="SeleccionCategoria( item )" *ngFor="let item of listCategorias">{{ item.cat_nombre }} </a>
              </div>
            </div>
            <div class="col">
              <input type="text" [(ngModel)]="seartxt" (change)="buscar()" class="form-control form-control-sm"
                placeholder="Buscar Productos" id="exampleFormControlInput1">
            </div>
            <div class="pbutton">
              <i class="material-icons pointer" (click)="buscar()" *ngIf="!loader" >search</i>
            </div>
          </div>
          <div class="aa-product-catg-body" infiniteScroll [infiniteScrollDistance]="3" [infiniteScrollThrottle]="50"
            (scrolled)="onScroll()">
            <ul class="aa-product-catg">
              <!-- start single product item -->
              <li *ngFor="let item of listProductos" id="anchosLi">
                <figure class="img-contenedor">
                  <a class="aa-product-img" href="#" [routerLink]="[ '/portada/productosView', item.id, this.dataUser.usu_telefono ]"><img class="anchosProductos" [src]="item.foto"
                      alt="polo shirt img"></a>
                      <a class="aa-add-card-btn pointer" (click)="AgregarCart(item)"><span
                        class="fa fa-shopping-cart"></span>Comprar y pagar en casa Envio Gratis</a>
                  <figcaption>
                    <h4 class="aa-product-title"><a href="#">{{ item.pro_nombre }}</a></h4>
                    <span class="aa-product-price"><del>{{ _formato.monedaChange( 3, 2, item.pro_uni_venta*2 ) }}</del></span>
                    <span class="aa-product-price">{{ _formato.monedaChange( 3, 2, item.pro_uni_venta ) }}</span>
                  </figcaption>
                </figure>
                <!--<div class="aa-product-hvr-content">
                  <a href="https://www.facebook.com/sharer/sharer.php?kid_directed_site=0&u=https://www.locomproaqui.com/productos/15?u=https://www.locomproaqui.com/productos/{{ item.id }}"
                    target="_blank" data-toggle="tooltip" data-placement="top" title="Compartir"><span
                      class="fa fa-exchange"></span></a>
                  <a class="pointer" (click)="viewProducto( item )" title="Ver Producto"><span
                      class="fa fa-search"></span></a>
                </div>-->
                <!-- product badge -->
                <span class="aa-badge aa-sale" href="#">SALE!</span>
              </li>
            </ul>
            <div>
              <div class="mx-auto" style="width: 200px;" *ngIf="listProductos.length == 0 && !loader">
                NO SE ENCONTRO PRODUCTOS
              </div>
              <div class="mx-auto" style="width: 200px;" *ngIf="loader">
                <mat-spinner></mat-spinner>
              </div>
              <ngx-spinner bdOpacity=0.9 bdColor="" size="default" color="#581f87" type="ball-pulse-sync"
                [fullScreen]="false">
              </ngx-spinner>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-md-pull-9">
        <aside class="aa-sidebar">
          <!-- single sidebar -->
          <div class="aa-sidebar-widget">
            <h3>Categorias</h3>
            <ul class="aa-catg-nav">
              <li *ngFor="let item of listCategorias"><a class="pointer" style="font-size: 140%;" (click)="SeleccionCategoria(item)">
                  {{ item.cat_nombre }}</a></li>
            </ul>
          </div>
          <!-- single sidebar -->
          <div class="aa-sidebar-widget">
            <h3>Etiquetas</h3>
            <div class="tag-cloud">
              <a class="pointer">{{ dataSeleccionda }}</a>
            </div>
          </div>
          <!-- single sidebar -->
          <div class="aa-sidebar-widget">
            <h3>Vistas recientes</h3>
            <div class="aa-recently-views">
              <ul>
                <li *ngFor="let item of listProductosHistorial">
                  <a href="#" target="_blank" [routerLink]="[ '/portada/productosView', item.id, this.dataUser.usu_telefono ]" class="aa-cartbox-img"><img alt="img"
                      [src]="item.foto"></a>
                  <div class="aa-cartbox-info">
                    <h4><a class="pointer">{{ item.pro_nombre }}</a></h4>
                    <p>{{ _formato.monedaChange( 3, 2, item.pro_uni_venta ) }}</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- single sidebar -->
          <div class="aa-sidebar-widget">
            <h3>Productos mejor calificados</h3>
            <div class="aa-recently-views">
              <ul>
                <li *ngFor="let item of listProductosRecomendar">
                  <a href="#" target="_blank" [routerLink]="[ '/portada/productosView', item.id, this.dataUser.usu_telefono ]" class="aa-cartbox-img"><img alt="img"
                      [src]="item.foto"></a>
                  <div class="aa-cartbox-info">
                    <h4><a class="pointer">{{ item.pro_nombre }}</a></h4>
                    <p>{{ _formato.monedaChange( 3, 2, item.pro_uni_venta ) }}</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </aside>
      </div>

    </div>
  </div>
</section>
<!-- / product category -->
