.anchos {
    margin: 10px;
}
.pbutton{
    padding-right: 35px;
}
.fa-star{
  color: #ff6600;
}

.checkTrue{
  background: #d9d9d9;
}
.example-sidenav-content {
  display: flex;
  height: 100%;
}

.example-sidenav{
  width: 300px;
}



.img-contenedor img {
  -webkit-transition:all .9s ease; /* Safari y Chrome */
  -moz-transition:all .9s ease; /* Firefox */
  -o-transition:all .9s ease; /* IE 9 */
  -ms-transition:all .9s ease; /* Opera */
    width:100%;
    height: 230px;
  }
  .img-contenedor:hover img {
  -webkit-transform:scale(1.25);
  -moz-transform:scale(1.25);
  -ms-transform:scale(1.25);
  -o-transform:scale(1.25);
  transform:scale(1.25);
  }
  .img-contenedor {/*Ancho y altura son modificables al requerimiento de cada uno*/
  // width:300px;
  // height:180px;
//   overflow:hidden;
  }

  div.scrollmenu {
    background-color: #02a0e3;
    overflow: auto;
    white-space: nowrap;
    margin: auto;
  }

  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0px 15px;
    text-decoration: none;
  }

  div.scrollmenu a:hover {
    background-color: #2e2e2e;
  }


  .product-list-item {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 10px; /* Espacio entre los elementos */
    padding: 10px; /* Espacio interno dentro de los elementos */
    height: auto;
  }


  /* Estilos para la lista desplegable */
.iphone-menu a {
  text-decoration: none;
  color: #000; /* Cambia el color del texto a negro */
  font-size: 18px;
  padding: 10px 20px;
  border: none; /* Elimina el borde */
  border-radius: 30px;
  /*box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); /* Agrega una sombra al botón */
  transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Agrega una transición para la sombra */
  }

  .ulM{
    padding: 0px;
    display: flex;
    margin: auto;

  }

  .iphone-menu a:hover {
  background-color: #02a0e3; /* Cambia el color de fondo al pasar el mouse */
  color: #fff; /* Cambia el color del texto al pasar el mouse */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Aumenta la sombra al pasar el mouse */
  }

  /* Estilos para hacerlo responsive */
  @media screen and (max-width: 768px) {
  .iphone-menu .ulM {
      text-align: center; /* Centra los elementos de la lista horizontalmente */

  }

  .iphone-menu li {
      display: inline-block; /* Cambia a elementos de lista en línea */
      margin: 0 10px;
  }

  .iphone-menu a {
      font-size: 14px; /* Reduce el tamaño de fuente en dispositivos móviles */
      padding: 8px 16px; /* Reduce el espaciado interior del botón */
      display: block; /* Hace que los botones ocupen el ancho completo */
      margin: 10px auto; /* Centra verticalmente los botones */
  }
  }


  .img-fijo {
    width: 150px !important;
    border-radius: 10px;
    //height: 80px;
  }

  /* Estilo de fondo que se ajusta al tamaño de la imagen y el texto */
  .aa-cartbox-img {
    background-color: #f2f2f2; /* Color de fondo */
    padding: 10px; /* Espacio alrededor de la imagen */
    border-radius: 10px; /* Borde redondeado */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 150px; /* Altura mínima para el fondo */
  }

  .aa-product-catg-body {
    position: relative;
  }

  .aa-product-catg {
    z-index: 1; /* Puedes ajustar según sea necesario */
  }




