<!--<div class="limiter">
  <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
      <div class="wrap-login100">
          <form class="login100-form validate-form flex-sb flex-w">
    <span class="login100-form-title p-b-53">
      <span *ngIf="disableRestarure"> Iniciar Sesión en lokomproaqui </span>
                  <span *ngIf="!disableRestarure"> Recuperacion Contraseña en locomproaqui </span>
    </span>
              <div class="p-t-31 p-b-9">
                  <span class="txt1">
                    Correo electrónico / Numero de Celular
                  </span>
              </div>
              <div class="wrap-input100 validate-input" data-validate="Username is required">
                <div class="d-flex bd-highlight">
                  <div class="p-2 bd-highlight" style="margin-top: 10px;">
                    <select class="form-control" [(ngModel)]="data.indicative" style="width:75px;">
                      <option>+57</option>
                      <option>+58</option>
                      <option>+59</option>
                    </select>
                  </div>
                  <div class="p-2 flex-grow-1 bd-highlight">
                    <input class="input100" type="text" name="username" [(ngModel)]="data.usu_email">
                    <span class="focus-input100"></span>
                  </div>
                </div>
              </div>

              <div class="p-t-13 p-b-9 " *ngIf="disableRestarure">
                  <span class="txt1">
                      Contraseña
                  </span>
              </div>
              <div class="wrap-input100 validate-input" data-validate="Password is required">
                  <input class="input100" type="password" name="pass" [(ngModel)]="data.usu_clave">
                  <span class="focus-input100"></span>
              </div>

              <div class="container-login100-form-btn m-t-17">
                  <button class="login100-form-btn" (click)="submit()" *ngIf="disableRestarure">
                      Iniciar Sesión
                  </button>
                  <button class="login100-form-btn" *ngIf="!disableRestarure" (click)="openRecuperacion(  )">
                      Recuperar Cuenta
                  </button>
              </div>

              <div class="w-full text-center p-t-55">
                  <a href="#" class="txt2 bo1" *ngIf="disableRestarure" (click)="disableRestarure = false;">
                      ¿Olvidaste tu constraseña?
                  </a>
                  <a class="txt2 bo1 pointer" *ngIf="!disableRestarure" (click)="disableRestarure = true;">
                      Volver
                  </a>
              </div>
          </form>
      </div>
  </div>
</div>-->
<div class="row" style="background: #02a0e3; height: -webkit-fill-available;">
  <div class="col-12 row colorFondo5" style="margin: 0 -1px; margin-top: 70px;">
    <div class="col-12">
      <div class="d-flex justify-content-center">
        <div>
          <img src="./assets/logo.png" alt="" style="width: 250px;">
          <br>
        </div>
      </div>
      <div class="d-flex justify-content-center" style="
      margin-top: 25px;">
        <div style="    text-align: center; " style="width: 520px;     background: white;
            padding: 10px 40px;
            border-radius: 5px; color: #02a0e3;">
          <h2 style="text-align: center;">Bienvenido</h2>
          <p style="text-align: center;">Ingresa tus Credenciales</p>
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Usuario</label>
                <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="data.usu_email" aria-describedby="emailHelp" placeholder="Correo o Numero de Celular">
                <!--<div id="emailHelp" class="form-text">C.</div>-->
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="data.usu_clave" placeholder="Contraseña">
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Recordarme</label>
              </div>
            </div>
            <div class="col-12">
              <div class="d-flex flex-row-reverse bd-highlight">
                <div class="p-2 bd-highlight">
                  <button type="submit" class="btn btn-primary" (click)="submit()" style="background: #02a0e3 !important;     font-size: 20px;">Iniciar Sesión</button>
                </div>
              </div>
            </div>
            <div class="col-12">
              <h6 style="text-align: center; color: #646464;">No tienes una cuenta? <a style="color: #02a0e3;" class="pointer" [routerLink]="[ '/registro' ]">Registrate Gratis</a></h6>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div>
          <h6 class="text-light" style="    margin-top: 20px;">2023 Lokomproaqui ❣️</h6>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>