<div class="container">
    <div class="mx-auto" style="width: 200px;">
        <div class="form row" *ngIf="vista == 'inicial'">
            <div class="form-group col-12">
                <br>
                <p class="text-center">Iniciar Sección</p>
            </div>
            <div class="form-group col-12">
                <label for="exampleFormControlInput1">Correo electrónico</label>
                <input type="text" [(ngModel)]="data.usu_email" class="form-control form-control-sm" placeholder="Correo electrónico">
            </div>
            <div class="form-group col-12" *ngIf="disableRestarure">
                <label for="exampleFormControlInput1">Contraseña</label>
                <input type="password" [(ngModel)]="data.usu_clave" (change)="submit()" class="form-control form-control-sm" placeholder="Contraseña">
            </div>
            <div class="form-group col-12">
                <p class="text-primary pointer" *ngIf="disableRestarure" (click)="vista='segunda'">¿Olvidaste tu constraseña?</p>
            </div>
        </div>
        <div class="form row" *ngIf="vista == 'segunda'">
            <div class="form-group col-12">
                <br>
                <p class="text-center">Recuperar contraseña</p>
            </div>
            <div class="form-group col-12">
                <label for="exampleFormControlInput1">Correo electrónico</label>
                <input type="text" [(ngModel)]="data.usu_email" class="form-control form-control-sm" placeholder="Correo electrónico">
            </div>
            <div class="form-group col-12">
                <button mat-button [routerLink]="[ '/pedidos' ]">Inicio</button>
                <button mat-button cdkFocusInitial (click)="cambiosPass()" *ngIf="disableRestarure">
                    <span>Iniciar Seccion</span>
                </button>
                <a cdkFocusInitial target="_blank" class="pointer" *ngIf="!disableRestarure" (click)="vista='inicial'"><span>Volver</span></a>
            </div>
        </div>
    </div>
</div>