<div class="row" style="background: #02a0e3; height: -webkit-fill-available;">
  <div class="col-12 row colorFondo5" style="margin: 0 -1px; margin-top: 3%;">
    <div class="col-12">
      <div class="d-flex justify-content-center">
        <div>
          <img src="./assets/logo.svg" alt="" style="width: 250px;" [routerLink]="[ '/articulo' ]">
          <br>
        </div>
      </div>
      <div class="d-flex justify-content-center" style="
      margin-top: 25px;">
        <div style="    text-align: center; " style="width: 520px;     background: white;
            padding: 10px 40px;
            border-radius: 5px; color: #02a0e3;">
          <h2 style="text-align: center;">Bienvenido</h2>
          <p style="text-align: center;">Ingresa tus Credenciales</p>
          <div class="row">
            <div class="col-12">
              <label for="exampleInputEmail1" class="form-label">Usuario</label>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">
                  <span class="lnr lnr-user"></span>
                </span>
                <input type="email" class="form-control" placeholder="Correo o Numero de Celular" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="data.usu_email">
              </div>
            </div>
            <div class="col-12">
              <label for="exampleInputPassword1" class="form-label">Contraseña</label>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">
                  <span class="lnr lnr-lock"></span>
                </span>
                <input type="password" class="form-control" placeholder="Contraseña" aria-label="Contraseña" aria-describedby="basic-addon1" [(ngModel)]="data.usu_clave" #passwordInput>
                <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility(passwordInput)">
                  <span [ngClass]="{'lnr lnr-enter': !showPassword, 'lnr lnr-eye-off': showPassword}" class="lnr lnr-eye"></span>
                </button>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Recordarme</label>
              </div>
            </div>
            <div class="col-12">
              <div class="d-flex flex-row-reverse bd-highlight">
                <div class="p-2 bd-highlight">
                  <button type="submit" class="btn btn-primary" (click)="submit()" style="background: #02a0e3 !important;     font-size: 20px;">Iniciar Sesión</button>
                </div>
              </div>
            </div>
            <div class="col-12">
              <h6 style="text-align: center; color: #646464;"><a style="color: #02a0e3;" class="pointer" (click)="openRecuperacion()">Olvide mi Clave?</a></h6>
            </div>
            <div class="col-12">
              <h6 style="text-align: center; color: #646464;">No tienes una cuenta? <a style="color: #02a0e3;" class="pointer" [routerLink]="[ '/singUp' ]">Registrate Gratis</a></h6>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div>
          <h6 class="text-light" style="    margin-top: 20px;">2023 Lokomproaqui ❣️</h6>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
