<div class="col-12" class="colorFondo3" style="width: 100%;">
    <div class="row" style="margin: 5px">
      <div class="col-12">
        <div class="d-flex justify-content-center" style="width: 100%;">
          <div class="row">
            <div class="p-3 col-4 col-sm-3" style="    text-align: center;">
              <img src="./assets/noimagen.jpg" alt="" style="width: 100px;">
              <h6>Dropshipping</h6>
            </div>
            <div class="p-3 col-4 col-sm-2" style="    text-align: center;">
              <img src="./assets/noimagen.jpg" alt="" style="width: 100px;">
              <h6>Envios Contraentrega</h6>
            </div>
            <div class="p-3 col-4 col-sm-2" style="    text-align: center;">
              <img src="./assets/noimagen.jpg" alt="" style="width: 100px;">
              <h6>Envios y Logistica</h6>
            </div>
            <div class="p-3 col-4 col-sm-2" style="    text-align: center;">
              <img src="./assets/noimagen.jpg" alt="" style="width: 100px;">
              <h6>Envios y Logistica</h6>
            </div>
            <div class="p-3 col-4 col-sm-3" style="    text-align: center;">
              <img src="./assets/noimagen.jpg" alt="" style="width: 100px;">
              <h6>Desembolso Rapido</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>