<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card" style="overflow-x: scroll;">
            <br>
            <br>
            <div class="card-header card-header-primary card-header-icon row">
              <div class="col-12">
                <div class="card-icon">
                  <i class="material-icons">assignment</i>
                </div>
                <h4 class="card-title">Cobrar</h4>
              </div>
              <div class="col row p-2">
                <div class="col-md-3 col-sm-4 col-lg-3 col-xs-3">
                  <span>Total Ganado</span>
                  <p>$ {{ ( dataInfo.ganancias || 0 ).toLocaleString(1) }} COP</p>
                </div>
                <div class="col-md-3 col-sm-4 col-lg-3 col-xs-3">
                  <span>Total Cobrado</span>
                  <p>$ {{ ( dataInfo.cobrado || 0 ).toLocaleString(1) }} COP</p>
                </div>
                <div class="col-md-3 col-sm-4 col-lg-3 col-xs-3">
                  <span>Total Pagado</span>
                  <p>$ {{ ( dataInfo.pagado || 0 ).toLocaleString(1) }} COP</p>
                </div>
                <div class="col-md-3 col-sm-6 col-lg-3 col-xs-3">
                  <span>Por Cobrar</span>
                  <p>$ {{ ( dataInfo.porcobrado || 0 ).toLocaleString(1) }} COP</p>
                </div>
                <div class="col-md-3 col-sm-6 col-lg-3 col-xs-3">
                  <span>Devoluciones</span>
                  <p>$ {{ ( dataInfo.devoluciones || 0 ).toLocaleString(1) }} COP</p>
                </div>
                <div class="col-md-3 col-sm-6 col-lg-3 col-xs-3">
                  <span>Ventas Pendientes Por Entregar</span>
                  <p>$ {{ ( dataInfo.ventasPendientes || 0 ).toLocaleString(1) }} COP</p>
                </div>
                <div class="col-md-3 col-sm-6 col-lg-3 col-xs-3">
                  <span>Ventas Totales del calzado (Exitoso)</span>
                  <p>$ {{ ( dataInfo.ventasCalzadoVR || 0 ).toLocaleString(1) }} COP</p>
                </div>
                <div class="col-md-3 col-sm-6 col-lg-3 col-xs-3">
                  <span>Ventas Totales del calzado ( Despachado )</span>
                  <p>$ {{ ( dataInfo.ventasCalzadoDR || 0 ).toLocaleString(1) }} COP</p>
                </div>
                <!-- <div class="col-md-3 col-sm-4 col-lg-3 col-xs-3">
                  <span>Ganancias Por Mis Referidos</span>
                  <p>$ {{ ( dataInfo.gananciasRefereridos || 0 ).toLocaleString(1) }}</p>
                </div> -->
              </div>
            </div>
            <div class="card-body">
              <div class="toolbar">
                <!--        Here you can write extra buttons/actions for the toolbar              -->
              </div>
              <div *ngIf="loader" class="loader">
                <!-- <svg class="circular" viewBox="25 25 50 50">
                  <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                </svg>
                Loading.. -->
                <ngx-spinner bdOpacity=0.9 bdColor="" size="default" color="#581f87" type="ball-pulse-sync"
                    [fullScreen]="false">
                </ngx-spinner>

              </div>
              <div class="content">
                <div id="datatables_filter" class="dataTables_filter row">
                  <label class="form-group col">
                    <input [(ngModel)]="datoBusqueda" type="search" class="form-control form-control-sm"
                      placeholder="Buscar Retiros" aria-controls="datatables" (change)="buscar()"></label>
                  <div>
                      <button (click)="buscar()" [disabled]="loader" mat-raised-button mat-min-fab
                          class="btn btn-primary btn-just-icon btn-round">
                          <i class="material-icons">search</i>
                      </button>
                      <button (click)="crear(false)" class="btn btn-primary btn-just-icon btn-round" mat-raised-button mat-min-fab [disabled]="true">
                          <i class="material-icons">add_circle_outline</i>
                      </button>
                  </div>

                </div>
              </div>
              <div class="search-results col-12 row" infiniteScroll [infiniteScrollDistance]="3" [infiniteScrollThrottle]="50"
                  (scrolled)="onScroll()"
              >
                <div class="col-12 material-datatables" *ngIf="!loader">
                  <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0"
                    width="100%" style="width:100%">
                    <thead>
                      <tr>
                        <th *ngFor="let row of dataTable.headerRow">{{ row }}</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th *ngFor="let row of dataTable.headerRow">{{ row }}</th>
                      </tr>
                    </tfoot>
                    <tbody>
                      <tr *ngFor="let row of dataTable.dataRows; let idx=index">

                        <td>
                          <button (click)="crear(row)" class="btn btn-primary btn-just-icon btn-round">
                            <i class="material-icons">remove_red_eye</i>
                          </button>
                          <button (click)="delete(row, idx)" class="btn btn-danger btn-just-icon btn-round" *ngIf="activando">
                            <i class="material-icons">delete_forever</i>
                          </button>
                        </td>
                        <td>$ {{ ( row['cob_monto'] || 0 ).toLocaleString(1) }} COP</td>
                        <td>{{ row['cob_metodo'] }}</td>
                        <td>{{ row['cob_pais'] }}</td>
                        <td>
                          <span *ngIf="row['cob_estado'] == 0" class="text-danger">Activo</span>
                          <span *ngIf="row['cob_estado'] == 1" class="text-primary">Aprobado</span>
                          <span *ngIf="row['cob_estado'] == 2" class="text-muted">Rechazado</span>
                        </td>
                        <td>{{ row['createdAt'] }}</td>
                        <td>{{ row['usu_clave_int']?.usu_email }}</td>
                        <td>
                          <span *ngIf="row['usu_clave_int']?.usu_perfil == 1" class="text-info">Vendedor</span>
                          <span *ngIf="row['usu_clave_int']?.usu_perfil == 5" class="text-warning">Proveedor</span>
                        </td>
                        <td>{{ row['cob_num_cedula'] }}</td>
                        <td>{{ row['cob_num_celular'] }}</td>
                        <td>{{ row['cob_num_cuenta'] }}</td>
                        <td>{{ row['cob_fecha_pago'] }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="col-md-12 p-5">
                    <ngx-spinner bdOpacity=0.9 bdColor="" size="default" color="#581f87" type="ball-pulse-sync"
                        [fullScreen]="false">
                    </ngx-spinner>
                  </div>
                  <div class="col-12">
                    <div class="d-flex flex-row-reverse bd-highlight">
                      <mat-paginator [length]="count" [pageSizeOptions]="[10, 25, 100]"
                          (page)="pageEvent($event)">
                      </mat-paginator>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br><br><br><br>
    </div>
</div>
