<nav class="navbar navbar-light bg-light">
  <div class="d-flex justify-content-center" style="width: 100%;">
    <div class="p-3">
      <a href="">¿Cómo funciona? </a>
    </div>
    <div class="p-3">
      <a href="">¿Cómo funciona? </a>
    </div>
    <div class="p-3">
      <a href="">¿Cómo funciona? </a>
    </div>
    <div class="p-3">
      <a href="">¿Cómo funciona? </a>
    </div>
  </div>
</nav>

<div class="row" style="    margin: 5px;">
  <div class="col-12" class="colorFondo1">
    <div class="row" >
      <div class="col-12 col-sm-6" style="margin-top: 20px;">
        <h1>SOMOS TU<br> MEJOR ALIADO</h1>
        <p class="text-white">Compra vede, Publica y genera<br> Ingreso de forma rapida y segura</p>
        <button type="button" class="btn btn-dark">Registrate Gratis</button>
      </div>
      <div class="col-12 col-sm-6">
        <img src="./assets/imagenes/DINERO.png" alt="" style="width: 360px;">
      </div>
    </div>
  </div>
  <div class="col-12" class="colorFondo2" style="width: 100%;">
    <div class="d-flex justify-content-center" style="width: 100%;">
      <div class="paddingG">
        <h2>+{{ contect.contadorC }}</h2>
        <p [innerHTML]="contect.titleC"></p>
      </div>
      <div class="paddingG">
        <h2>+{{ contect.contadorD }}</h2>
        <p [innerHTML]="contect.titleD"></p>
      </div>
      <div class="paddingG">
        <h2>+{{ contect.contadorE }}</h2>
        <p [innerHTML]="contect.titleE"></p>
      </div>
      <div class="paddingG">
        <h2>+{{ contect.contadorM }}</h2>
        <p [innerHTML]="contect.titleM"> </p>
      </div>
    </div>
  </div>
  <div class="col-12" class="colorFondo3" style="width: 100%;">
    <div class="row" style="margin: 5px">
      <div class="col-12">
        <div class="d-flex justify-content-center" style="width: 100%;">
          <div class="p-3" style="    text-align: center;">
            <img src="./assets/noimagen.jpg" alt="" style="width: 100px;">
            <h6>Dropshipping</h6>
          </div>
          <div class="p-3" style="    text-align: center;">
            <img src="./assets/noimagen.jpg" alt="" style="width: 100px;">
            <h6>Envios Contraentrega</h6>
          </div>
          <div class="p-3" style="    text-align: center;">
            <img src="./assets/noimagen.jpg" alt="" style="width: 100px;">
            <h6>Envios y Logistica</h6>
          </div>
          <div class="p-3" style="    text-align: center;">
            <img src="./assets/noimagen.jpg" alt="" style="width: 100px;">
            <h6>Envios y Logistica</h6>
          </div>
          <div class="p-3" style="    text-align: center;">
            <img src="./assets/noimagen.jpg" alt="" style="width: 100px;">
            <h6>Desembolso Rapido</h6>
          </div>
        </div>
      </div>
      <div class="row" style="margin: 5px;">
        <div class="col-12 col-sm-6">
          <img src="./assets/imgagenes/DINERO.png" alt="" style="width: 360px;">
        </div>
        <div class="col-12 col-sm-6">
          <h3>¿Que Hacemos?</h3>
          <label for=""><i class="material-icons" aria-hidden="true">check_circle</i> Somos el aliado más confiable para nuestros proveedores.</label>
          <label for=""><i class="material-icons" aria-hidden="true">check_circle</i> Somos el apoyo para aquellas personas que quieren generar ingresos reales y sin invertir..</label>
          <label for=""><i class="material-icons" aria-hidden="true">check_circle</i> Nos encargamos de que los vendedores compartan y vendas tus productos.</label>
          <label for=""><i class="material-icons" aria-hidden="true">check_circle</i> Nos encargamos de la logística de venta que seria preparar tu pedido y enviarlo a su respectivo cliente.</label>
          <label for=""><i class="material-icons" aria-hidden="true">check_circle</i> Nos encargamos de realizar los pagos rápidamente el mismo día que el cliente recibe su producto.</label>
        </div>
      </div>
      <div class="row" style="margin: 5px;">
        <div class="col-12 col-sm-6">
          <h3>¿Por qué lokomproaqui?</h3>
          <label for=""><i class="material-icons" aria-hidden="true">check_circle</i> Tienes tu dinero en 24 horas.</label>
          <label for=""><i class="material-icons" aria-hidden="true">check_circle</i> Tenemos las mejores tarifas del mercado.</label>
          <label for=""><i class="material-icons" aria-hidden="true">check_circle</i> Somos una plataforma amigable y fácil de usar.</label>
          <label for=""><i class="material-icons" aria-hidden="true">check_circle</i> Puedes gestionar tu inventario facil.</label>
          <label for=""><i class="material-icons" aria-hidden="true">check_circle</i> Creamos tu tienda virtual gratis y fácil.</label>
          <label for=""><i class="material-icons" aria-hidden="true">check_circle</i> Capacitaciones gratis de marketing.</label>
        </div>
        <div class="col-12 col-sm-6">
          <img src="./assets/imgagenes/DINERO.png" alt="" style="width: 360px;">
        </div>
      </div>
    </div>
  </div>
</div>
