.colorFondo1{
  padding: 15px 75px;
  background: #0db1f8;
  color: white;
  width: 100%;
}

.colorFondo2{
  padding: 15px 75px;
  background: #e1e1e1;
}

.colorFondo3{
  padding: 15px 75px;
  background: #ffffff;
}
.paddingG{
  padding: 0 35px;
  text-align: center;
}
