.colorFondo1{
  padding: 7% 10%;
  background: #02a0e3;
  color: white;
  width: 100%;
}

.colorFondo2{
  padding: 5% 0%;
  background: #eef0f7;
}

.colorFondo3{
  padding: 5% 3%;
  background: #ffffff;
}
.colorFondo4{
  background: #02a0e3;
    color: white;
    text-align: center;
}
.colorFondo5{
  margin: 5px;
  color: white;
  background: #02a0e3;
  padding: 3% 0;
}
.paddingG{
  padding: 0 5%;
  text-align: center;
  width: 100%;
}
