<app-menu></app-menu>

<div class="row" style="    margin: 5px;">
  <!--<div class="col-12" class="colorFondo1">
    <div class="row" >
      <div class="col-12 col-sm-6" style="    margin-top: 20px; margin: auto; padding-left: 10%;">
        <h1 style="    font-size: 320%;">SOMOS TU<br> MEJOR ALIADO</h1>
        <h5 class="text-white">Compra vede, Publica y genera<br> Ingreso de forma rapida y segura</h5><br><br>
        <button type="button" class="btn btn-dark" style="    width: 100%; font-size: 168%;" (click)="handleOpenCheckIn('vendedor')">Registrate Gratis</button>
      </div>
      <div class="col-12 col-sm-6">
        <img src="./assets/imagenes/BANNER 1.png" alt="" style="    width: 112%;">
      </div>
    </div>
  </div>-->
  <section class="banner">
    <div class="frame-42">
        <img class="imgprincipal-1" src="./assets/imagenes/BANNER 1.png" />
        <div class="frame-41">
            <div class="somos-tu-mejor-aliado">
                <span>
                    <span class="somos-tu-mejor-aliado-span">SOMOS TU</span>
                    <br />
                    <span class="somos-tu-mejor-aliado-span2">MEJOR ALIADO</span>
                </span>
            </div>
            <div class="compra-vende-publica-y-genera-ingresos-de-forma-r-pida-y-segura">
                Tu socio confiable en el mundo del dropshipping. ¡Maximiza tus ganancias
            sin preocuparte por el inventario! Con nosotros, encontrarás productos
            de alta calidad y una experiencia de compra excepcional.
            </div>
            <div class="frame-33" style="margin: auto;">
                <div class="registrate-gratis pointer" (click)="handleOpenCheckIn('vendedor')">Regístrate Gratis</div>
            </div>
        </div>
    </div>
</section>
  <div class="col-12">
    <app-contador-shipping></app-contador-shipping>
  </div>
  <!--<div class="col-12">
    <app-listmenu></app-listmenu>
  </div>-->
  <!--<div class="col-12 row" style="    margin: 3% 0%; padding: 4% 3%; background: white;">
    <div class="col-12 col-sm-6">
      <img src="./assets/imagenes/fondo1.png" alt="" style="width: 109%">
    </div>
    <div class="col-12 col-sm-6">
      <h3>¿Que Hacemos?</h3>
      <label for=""><i class="material-icons" aria-hidden="true">check_circle</i> Somos el aliado más confiable para nuestros proveedores.</label><br>
      <label for=""><i class="material-icons" aria-hidden="true">check_circle</i> Somos el apoyo para aquellas personas que quieren generar ingresos reales y sin invertir..</label><br>
      <label for=""><i class="material-icons" aria-hidden="true">check_circle</i> Nos encargamos de que los vendedores compartan y vendas tus productos.</label><br>
      <label for=""><i class="material-icons" aria-hidden="true">check_circle</i> Nos encargamos de la logística de venta que seria preparar tu pedido y enviarlo a su respectivo cliente.</label><br>
      <label for=""><i class="material-icons" aria-hidden="true">check_circle</i> Nos encargamos de realizar los pagos rápidamente el mismo día que el cliente recibe su producto.</label><br>
    </div>
  </div>
  <div class="col-12 row" style="margin: 3% 0%; padding: 4% 3%; background: white;">
    <div class="col-12 col-sm-6">
      <h3>¿Por qué lokomproaqui?</h3>
      <label for=""><i class="material-icons" aria-hidden="true">check_circle</i> Tienes tu dinero en 24 horas.</label><br>
      <label for=""><i class="material-icons" aria-hidden="true">check_circle</i> Tenemos las mejores tarifas del mercado.</label><br>
      <label for=""><i class="material-icons" aria-hidden="true">check_circle</i> Somos una plataforma amigable y fácil de usar.</label><br>
      <label for=""><i class="material-icons" aria-hidden="true">check_circle</i> Puedes gestionar tu inventario facil.</label><br>
      <label for=""><i class="material-icons" aria-hidden="true">check_circle</i> Creamos tu tienda virtual gratis y fácil.</label><br>
      <label for=""><i class="material-icons" aria-hidden="true">check_circle</i> Capacitaciones gratis de marketing.</label><br>
      <br><br>
    </div>
    <div class="col-12 col-sm-6">
      <img src="./assets/imagenes/fondo2.png" alt="" style="width: 109%;">
    </div>
  </div>-->

  <div class="col-12" style="background: white;">
    <section class="seccion-dos-cajas">
      <div class="caja caja-izquierda">
        <div class="contenido-caja">
          <div class="imagen">
            <img src="./assets/imagenes/QUEHACEMOS.png" alt="Imagen 1" />
          </div>
        </div>
      </div>
      <div class="caja caja-derecha">

          <div class="contenido-caja">
              <h1>¿Qué Hacemos?</h1>
              <ul>
                <li>
                  <i class="material-icons" aria-hidden="true">check_circle</i>
                  <p>Somos el aliado más confiable para nuestros proveedores.</p>
                </li>
                <li>
                  <i class="material-icons" aria-hidden="true">check_circle</i>
                  <p>Somos el apoyo para aquellas personas que quieren generar ingresos reales y sin invertir.</p>
                </li>
                <li>
                  <i class="material-icons" aria-hidden="true">check_circle</i>
                  <p>Nos encargamos de que los vendedores compartan y vendan tus productos.</p>
                </li>
                <li>
                  <i class="material-icons" aria-hidden="true">check_circle</i>
                  <p>Nos encargamos de la logística de venta, que sería preparar tu pedido y enviarlo a su respectivo cliente.</p>
                </li>
                <li>
                  <i class="material-icons" aria-hidden="true">check_circle</i>
                  <p>Nos encargamos de realizar los pagos rápidamente el mismo día que el cliente recibe su producto.</p>
                </li>
              </ul>
            </div>
      </div>
    </section>
  </div>
  <div class="col-12" style="background: white;">
    <section class="seccion-dos-cajas">



      <div class="caja caja-izquierda">


          <div class="contenido-caja">
              <div class="imagen">
                <img src="./assets/imagenes/porquelokomproaqui.png" alt="Imagen 1" />
              </div>
            </div>

      </div>


      <div class="caja caja-derecha">

          <div class="contenido-caja">
              <h1>¿Por qué lokomproaqui?</h1>
              <ul>
                <li>
                  <i class="material-icons" aria-hidden="true">check_circle</i>
                  <p>Tienes tu dinero en 24 horas.</p>
                </li>
                <li>
                  <i class="material-icons" aria-hidden="true">check_circle</i>
                  <p>Tenemos las mejores tarifas del mercado.</p>
                </li>
                <li>
                  <i class="material-icons" aria-hidden="true">check_circle</i>
                  <p> Somos una plataforma amigable y fácil de usar.</p>
                </li>
                <li>
                  <i class="material-icons" aria-hidden="true">check_circle</i>
                  <p>Creamos tu tienda virtual gratis y fácil.</p>
                </li>
                <li>
                  <i class="material-icons" aria-hidden="true">check_circle</i>
                  <p>Capacitaciones gratis de marketing.
                  </p>
                </li>
              </ul>
            </div>

    </div>

    </section>
  </div>
  <div class="col-12 row" style=" margin:  5px;">

    <div class="col-12 col-sm-4">
      <div class="card">
        <img src="./assets/imagenes/foto1.jpeg" class="card-img-top pointer" alt="..." (click)="handleOpenCheckIn('proveedor')">
      </div>
      <br>
    </div>
    <div class="col-12 col-sm-4">
      <div class="card">
        <img src="./assets/imagenes/foto2.jpeg" class="card-img-top pointer" alt="..." (click)="handleOpenCheckIn('vendedor')">
      </div>
      <br>
    </div>
    <div class="col-12 col-sm-4">
      <div class="card">
        <img src="./assets/imagenes/foto3.jpeg" class="card-img-top pointer" alt="..." (click)="handleInfo()">
      </div>
      <br>
    </div>
  </div>
  <!--<div class="col-12 row" style=" margin:  5px;">

    <div class="col-12 col-sm-4">
      <div class="colorFondo4">
        <span style="padding: 50px;">
          <h3>Registro Proveedor</h3>
          <p class="text-light">Empieza con tu red de ventas</p>
          <button type="button" class="btn btn-dark" (click)="handleOpenCheckIn('proveedor')" >Registrarme -></button><br>
        </span>
        <img src="./assets/imagenes/REGISTROPROVEEDOR.png" alt="" style="width: 100%;">
      </div>
      <br>
    </div>
    <div class="col-12 col-sm-4">
      <div class="colorFondo4">
        <span style="padding: 50px;">
          <h3>Registro Vendedor</h3>
          <p class="text-light">Empieza a generar venta sin invertir</p>
          <button type="button" class="btn btn-dark" (click)="handleOpenCheckIn('proveedor')" >Registrarme -></button><br>
        </span>
        <img src="./assets/imagenes/REGISTROVENDEDOR.png" alt="" style="width: 100%;">
      </div>
      <br>
    </div>
    <div class="col-12 col-sm-4">
      <div class="colorFondo4">
        <span style="padding: 50px;">
          <h3>Contactar Asesor</h3>
          <p class="text-light">La Información que necesitas a un click</p>
          <button type="button" class="btn btn-dark" (click)="handleInfo()">Contactar -></button><br>
        </span>
        <img src="./assets/imagenes/CONTACTARASESOR.png" alt="" style="width: 100%;">
      </div>
      <br>
    </div>
  </div>-->
  <div class="col-12 row colorFondo5" style="margin: 0 -1px;">
    <div class="col-12">
      <div class="d-flex justify-content-center">
        <div style="    text-align: center; width: 100%;">
          <h2>Registrate no <br> Pierdas Más Dinero</h2>
          <section style="width: 376px; font-size: 25px; height: 70px; display: inline-block;">
            <button type="button" class="btn btn-dark custom-button" (click)="handleOpenCheckIn('vendedor')">Regístrate Gratis</button>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 row" style="margin: 5px;">
    <div class="col-12">
      <div class="d-flex justify-content-center">
        <div style="    text-align: center;">
          <div class="row">
            <div class="col-12">
              <img src="./assets/imagenes/transportadora.png" alt="" style="
              width: 100%;
          ">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
