<app-menu></app-menu>
<div class="row" style="    margin: 5px;">
    <div class="col-12" class="colorFondo1">
      <div class="row" >
        <div class="col-12" style="text-align: center;">
            <span>
                <h3>SOMOS EL MEJOR ALIADO PARA </h3>
                <h1 style="    margin: -10px;">VENDER TUS PRODUCTOS</h1>
                <h2>Y GENERAR INGRESOS SIN INVERTIR</h2>
            </span>
        </div>
      </div>
    </div>
</div>
<div class="col-12">
    <app-contador-shipping></app-contador-shipping>
</div>
<div class="col-12">
    <app-listmenu></app-listmenu>
</div>