<div class="container">
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand text-white">Bodegas Certificados</a>
        <form class="form-inline">
          <button class="btn btn-outline-warning my-2 my-sm-0" routerrouterLink="/config/store/store" type="submit">Ver Mas</button>
        </form>
      </nav>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-md-2 col-sm-4 col-lg-2 col-xs-6 col-6 anchandoPr" *ngFor="let row of listBodegas">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>{{ row.usu_nombre }} </mat-card-title>
              <mat-card-subtitle>{{ row.usu_telefono }} </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="row.usu_imagen" alt="Photo of Perfil">
            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="handleStore( row )">Explorar</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="col-12">
      <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand text-white">Productos Certificados</a>
        <form class="form-inline">
          <button class="btn btn-outline-warning my-2 my-sm-0" routerLink="/config/store/product" type="submit">Ver Mas</button>
        </form>
      </nav>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-md-2 col-sm-4 col-lg-2 col-xs-6 col-6 anchandoPr"*ngFor="let row of listArticle" (click)="handleArticle( row )">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-subtitle>{{ row.pro_nombre }} </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="row.foto" alt="Photo of Perfil">
            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="handleStore( row )">
                <i class="material-icons">remove_red_eye</i>
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
