.estiloCategoria{
  padding: 11px;
  color: black;
  text-align: center;
}
.cambiaColor{
  color: red;
  border-bottom: 1px solid #f35757;
}
.pbutton{
    padding-top: 21px;
}
.subButtons {
    margin: 10px 0;
    border-radius: 10px;
}

.textInfo {
    font-size: 11px;
}

.search-results {
    height: 100%;
}

.anchos {
    padding: 5px 23px;
}
.buttonAncho {
    font-size: 11px;
}

.paddinButtom {
  padding-bottom: 11px;
}
.example-card {
    max-width: 400px;
}

.example-header-image {
    background-size: cover;
}

.marginEspacios {
    margin: 2px !important;
}
li {
    list-style:none;
}
.img-contenedor img {
  -webkit-transition:all .9s ease; /* Safari y Chrome */
  -moz-transition:all .9s ease; /* Firefox */
  -o-transition:all .9s ease; /* IE 9 */
  -ms-transition:all .9s ease; /* Opera */
  width:100%;
  }
  .img-contenedor:hover img {
  -webkit-transform:scale(1.25);
  -moz-transform:scale(1.25);
  -ms-transform:scale(1.25);
  -o-transform:scale(1.25);
  transform:scale(1.25);
  }
  .img-contenedor {/*Ancho y altura son modificables al requerimiento de cada uno*/
  // width:300px;
  // height:180px;
  overflow:hidden;
  }

.plusminus2 {
    display: inline-block;
    position: relative;
    font-size: 0;
    overflow: hidden;
    border-radius: 25px;
    width: 30px;
    height: 100px;
  }
  .plusminus2 button {
    display: block;
    width: 20px;
    height: 30px;
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0;
    background: #113f91;
    color: #fff;
    font-size: 22.8px;
    line-height: 1;
    font-family: bonds, sans-serif;
    cursor: pointer;
    -moz-transition: color 200ms;
    -o-transition: color 200ms;
    -webkit-transition: color 200ms;
    transition: color 200ms;
  }
  .plusminus2 button:focus {
    outline: none;
    color: #2bebaf;
  }
  .plusminus2 button:disabled {
    background: #999;
    color: #ccc;
    cursor: default;
  }
  .plusminus2 button:first-child {
    bottom: 0;
  }
  .plusminus2 button:first-child:before {
    content: "-";
  }
  .plusminus2 button:last-child {
    top: 0;
  }
  .plusminus2 button:last-child:before {
    content: "+";
  }
  .plusminus2 button:last-child:focus {
    color: #ff6367;
  }
  .plusminus2 input[type="number"] {
    position: absolute;
    width: 50px;
    height: 30px;
    top: 30px;
    margin: 0;
    padding: 0 0 16.92308px;
    border: 0;
    font-size: 12.6px;
    font-weight: bold;
    text-align: center;
    -moz-appearance: textfield;
    display: block;
  }
  
  .plusminus2 span {
    position: absolute;
    width: 50px;
    height: 30px;
    top: 0;
    left: 20px;
    margin: 0;
    padding: 0 0 16.92308px;
    border: 0;
    font-size: 12.6px;
    font-weight: bold;
    text-align: center;
    -moz-appearance: textfield;
  }
  .plusminus2 input[type="number"]::-webkit-outer-spin-button, .plusminus2 input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .plusminus2:after {
    content: attr(data-after);
    position: absolute;
    font-size: 9.68px;
    left: 0;
    right: 0;
    line-height: 1;
    padding: 3.52px 0 3.52px 0;
    width: 40px;
    margin: 0 auto;
    border-top: 1px solid #ccc;
    color: #888;
    text-align: center;
    bottom: 34%;
  }
  .plusminus2.horiz {
    width: 90px;
    height: 30px;
  }
  .plusminus2.horiz button:first-child {
    left: 0;
  }
  .plusminus2.horiz button:last-child {
    right: 0;
  }
  .plusminus2.horiz:after {
    bottom: 0;
  }
  .plusminus2.horiz input[type="number"] {
    position: absolute;
    top: 0;
    left: 20px;
  }
  
  .plusminus3 {
    display: inline-block;
    position: relative;
    font-size: 0;
    overflow: hidden;
    border-radius: 25px;
    width: 30px;
    height: 100px;
  }
  .plusminus3 button {
    display: block;
    width: 20px;
    height: 30px;
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0;
    background: #113f91;
    color: #fff;
    font-size: 22.8px;
    line-height: 1;
    font-family: bonds, sans-serif;
    cursor: pointer;
    -moz-transition: color 200ms;
    -o-transition: color 200ms;
    -webkit-transition: color 200ms;
    transition: color 200ms;
  }
  .plusminus3 button:focus {
    outline: none;
    color: #2bebaf;
  }
  .plusminus3 button:disabled {
    background: #999;
    color: #ccc;
    cursor: default;
  }
  .plusminus3 button:first-child {
    bottom: 0;
  }
  .plusminus3 button:first-child:before {
    content: "-";
  }
  .plusminus3 button:last-child {
    top: 0;
  }
  .plusminus3 button:last-child:before {
    content: "+";
  }
  .plusminus3 button:last-child:focus {
    color: #ff6367;
  }
  .plusminus3 input[type="number"] {
    position: absolute;
    width: 60px;
    height: 30px;
    top: 30px;
    margin: 0;
    padding: 0 0 16.92308px;
    border: 0;
    font-size: 12.6px;
    font-weight: bold;
    text-align: center;
    -moz-appearance: textfield;
    /*display: none;*/
  }
  
  .plusminus3 span {
    position: absolute;
    width: 60px;
    height: 30px;
    top: -1px;
    left: 20px;
    margin: 0;
    padding: 0 0 16.92308px;
    border: 0;
    font-size: 12.6px;
    font-weight: bold;
    text-align: center;
    -moz-appearance: textfield;
  }
  .plusminus3 input[type="number"]::-webkit-outer-spin-button, .plusminus3 input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .plusminus3:after {
    content: attr(data-after);
    position: absolute;
    font-size: 9.68px;
    left: 0;
    right: 0;
    line-height: 1;
    padding: 3.52px 0 3.52px 0;
    width: 30px;
    margin: 0 auto;
    border-top: 1px solid #ccc;
    color: #888;
    text-align: center;
    bottom: 34%;
  }
  .plusminus3.horiz {
    width: 100px;
    height: 30px;
  }
  .plusminus3.horiz button:first-child {
    left: 0;
  }
  .plusminus3.horiz button:last-child {
    right: 0;
  }
  .plusminus3.horiz:after {
    bottom: 0;
  }
  .plusminus3.horiz input[type="number"] {
    position: absolute;
    top: 0;
    left: 20px;
  }
  
  
  .img-cart
  {
    vertical-align: middle;
    width: 30px;
    height: 25px;
  }
  .img-cart-2
  {
    vertical-align: middle;
    width: 45px;
    height: 40px;
    position: relative;
    top:5px;
  }
  
  .img-cart-span
  {
  
      content: "Haga el pedido";
      top: -40px;
      display: block;
      /* height: 12px; */
      position: relative;
  }
  
  .img-cart-icon-left
  {
    vertical-align: middle;
    width: 25px;
    height: 20px;
    margin-right: 5px
  }
  
  .img-cart-icon-rigth
  {
    vertical-align: middle;
    width: 25px;
    height: 20px;
    margin-left: 5px
  }
  
  /*progressbar*/
  .progressbar2 {
    /*top: -60px;*/
    margin-bottom: 0px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    /*position: relative;*/
  }
  .progressbar2 li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    
    float: left;
    position: relative;
    color: black;
    text-align: center;
  }
  .progressbar2 li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    line-height: 30px;
    display: block;
    font-size: 15px;
    color: #333;
    background:rgba(224,211,206,0.2);
    border-radius: 15px;
    margin: 0 auto 5px auto;
    text-align: center;
  }
  /*progressbar connectors*/
  .progressbar2 li:after {
    content: '';
    width: 100%;
    height: 4px;
    background:rgba(224,211,206,0.2);
    position: absolute;
    left: -30%;
    top: 18px;
    z-index: -1; /*put it behind the numbers*/
  }
  .progressbar2 li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
  }
  /*marking active/completed steps green*/
  /*The number of the step and the connector before it = green*/
  .progressbar2 li.active:before,  .progressbar2 li.active:after{
    background:  rgba(64,179,94,0.4);
    color: white;
  }
  
  
  @media screen and (max-width: 600px) {
    .respon {
      border: 0;
    }
  
    .respon caption {
      font-size: 1.3em;
    }
    
    .respon thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    .respon tr {
      border-bottom: 3px solid #ddd !important;
      display: block;
      margin-bottom: .625em;
    }
  
    .respon tr:nth-of-type(odd) {
      background-color: #f9f9f9;
    }
    
    .respon td {
      border-bottom: 1px solid #ddd !important;
      display: block;
      font-size:14px;
      text-align: right !important;
    }
    
    .respon td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      /*text-transform: uppercase;*/
    }
    
    .respon td:last-child {
      border-bottom: 0;
    }
  }
  
  
  
  img.bn {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);  
  }
  
  
  .hours-ul
  {
        margin-bottom: 30px;
      max-height: 200px;
      overflow-y: auto;
      scrollbar-face-color: #6685CA;
      scrollbar-highlight-color: #6685CA;
      scrollbar-shadow-color: #6685CA;
      scrollbar-3dlight-color:#FFFFFF;
      scrollbar-arrow-color:#FFFFFF;
      scrollbar-track-color:#E5E5E5;
  }
  
  .hours-ul ul
  {
      list-style: none;
      margin-left: 0px;
      padding-inline-start: 0px;
  }
  .hours-ul .radio {
      margin: 0;
  }
  
  .hours-ul .radio label {
      width: 100%;
      font-size: 12px;
      padding: 10px 10px 10px 35px;
      border-radius: 4px;
      border: 1px solid transparent;
      transition: .3s;
      cursor: pointer;
      background-color: transparent;
  }
  
  .hours-ul .radio label::before {
      left: 10px;
  }
  
  .hours-ul .radio label p {
      min-width: 120px;
      margin: 0 50px 0 0;
      color: #7d7d7d;
      transition: .3s;
  }
  
  .hours-ul .radio label p, .hours-ul .radio label span {
      display: inline-block;
      vertical-align: middle;
      zoom: 1;
  }
  
  .hours-ul .radio label span {
      color: #1ec69f;
  }
  
  .hours-ul .radio label::after {
      left: 0px;
  }
  .hours-ul .radio input[type=radio] {
      display: none;
  }
  
  
  .hours-ul .radio input[type=radio]:checked+label {
      border-color: #78b72a;
      background-color: rgba(8,239,47,.07);
  }
  
  .hours-ul .radio input[type=radio] +label:hover {
      border-color: #78b72a;
      background-color: rgba(8,239,47,.07);
  }
  
  .hours-ul::-webkit-scrollbar-track{border-radius:20px;background-color:transparent}
  .hours-ul::-webkit-scrollbar{width:4px}
  .hours-ul::-webkit-scrollbar-thumb{border-radius:10px;background-color:#e5edef}
  
  
  
  .rtRequired {
      background-color: #cc0000;
      height: 21px;
      width: 3px;
      float: left;
      margin: 0 1px 0 1px !important;
      margin: 2px 1px 0 1px;
  }


  .item-producto .ui-ribbon-wrapper {
    position: absolute;
    overflow: hidden;
    width: 85px;
    height: 88px;
    top: -3px;
    left: -3px;
    z-index: 1000
}

.item-producto .ui-ribbon {
    position: relative;
    display: block;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    transform: rotate(-45deg);
    padding: 0px 7px;
    right: 22px;
    top: 18px;
    width: 100px;
    line-height: 20px;
    background-color: #f9ae04;
    box-shadow: 0 0 3px rgba(0,0,0,.3);
}

.item-producto .ui-ribbon:after, .ui-ribbon-container .ui-ribbon:before {
    position: absolute;
    content: " ";
    line-height: 0;
    border-top: 2px solid #555;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}

.item-producto .ui-ribbon:before {
    left: 0;
    bottom: -1px;
    right: 0;
}