<div class="content anchos" style="height: 57pc;">
    <div class="row">
        <!--<div class="row col-12">
            <div class="form-group col">
                <br>
                <input type="text" [(ngModel)]="seartxt" (change)="buscar()" class="form-control form-control-sm"
                    placeholder="Buscar Productos" id="exampleFormControlInput1">
            </div>
            <div class="pbutton">
                <button (click)="buscar()" [disabled]="loader" mat-raised-button mat-min-fab
                    class="btn btn-primary btn-just-icon btn-round">
                    <i class="material-icons">search</i>
                </button>
            </div>
        </div>-->
        <div class="col-12">
            <div class="contenedor">
                <div class="table-responsive">
                    <div style="width: 1077px; height: 35px;">
                        <a *ngFor="let item of imageObject;let idx=index" (click)="imageOnClick(idx, item);"
                            class="estiloCategoria pointer titulo2" [ngClass]="{ 'cambiaColor': item.check == true }">
                            {{ item.title }}
                        </a>
                    </div>
                </div>
            </div>
            <br>
            <!--<ng-image-slider [images]="imageObject" [infinite]="sliderInfinite" [imagePopup]="sliderImagePopup"
                [showArrow]="sliderArrowShow" [imageSize]="{width: sliderImageWidth, height: sliderImageHeight}"
                [autoSlide]="sliderAutoSlide ? 1 : 0" [slideImage]="sliderSlideImage"
                [animationSpeed]="sliderAnimationSpeed" (imageClick)="imageOnClick($event)"
                (arrowClick)="arrowOnClick($event)" (lightboxArrowClick)="lightboxArrowClick($event)" #nav>
            </ng-image-slider>-->
        </div>
        <div class="col-12 d-flex justify-content-center" infiniteScroll [infiniteScrollDistance]="10" [infiniteScrollThrottle]="60"
            (scrolled)="onScroll()">
            <div class="row">
                <mat-card class="example-card col-md-3 col-sm-4 col-lg-2 col-xs-6 col-6 anchandoPr"
                    *ngFor="let item of listProductos">
                    <div class="ui-ribbon-wrapper hide" *ngIf="item.descuento">
                        <div class="ui-ribbon">
                            {{ item.descuento }}% Off
                        </div>
                    </div>
                    <figure data-toggle="modal" id="figura" data-target="#modalinfo" class="img-contenedor">
                        <img class="img-responsive btn-block imgProductos pointer " [src]="item.foto"
                            (click)="agregar(item)">
                    </figure>
                    <mat-card-content>
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <span class="titulo2">{{ item.pro_nombre | slice: 0: 20 }}</span>
                                    </div>
                                    <div>
                                        <span class="titulo2">
                                            <small style="display: inline-block;  font-size: 90% !important;"
                                                class="pricesmall currency2" id="pricesmall_25">$ {{ (
                                                item.pro_uni_ventaEdit || item.pro_uni_venta || 0 ).toLocaleString(1) }}
                                            </small><br>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="d-flex justify-content-between">
                                    <div style="padding-top: 20px;">
                                        <div class="plusminus2 horiz" data-after="UND">
                                            <button type="button" class="btn-number" data-type="minus"
                                                (click)="menosCantidad(item)" data-field="product_quantity_25"></button>
                                            <input (change)="manualCantidad(item)" data-clasificacion="" data-un="UND"
                                                type="number" name="product_quantity2" id="product_quantity_25" min="1"
                                                [(ngModel)]="item.cantidadAdquirir" class="input-number ">
                                            <span class="hide" *ngIf="!item.cantidadAdquirir">1</span>
                                            <button type="button" class="btn-number" data-type="plus"
                                                (click)="maxCantidad(item)" data-field="product_quantity_25"></button>
                                        </div>
                                    </div>
                                    <div></div>
                                    <div>
                                        <mat-form-field *ngIf="item.listTallas"
                                            class="tallasEstilo">
                                            <mat-label>Tallas disponibles</mat-label>
                                            <mat-select [(ngModel)]="item.tallasSelect" disableRipple>
                                                <mat-option *ngFor="let row of item.listTallas"
                                                    [value]="row.tal_descripcion">
                                                    {{ row.tal_descripcion }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-12">
                                <button type="button" data-toggle="tooltip" data-placement="right" style="width: 100%;"
                                    class="sc-logout btn btn-success btn-sm pull-right buttonAncho"
                                    (click)="AgregarCart(item)" data-original-title="Añadir al carro">Agregar</button>
                            </div>
    
                            <div class="col-12">
                                <img (click)="masInfo(item)" class="pointer" src="./assets/icons/masinformacion.png"
                                    style="width: 100%;">
                            </div>
                            <div class="col-12">
                                <img src="./assets/icons/descargar.png" style="width: 100%;" class="pointer"
                                    (click)="descargarFoto( item )">
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
                <div class="col-12 p-5">
                    <ngx-spinner bdOpacity=0.9 bdColor="" size="default" color="#581f87" type="ball-pulse-sync"
                        [fullScreen]="false">
                    </ngx-spinner>
                </div>
            </div>
        </div>

        <div class="mx-auto" style="width: 200px;" *ngIf="listProductos.length === 0">
            No Hay Datos
        </div>
    </div>
    <br><br>
</div>