<div class="content anchos">
    <div class="row">
        <div class="row col-12">
            <div class="form-group col">
                <br>
                <input type="text" [(ngModel)]="seartxt" (change)="buscar()" class="form-control form-control-sm" placeholder="Buscar Productos"
                    id="exampleFormControlInput1">
            </div>
            <div class="pbutton">
                <button (click)="buscar()" [disabled]="loader" mat-raised-button mat-min-fab
                    class="btn btn-primary btn-just-icon btn-round">
                    <i class="material-icons">search</i>
                </button>
            </div>
        </div>
        <div class="col-12">
            <div class="contenedor">
                <div class="table-responsive">
                    <div style="width: 1077px; height: 35px;">
                        <a *ngFor="let item of imageObject;let idx=index" (click)="imageOnClick(idx, item);" 
                            class="estiloCategoria pointer"
                            [ngClass]="{ 'cambiaColor': item.check == true }"
                        >
                            {{ item.title }}
                        </a>
                    </div>
                </div>
            </div>
            <br>
            <!--<ng-image-slider [images]="imageObject" [infinite]="sliderInfinite" [imagePopup]="sliderImagePopup"
                [showArrow]="sliderArrowShow" [imageSize]="{width: sliderImageWidth, height: sliderImageHeight}"
                [autoSlide]="sliderAutoSlide ? 1 : 0" [slideImage]="sliderSlideImage"
                [animationSpeed]="sliderAnimationSpeed" (imageClick)="imageOnClick($event)"
                (arrowClick)="arrowOnClick($event)" (lightboxArrowClick)="lightboxArrowClick($event)" #nav>
            </ng-image-slider>-->
        </div>
        <div class="search-results col-12 row" infiniteScroll [infiniteScrollDistance]="3" [infiniteScrollThrottle]="50"
            (scrolled)="onScroll()">
            <div class="row">

                <li class="col-md-3 col-sm-4 col-lg-2 col-xs-6 col-6 item-producto data-row thumbnail paddinButtom" id="producto-item-25"
                    data-placement="top" data-toggle="tooltip"
                    *ngFor="let item of listProductos">
                    <div class="ui-ribbon-wrapper hide" *ngIf="item.descuento">
                        <div class="ui-ribbon">
                            {{ item.descuento }}% Off
                        </div>
                    </div>
                    <figure data-toggle="modal" id="figura" data-target="#modalinfo" class="img-contenedor">
                        <img class="img-responsive btn-block imgProductos pointer "
                                        [src]="item.foto" (click)="agregar(item)">
                    </figure>
                    <div class="col-md-12 col-xs-12">
                        <a [href]="item.foto" download="Tommy negro" id="descargar" target="_blank"
                            class="fa fa-cloud-download">DESCARGAR</a>
                        <small class="pricesmalloferta currency2 hide"></small>
                        <!--id="precio_25" data-name="product_name"-->
                        <span>
                            <small style="display: inline-block;" class="pricesmall currency2"
                            id="pricesmall_25">$ {{ ( item.pro_uni_ventaEdit || item.pro_uni_venta || 0 ).toLocaleString(1) }} COP</small><br>
                            <span>{{ item.pro_nombre | slice: 0: 20 }}</span>
                        </span>

                        <p style="display: none" data-name="product_desc"></p>
                        <em id="emestimado_25" class="peso-estimado  hide" style="display: inline;"><span
                                id="esti_25"></span></em>
                    </div>
                    <div class="" data-idp="25">

                        <div class="caption">

                            <div class="row">
                                <div class="col-md-8 col-xs-8 col-lg-8">
                                    <div class="plusminus2 horiz" data-after="UND">
                                        <button type="button" class="btn-number" data-type="minus" (click)="menosCantidad(item)"
                                            data-field="product_quantity_25"></button>
                                        <input (change)="manualCantidad(item)" data-clasificacion=""
                                             data-un="UND" type="number"
                                            name="product_quantity2" id="product_quantity_25" min="1" [(ngModel)]="item.cantidadAdquirir"
                                            class="input-number ">
                                        <span class="hide" *ngIf="!item.cantidadAdquirir">1</span>
                                        <button type="button" class="btn-number" data-type="plus" (click)="maxCantidad(item)"
                                            data-field="product_quantity_25"></button>
                                    </div>
                                </div>

                                <div class="col-md-4 col-xs-4 col-lg-4">
                                    <button type="button" data-toggle="tooltip" data-placement="right"
                                        class="sc-logout btn btn-success btn-sm pull-right buttonAncho" title=""
                                        (click)="AgregarCart(item)"
                                        data-original-title="Añadir al carro">Agregar</button>
                                    <input name="product_price2" id="product_price2_25" value="89900" type="hidden">
                                    <input class="sc-product-id" name="product_id2" value="25" type="hidden">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 col-xs-12 col-lg-12">
                                    <button type="button" data-toggle="tooltip" data-placement="bottom"
                                        class="sc-logout btn btn-success btn-sm pull-right col-md-12" title=""
                                        (click)="masInfo(item)"
                                        data-original-title="PAGAS CUANDO RECIBES: Más Información por Whatsapp">
                                        Más Información <img src="./assets/icons/whatsapp.png"
                                            style="width: 15%; float: right">
                                    </button>
                                    <label style="color:red;cursor: pointer" data-toggle="tooltip"
                                        data-placement="bottom" title=""
                                        data-original-title="PAGAS CUANDO RECIBES: Más Información por Whatsapp">Pagas
                                        cuando recibes!</label>
                                        <div class="mx-auto" style="width: 200px;">
                                            <a class="pointer" (click)="openShare(item)">
                                                <img src="./assets/icons/compartir.jpg">
                                            </a>
                                            <!-- <a href="https://www.facebook.com/sharer/sharer.php?kid_directed_site=0&u=https://www.locomproaqui.com/productos/15?u=https://www.locomproaqui.com/productos/{{ item.id }}"
                                                target="_blank">
                                                <img src="./assets/icons/compartir.jpg">
                                            </a> -->
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>


            </div>
            <!-- sinner -->
            <div class="col-md-12 p-5">
                <ngx-spinner bdOpacity=0.9 bdColor="" size="default" color="#581f87" type="ball-pulse-sync"
                    [fullScreen]="false">
                </ngx-spinner>
            </div>
        </div>

        <div class="mx-auto" style="width: 200px;" *ngIf="listProductos.length === 0">
            No Hay Datos
        </div>
    </div>
</div>