<h2 mat-dialog-title>
    <div class="d-flex justify-content-center">
        <div>
            <h2>NOTICIAS DE LOKOMPROAQUI.COM</h2>
        </div>
    </div>
</h2>

<mat-dialog-content class="mat-typography">
    <div class="row">
        <div class="col-12 col-sm-6">
            <app-imprimir-tarjeta></app-imprimir-tarjeta>
        </div>
        <div class="col-12 col-sm-6">
            
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="warn">Cerrar</button>
</mat-dialog-actions>