<div [class.example-is-mobile]="mobileQuery.matches">
  <nav class="navbar navbar-expand-lg navbar-light headerColor" #nav>
    <div class="d-flex justify-content-between col-12" style="width: 100%;">
      <div>
        <button mat-icon-button (click)="snav.toggle()" translate="no">
          <i class="material-icons icoss">menu</i>
        </button>
        <a [routerLink]="[ '/pedidos' ]">
          <img [src]="urlLogo" style="width: 177px;">
        </a>
      </div>
      <div class="buscadorOcultar">
        <input type="text" style="border-radius: 11px;" [(ngModel)]="seartxt" (change)="buscar()"
          class="form-control form-control-sm" placeholder="Buscar Productos">
      </div>
      <div style="width: 25%;">
        <div class="d-flex flex-row-reverse bd-highlight" style="margin-top: 15px;">
          <!--<div class="anchoReal12 anchos2" *ngIf="userId.id && !dataUser.id">
            <a [routerLink]="[ '/registro', this.userId.id ]" class="p-1 pointer espacios" matBadgeColor="accent">
              <i class="material-icons icoss">person_add</i>
            </a>
          </div>-->
          <div class="anchoReal12 anchos2" *ngIf="!dataUser.id && !userId.id">
            <a [routerLink]="[ '/login' ]" class="p-1 pointer espacios">
              <i class="material-icons icoss">person</i>
            </a>
          </div>
          <div class="anchoReal12 anchos2" *ngIf="dataUser.id">
            <a [routerLink]="[ '/config/perfil' ]" class=" altoNull buscadorOcultar2p-1 pointer espacios">
              <i class="material-icons icoss">person</i>
            </a>
          </div>
          <div class="anchoReal12 anchos2">
            <a (click)="this.opcionoView = 'carro'; sidenav.toggle();" class="p-1 pointer espacios"
              [matBadge]="listCart.length" matBadgePosition="before" matBadgeColor="accent">
              <i class="material-icons icoss">shopping_cart</i>
            </a>
          </div>
          <div class="anchoReal12 anchos2" *ngIf="dataUser.id">
            <a (click)="this.opcionoView = 'notificaciones'; sidenav.toggle();" class="p-1 pointer espacios"
              [matBadge]="notificando" matBadgePosition="before" matBadgeColor="accent">
              <i class="material-icons icoss">notifications_active</i>
            </a>
          </div>
          <div *ngIf="dataUser.id && rolUser == 'proveedor'" style="margin-right: 4%;" class="buscadorOcultar">
            <a class="text-white" routerLink="/config/misDespacho">
              Despachos
            </a>
          </div>
          <div *ngIf="dataUser.id" style="margin-right: 4%;" class="buscadorOcultar">
            <a class="text-white" routerLink="/config/cobros">
              $ {{ ( ( dataInfo?.porcobrado ) || 0 ).toLocaleString(1) }} COP
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between col-12" style="width: 100%;" *ngIf="disabledSearch">
      <div style="width: 100%;">
        <input type="text" style="border-radius: 11px;" [(ngModel)]="seartxt" (change)="buscar()"
          class="form-control form-control-sm" placeholder="Buscar Productos">
      </div>
    </div>
    <div class="d-flex flex-row-reverse bd-highlight col-12" style="width: 100%;" *ngIf="disabledSearch && dataUser.id">
      <div>
        <span class="text-white" [routerLink]="[ '/config/cobros' ]">
          Ganancias $ {{ ( ( dataInfo?.porcobrado ) || 0 ).toLocaleString(1) }} COP
        </span>
      </div>
    </div>
    <app-menu-lateral></app-menu-lateral>
  </nav>


  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav position="end" #sidenav mode="side" [(opened)]="opened" [mode]="'over'" (opened)="events.push('open!')"
      (closed)="events.push('close!')" class="sidenav anchos">
      <div *ngIf="opcionoView == 'carro'">
        <mat-toolbar>
          <mat-toolbar-row>
            <div class="d-flex justify-content-between">
              <div>
                <a class="pointer text-danger" (click)="sidenav.toggle()">
                  <i class="material-icons" aria-hidden="true">close</i>
                </a>
              </div>
              <div></div>
              <div>
                <h5>Productos Seleccionados</h5>
              </div>
            </div>
          </mat-toolbar-row>
        </mat-toolbar>
        <div class="content">
          <div class="row">
            <div class="col-12">
              <mat-list>
                <mat-list-item *ngFor="let item of listCart;let idx=index">
                  <img class="imgFoto pointer" [src]="item.foto || './assets/img/producto.jpg'" mat-list-icon>
                  <h4 mat-line>{{ item.titulo }}</h4>
                  <p mat-line>{{ 'Cantidad: '+item.cantidad }} </p>
                  <p mat-line>Precio: {{ _tools.monedaChange( 3,2,item.costoTotal || 0 )  }} COP</p>
                  <p mat-line *ngIf="dataUser.id">Lo Vendiste: {{ _tools.monedaChange( 3,2,item.loVendio || 0 )  }} COP</p>
                  <p mat-line><span (click)="booleanoOpen = false; deleteCart(idx, item);" class="p-1 pointer d-flex justify-content-end"><i
                        class="material-icons">delete</i></span> </p>
                </mat-list-item>
              </mat-list>
            </div>
          </div>
        </div>
        <div class="cart-bg-overlay"></div>

        <div class="right-side-cart-area">

          <div class="cart-content d-flex p-2">
            <div class="cart-amount-summary">
              <h2>Resumen de tu venta &nbsp;</h2>
              <ul class="summary-table">
                <li *ngIf="dataUser.id"><span>Valor a pagar de tu cliente: &nbsp;</span> <span>{{ _tools.monedaChange( 3,2,data.total || 0 ) }}</span> </li>
                <li *ngIf="!dataUser.id"><span>Valor a pagar: &nbsp;</span> <span>{{ _tools.monedaChange( 3,2,data.total || 0 ) }}</span> </li>
                <li *ngIf="dataUser.id"><span>Tu ganancia en esta venta es: &nbsp;</span> <span>{{ _tools.monedaChange( 3,2,data.totalGanancias || 0 )  }}</span> </li>
                <li *ngIf="namePorcentaje == 'dropshipping pro'">
                  <div class="alert alert-danger" role="alert">
                    <span>Nota: &nbsp;</span> <span>Ten en cuenta que el valor del flete sera descontado de tu ganancia</span>
                  </div>
                </li>
              </ul>
              <div class="col-12">

              </div>
              <div class="d-flex justify-content-between">
                <div>
                  <button type="button" class="btn btn-primary" (click)="pedidosSubmit()">
                    <span *ngIf="dataUser.id">realizar guía de despacho</span>
                    <span *ngIf="!dataUser.id">Hacer pedido</span>
                  </button>
                </div>
                <div></div>
                <div>
                  <button (click)="sidenav.toggle()" type="button" class="btn btn-success" routerLink="/pedidos">agregar más productos</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="opcionoView == 'notificaciones'">
        <mat-toolbar>
          <mat-toolbar-row>
            <div class="row">
              <div class="">
                <a class="pointer" (click)="sidenav.toggle()">
                  <i class="material-icons" aria-hidden="true">close</i>
                </a>
              </div>
              <div class="col">
                Notificaciones
              </div>
            </div>
          </mat-toolbar-row>
        </mat-toolbar>
        <div class="content row">
          <div class="col-12">
            <mat-list>
              <mat-list-item *ngFor="let item of listNotificaciones;let idx=index" (click)="clickNotificando( item )"
                class="pointer">
                <img class="imgFoto pointer" [src]="item.foto || './assets/icons/notificacion.png'" mat-list-icon>
                <h4 mat-line>{{ item.titulo }}</h4>
                <p mat-line>{{ item.descripcion }} </p>
              </mat-list-item>
            </mat-list>
          </div>
          <div class="col-12" *ngIf="listNotificaciones.length === 0">
            <div class="mx-auto" style="width: 200px;">
              No Hay Notificaciones
            </div>
          </div>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav class="sidenav" #snav (window:resize)="onResize($event)" [mode]="mobileQuery.ds ? 'over' : 'side'"
      [fixedInViewport]="true" fixedTopGap="56" [opened]="(isHandset$ | async) === false">
      <div style="width: 290px; height: 90px;" fxLayout="column">
        <ng-container class="row">
          <!--<ul class="nav nav-pills nav-stacked row margin">
            <li class="active col-12 paddingLeft">
              <p> MENU PRINCIPAL </p>
              <span *ngIf="dataUser.id"> NIVEL {{ dataInfo['nivel']?.categorias }} </span>
            </li>
          </ul>-->
          <ul class="nav nav-pills nav-stacked row margin">
            <li *ngFor="let item of menus" class="active col-12 paddingLeft ">
              <div *ngIf="item.disable" class="colorMenu padding2">
                <a [routerLink]="item.url" routerLinkActive="active" translate="false" *ngIf="item.submenus.length == 0"
                  class="pointer colorMenu">
                  <i class="material-icons textInf">{{ item.icons }}</i>
                  <span class="p">{{ item.nombre }}</span>
                </a>

                <a class="dropdown-toggle pointer colorMenu" *ngIf="item.submenus.length >0"
                  (click)="item.disabled = !item.disabled">
                  <i class="material-icons textInf">{{ item.icons }}</i>
                  <span class="p">{{ item.nombre }}</span>
                </a>

                <ul class="submenu colorMenu" *ngIf="item.submenus.length >0 && item.disabled">
                  <li *ngFor="let sub of item.submenus" class="pointer">
                    <a [routerLink]="sub.url" class="p colorMenu">
                      <span class="p">{{ sub.nombre }}</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="active col-12 paddingLeft pointer" *ngFor="let item of menus2">
              <a routerLinkActive="active" translate="false" (click)="EventMenus(item)" *ngIf="item.disable"
                class="colorMenu">
                <i class="material-icons textInf">{{ item.icons }}</i>
                <span class="p">{{ item.nombre }}</span>
              </a>
            </li>
          </ul>
        </ng-container>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <br>
      <div class="container">
        <div class="d-flex justify-content-center" *ngIf="dataUser.id || userPr.id">
          <div style="width: 100%;">
            <div class="d-flex justify-content-around" *ngIf="rolUser1 != 'proveedor'">
              <div>
                <button type="button" class="btn btn-primary" (click)="openTienda('distribuidor')">Ver como Distribuidor</button>
              </div>
              <div></div>
              <div>
                <button type="button" class="btn btn-success" (click)="openTienda('visitante')">Ver como Visitante</button>
              </div>
            </div>
            <div class="d-flex justify-content-around" *ngIf="rolUser1 == 'proveedor'">
              <div>
                <button type="button" class="btn btn-primary" (click)="openTienda('proveedor')">Ver como Proveedor</button>
              </div>
              <div></div>
              <div>
                <button type="button" class="btn btn-success" (click)="openTienda('distribuidorpr')">Ver como  Distribuidor</button>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <h4 *ngIf="dataUser.id" class="text-center text-dark altos titulo1">
            BIENVENIDO A TU OFICINA VIRTUAL " {{ dataUser.usu_usuario }} "
          </h4>
          <h4 *ngIf="!dataUser.id" class="text-center text-dark altos titulo1">
            BIENVENIDO A {{ userId.usu_usuario || 'LOKOMPROAQUI'}}
          </h4>
        </div>
      </div>
      <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngFor="let item of listAlert">
        <div class="d-flex justify-content-center">
          <div style="width: 100%;">
            <img class="foto" *ngIf="item.foto" [src]="item.foto"> <strong>{{ item.titulo }}!</strong> {{
            item.descripcion
            }}.
            <button *ngIf="item.tipoDe == 1" (click)="crear( item )" class="btn btn-primary btn-just-icon btn-round"
              mat-raised-button mat-min-fab>Crear Comentario</button>
            <button type="button" class="close" data-dismiss="alert" (click)="closeAlert( item )" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
      <ng-content> </ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>