<div class="content fondo">
    <div class="row">
        <div class="col-12 col-sm-8">
            <section>
                <mat-video #video1
                            [src]="dataSelec.url"
                            [title]="dataSelec.titulo" [autoplay]="true" [preload]="true" [fullscreen]="true"
                            [download]="false" [showFrameByFrame]="false" color="accent" 
                            [poster]="dataSelec.img">
                </mat-video>
                <!-- spinner="spin" -->
                <h2>{{ dataSelec.titulo }}</h2>
                <p [innerHtml]="dataSelec.descripcion"></p>
            </section>
            <div *ngIf="this.dataUser.usu_perfil.id==2">
                <form>
                    <div class="form-group">
                        <label>Titulo</label>
                        <input [(ngModel)]="this.dataSelec.titulo" [ngModelOptions]="{standalone: true}" type="text" class="form-control" >
                    </div>
                    <div class="form-group">
                        <label>Descripcion</label>
                        <textarea [(ngModel)]="dataSelec.descripcion"  [ngModelOptions]="{standalone: true}" class="form-control" >{{ dataSelec.descripcion }}</textarea>
                    </div>
                    <div>
                        <input (click)="actualizar()" value="Actualizar" class="btn btn-info" type="button">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-12 col-sm-4 scrols">
            <li class="list-group list-group-flush">
                <ul class="list-group-item pointer" *ngFor="let item of listCursos" (click)="selectCurso( item )">
                    <img [src]="item.img" alt="" style="width: 56%;">
                    <h5>{{ item.titulo }}</h5>
                </ul>
            </li>
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="col-12 col-sm-8">
        <section>
            <mat-video #video1
                        [src]="dataSelec.url"
                        [title]="dataSelec.titulo" [autoplay]="false" [preload]="true" [fullscreen]="true"
                        [download]="false" [showFrameByFrame]="false" color="accent" spinner="spin"
                        [poster]="dataSelec.img">
            </mat-video>
            <h2>{{ dataSelec.titulo }}</h2>
            <p [innerHtml]="dataSelec.descripcion"></p>
        </section>
        
        
    </div>
    <div class="col-12 col-sm-4 scrols">
        <li class="list-group list-group-flush">
            <ul class="list-group-item pointer" *ngFor="let item of listCursos" (click)="selectCurso( item )" [ngClass]="{'check': item.check}">
                <img [src]="item.img" alt="" style="width: 56%;">
                <h5>{{ item.titulo }}</h5>
            </ul>
        </li>
    </div>
</div> -->