<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="overflow-x: scroll;">
                    <br>
                    <br>
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title">Mi cuenta</h4>
                    </div>
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <h5>{{ data.usu_nombre }}</h5>
                        </div>
                        <div class="row">
                            <h6 class="card-title">
                                Este es el Link de su tienda:
                            </h6>
                            <div>
                                <button (click)="copiarLink()"
                                    *ngIf="textPerfil !== 'proveedor'"
                                    class="btn btn-primary btn-just-icon btn-round saltoButton">TRAER CLIENTES A MI
                                    TIENDA</button>
                                <button (click)="copiarLinkRegistro()"
                                    class="btn btn-success btn-just-icon btn-round saltoButton" *ngIf="disableBtn">
                                    Link para crear mi equipo de vendedores
                                </button>
                                <!--<button (click)="abrrirTienda()"
                                    class="btn btn-primary btn-just-icon btn-round saltoButton">Abrir tienda en una
                                    pestaña nueva</button>-->
                            </div>
                        </div>
                    </div>
                    <div class="row container">
                        <div class="col-12">
                            <div class="d-flex justify-content-center">
                                <div class="row" id="tarjeta"
                                    style="    height: -webkit-fill-available; width: min-content;">
                                    <div class="col-12">
                                      <div class="container">
                                        <div class="d-flex justify-content-center">
                                            <div class="row efectos">
                                                <div class="col-12">
                                                    <div class="d-flex justify-content-center">
                                                        <div>
                                                            <h4>ASO-VIRTUAL-CONNECTED</h4>
                                                            <p style="text-align: center;
                                                            font-size: 11px;
                                                            font-weight: bolder;">Asociacion de Tiendas Virtuales
                                                                conectadas</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <img style="width: 100%;   background-attachment: fixed; background-position: center;"
                                                        [src]="data.usu_imagen || '../assets/noimagen.jpg' " *ngIf="!croppedImage">
                                                    <img style="width: 100%;   background-attachment: fixed; background-position: center;"
                                                    [src]="croppedImage" *ngIf="croppedImage">
                                                </div>
                                                <div class="col-8 row">
                                                    <div class="col-12">
                                                        <label for="exampleFormControlInput1" class="sixes">ID:</label>
                                                        <input type="text" [(ngModel)]="data.id" required disabled
                                                            class="form-control form-control-sm sixes" placeholder="id">
                                                    </div>
                                                    <div class="col-12">
                                                        <label for="exampleFormControlInput1"
                                                            class="sixes">Nombre:</label>
                                                        <input type="text" [(ngModel)]="data.usu_nombre1" required
                                                            disabled class="form-control form-control-sm sixes"
                                                            placeholder="Ingrese tu nombre">
                                                    </div>
                                                    <div class="col-6">
                                                        <label for="exampleFormControlInput1"
                                                            class="sixes">Ciudad</label>
                                                        <input type="text" [(ngModel)]="data.usu_ciudad" required
                                                            disabled class="form-control form-control-sm sixes"
                                                            placeholder="Ingrese tu ciudad">
                                                    </div>
                                                    <div class="col-6">
                                                        <label for="exampleFormControlInput1"
                                                            class="sixes">fecha</label>
                                                        <input type="text" [(ngModel)]="fecha" required disabled
                                                            class="form-control form-control-sm sixes">
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <p class="sixes" style="    text-align: center;"> Este documento es para uso vip de nuestra
                                                        plataforma con este documento entras a evento exclusivos </p>
                                                </div>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-success" (click)="openImprimir()">IMPRIMIR</button>
                            </div>
                        </div>
                    </div>
                    <mat-tab-group mat-align-tabs="center" [color]="'accent'" [backgroundColor]="'primary'">
                        <mat-tab label="Datos Iniciales" >
                            <div class="row" style=" padding: 20px ">
                                <div class="col-12 content">

                                    <div class="d-flex justify-content-center">
                                        <div>
                                            <button class="contenedor-btn-file" style="    margin-left: 146px;" (click)="openView('usu_imagen')">
                                                <i class="material-icons">file_upload</i>
                                                Subir Foto de tu Tienda 400px / 400px
                                                <label for="btn-file"></label>
                                                <input type="file" id="btn-file" accept="image/*" (change)="fileChangeEvent($event)">
                                            </button>
                                            <span *ngIf="viewOpt==='usu_imagen'">
                                                <button *ngIf="croppedImage" style="height: 55px;" type="button" class="btn btn-success" (click)="finixCorteImg('usu_imagen')">Terminar y Subir Imagen</button>

                                                <image-cropper style="width: 570px;" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                                                    [aspectRatio]="400 / 400" format="png" (imageCropped)="imageCropped( $event )"
                                                    (imageLoaded)="imageLoaded( $event )" (cropperReady)="cropperReady( $event )"
                                                    (loadImageFailed)="loadImageFailed( $event )"></image-cropper>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                                <!--<div class="col-12 content">
                                    <br>
                                    <div class="d-flex justify-content-center">
                                        <div>
                                          <span>
                                            <h3>Subir banner 1024px / 340px
                                                <button (click)="openFile(this.data.pdfRut)" *ngIf="data.pdfRut" class="btn btn-primary btn-just-icon btn-round">
                                                    <i class="material-icons">remove_red_eye</i>
                                                </button>
                                                </h3>
                                                <input type="file" id="btn-file" accept="application/image/*" (change)="openView('us_banner'); fileChangeEvent($event)"/> Subir banner
                                          </span>


                                            <span *ngIf="viewOpt==='us_banner'">
                                                <button *ngIf="croppedImage" style="height: 55px;" type="button" class="btn btn-success" (click)="finixCorteImg('us_banner')">Terminar y Subir Imagen</button>

                                                <image-cropper style="width: 570px;" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                                                    [aspectRatio]="1024 / 340" format="png" (imageCropped)="imageCropped( $event )"
                                                    (imageLoaded)="imageLoaded( $event )" (cropperReady)="cropperReady( $event )"
                                                    (loadImageFailed)="loadImageFailed( $event )"></image-cropper>
                                            </span>
                                        </div>
                                    </div>

                                </div>-->
                                <div class="col-12">
                                    <label>Nombre de su tienda</label>
                                    <input type="text" [(ngModel)]="data.usu_usuario"
                                        class="form-control form-control-sm" (ngModelChange)="validadUsername()">
                                    <div *ngIf="!disabledusername">
                                        <span class="bg-danger text-white rounded">El Nombre de su tienda Ya Se
                                            Encuentra Registrado Por Favor Utilizar
                                            Otro</span>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-3">
                                    <label>Nombre de usuario</label>
                                    <input type="text" [(ngModel)]="data.usu_nombre"
                                        class="form-control form-control-sm">
                                </div>
                                <div class="col-6 col-sm-3">
                                    <label>Apellido(s)</label>
                                    <input type="text" [(ngModel)]="data.usu_apellido"
                                        class="form-control form-control-sm">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label>Numero de Whatsapp</label>
                                    <div class="d-flex bd-highlight mb-3">
                                      <div class="p-2 bd-highlight" style="width: 120px; ">
                                        <select class="form-control form-control-sm" [(ngModel)]="data.usu_indicativo" required >
                                          <option [value]="item.phone_code" *ngFor="let item of listIndicativos">{{
                                              item.nombre }}
                                              +{{ item.phone_code }}
                                          </option>
                                      </select>
                                      </div>
                                      <div class="ml-auto p-2 bd-highlight">
                                        <input type="text" [(ngModel)]="data.usu_telefono" class="form-control form-control-sm">
                                      </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label>Ciudad</label>
                                    <ng-autocomplete [(ngModel)]="data.usu_ciudad" [data]="listCiudades" [searchKeyword]="keyword" placeHolder="Buscar Ciudad" autocomplete="off"
                                        historyIdentifier="listCiudades" [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"  (inputChanged)='onChangeSearch($event)'>
                                    </ng-autocomplete>

                                    <ng-template #itemTemplate let-item>
                                        <div class="item">
                                            <span [innerHTML]="item.city"></span> &nbsp; | &nbsp;
                                            <small>Departamento: {{ item.state }}</small> &nbsp; | &nbsp;
                                            <small>--: {{ item.name }}</small>
                                        </div>
                                    </ng-template>

                                    <ng-template #notFoundTemplate let-notFound>
                                      <div [innerHTML]="notFound"></div>
                                  </ng-template>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label>Dirección</label>
                                    <input type="text" [(ngModel)]="data.usu_direccion"
                                        class="form-control form-control-sm">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label>Correo Electronico</label>
                                    <input type="text" [(ngModel)]="data.usu_email" class="form-control form-control-sm"
                                        (ngModelChange)="validadEmail()">
                                    <div *ngIf="!disabledemail">
                                        <span class="bg-danger text-white rounded">El Email Solo Seran Correos Con
                                            Dominio Gmail</span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label>Url de Facebook</label>
                                    <input type="text" [(ngModel)]="data.url_facebook"
                                        class="form-control form-control-sm">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label>Url de Instagram</label>
                                    <input type="text" [(ngModel)]="data.url_instagram"
                                        class="form-control form-control-sm">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label>Url de youtube</label>
                                    <input type="text" [(ngModel)]="data.url_youtube"
                                        class="form-control form-control-sm">
                                </div>
                                <div class="col-6 col-sm-3">
                                    <label>Fecha Nacimiento(s)</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="date" class="form-control" [(ngModel)]="data.usu_fec_nacimiento">
                                    </div>
                                </div>
                                <div class="col-6 col-sm-3">
                                    <label>Genero</label>
                                    <select class="form-control form-control-sm" [(ngModel)]="data.usu_genero">
                                        <option value="masculino">Masculino</option>
                                        <option value="feminino">Feminino</option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label>Color de tu tienda</label>
                                    <input type="color" [(ngModel)]="data.usu_color"
                                        class="form-control form-control-sm">
                                </div>
                                <!--<div class="col-12">
                                    <label>Confirmar Contraseña Para Actualizar</label>
                                    <input type="text" [(ngModel)]="data.cat_nombre" class="form-control form-control-sm">
                                </div>-->
                                <div class="col-12">
                                    <div class="d-flex flex-row-reverse bd-highlight">
                                        <div class="p-2 bd-highlight">
                                            <button class="p-2 btn btn-success btn-just-icon btn-round" (click)="Actualizar()">
                                                Actualizar Datos
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" *ngIf="disableRestaure">
                                    <label>Clave Nueva</label>
                                    <div class="d-flex bd-highlight">
                                      <div class="p-2 flex-grow-1 bd-highlight">
                                        <input [type]="fieldTextType ? 'text' : 'password'" [(ngModel)]="restaure.passNew"
                                        class="form-control form-control-sm">
                                      </div>
                                      <div class="p-2 bd-highlight">
                                        <div class="input-group-append">
                                          <span class="input-group-text">
                                            <i
                                              class="fa"
                                              [ngClass]="{
                                                'fa-eye-slash': !fieldTextType,
                                                'fa-eye': fieldTextType
                                              }"
                                              (click)="toggleFieldTextType()"
                                            ></i>
                                          </span>
                                        </div>
                                      </div>
                                    </div>
                                    <br>
                                </div>
                                <div class="col-6">
                                    <br>
                                    <button class="p-2 btn btn-primary btn-just-icon btn-round"
                                        (click)="disableRestaure = true;" *ngIf="!disableRestaure">
                                        Cambiar Contraseña
                                    </button>
                                    <button class="p-2 btn btn-primary btn-just-icon btn-round"
                                        (click)="CambiarPassword()" *ngIf="disableRestaure">
                                        Actualizar Contraseña
                                    </button>
                                    <br><br><br>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Datos de bodegas" *ngIf="textPerfil==='proveedor'" style=" padding: 20px ">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <label for="exampleFormControlInput1">Nombre de tu bodega</label>
                                        <input type="text" [(ngModel)]="data.usu_usuario"
                                            class="form-control form-control-sm">
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <label for="exampleFormControlInput1">Numero contacto de soporte</label>
                                        <input type="number" [(ngModel)]="data.usu_telefono"
                                            class="form-control form-control-sm">
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <label for="exampleFormControlInput1">Correo electrónico soporte</label>
                                        <input type="email" [(ngModel)]="data.usu_email"
                                            class="form-control form-control-sm">
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <label>Ciudad</label>
                                        <ng-autocomplete [(ngModel)]="data.usu_ciudad" [data]="listCiudades" [searchKeyword]="keyword" placeHolder="Buscar Ciudad" autocomplete="off"
                                            historyIdentifier="listCiudades" [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"  (inputChanged)='onChangeSearch($event)'>
                                        </ng-autocomplete>

                                        <ng-template #itemTemplate let-item>
                                            <div class="item">
                                                <!-- <img src="{{item.flag}}" height="25"> -->
                                                <span [innerHTML]="item.city"></span> &nbsp; | &nbsp;
                                                <small>Departamento: {{ item.state }}</small> &nbsp; | &nbsp;
                                                <small>--: {{ item.name }}</small>
                                            </div>
                                        </ng-template>

                                        <ng-template #notFoundTemplate let-notFound>
                                          <div [innerHTML]="notFound"></div>
                                      </ng-template>
                                        <!--<input type="text" [(ngModel)]="data.usu_ciudad"
                                            class="form-control form-control-sm">-->
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <label for="exampleFormControlInput1">Dirección de bodega para mensajeria</label>
                                        <input type="text" [(ngModel)]="data.usu_direccion"
                                            class="form-control form-control-sm">
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <label for="exampleFormControlInput1">Tipo de Proveedor?</label>
                                        <select class="form-control form-control-sm" [(ngModel)]="data.tipeUser" required>
                                            <option value="1">
                                              Fabricante
                                            </option>
                                            <option value="2">
                                              Importador
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-12 col-sm-3">
                                        <label for="exampleFormControlInput1">Tiempo de Experiencia como Proveedor Dropshipping?</label>
                                        <select class="form-control form-control-sm" [(ngModel)]="data.tiempoVendiendo" required>
                                            <option value="0">
                                              0 a 6 Meses
                                            </option>
                                            <option value="1">
                                              6 Meses a 1 Año
                                            </option>
                                            <option value="1">
                                              Más de un Año
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-12 col-sm-3">
                                        <label for="exampleFormControlSelect1">¿Estás vinculado alguna plataforma de dropshipping?</label>
                                        <select class="form-control" [(ngModel)]="data.pagasPublicidad">
                                            <option value="si">SI</option>
                                            <option value="no">NO</option>
                                        </select>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                      <label for="exampleFormControlInput1">Seleccionar la o las categorías del tipo
                                          de producto que quiere promocionar</label>
                                      <div class="row">
                                          <div class="col-12 col-sm-6 col-md-4 col-xs-2 col-lg-4"
                                              *ngFor="let item of listCategorias">
                                              <mat-checkbox
                                                  [(ngModel)]="item.check" class="example-margin">
                                                  {{ item.cat_nombre | slice: 0: 10 }}
                                              </mat-checkbox>
                                          </div>
                                      </div>
                                    </div>
                                    <div class="col-12">
                                      <span>
                                        <h3>1.Enviar Rut actualizado
                                            <button (click)="openFile(this.data.pdfRut)" *ngIf="data.pdfRut" class="btn btn-primary btn-just-icon btn-round">
                                                <i class="material-icons">remove_red_eye</i>
                                            </button>
                                            </h3>
                                            <input type="file" id="btn-file" accept="application/pdf" (change)="fileChangeEventPDF($event, 'pdfRut')"/> PDF Rut
                                      </span>
                                      <span>
                                        <h3>
                                            2.Enviar Copia de la Cedula Ampliada al 150%
                                            <button (click)="openFile(this.data.pdfCc)" *ngIf="data.pdfCc" class="btn btn-primary btn-just-icon btn-round">
                                                <i class="material-icons">remove_red_eye</i>
                                            </button>
                                        </h3>
                                        <input type="file" id="btn-file" accept="application/pdf" (change)="fileChangeEventPDF($event, 'pdfCc')"/> PDF Cedula Ampliada al 150%
                                      </span>
                                      <span>
                                        <h3>
                                            3.Enviar Camara de Comercio Actualizada
                                            <button (click)="openFile(this.data.pdfCComercio)" *ngIf="data.pdfCComercio" class="btn btn-primary btn-just-icon btn-round">
                                                <i class="material-icons">remove_red_eye</i>
                                            </button>
                                        </h3>
                                        <input type="file" id="btn-file" accept="application/pdf" (change)="fileChangeEventPDF($event, 'pdfCComercio')"/> PDF Camara de Comercio
                                      </span>
                                    </div>
                                    <div class="col-12">

                                    </div>
                                    <div class="col-12">
                                        <br>
                                        <button class="p-2 btn btn-success btn-just-icon btn-round" (click)="Actualizar()">
                                            Actualizar Datos
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
            <div></div>
        </div>
    </div>
</div>
