<h2 mat-dialog-title>{{ titulo }} Categoria</h2>
<mat-dialog-content class="mat-typography">
    <div class="form row">
        <div class="col-12">
            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="Detalles">
                    <div class="row">
                        <div class="col-12">
                            <label for="exampleFormControlInput1">Nombre del catalago</label>
                            <input type="text" [(ngModel)]="data.titulo" class="form-control form-control-sm">
                        </div>
                        <div class="col-6">
                            <label for="exampleFormControlInput1">Descargar Automatico</label>
                            <select class="custom-select custom-select-sm" [(ngModel)]="data.descargar">
                                <option value="false">No</option>
                                <option value="true">Si</option>
                              </select>
                        </div>
                        <div class="col-6">
                            <label for="exampleFormControlInput1">Precio Cucuta</label>
                            <input type="number" [(ngModel)]="data.precio" class="form-control form-control-sm">
                        </div>
                        <div class="col-6">
                            <label for="exampleFormControlInput1">Precio Fuera Cucuta</label>
                            <input type="number" [(ngModel)]="data.preciomayor" class="form-control form-control-sm">
                        </div>
                        <div class="col-6">
                            <label for="exampleFormControlInput1">Estado del Catalogo</label>
                            <select class="form-control form-control-sm" [(ngModel)]="data.estado">
                                <option type="number" value="0">Avilitar</option>
                                <option type="number" value="1">Desabilitar</option>
                            </select>
                            <br><br>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 col-sm-4 col-md-3 col-lg-2" *ngFor="let item of listGaleria">
                                    <mat-card class="example-card">
                                        <img mat-card-image style="width: 100%;" [src]="item.foto"
                                            alt="Photo of a Shiba Inu">
                                        <mat-card-content>
                                            <h6>{{ item.pro_nombre }}</h6>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button mat-button color="primary" [disabled]="disableEliminar"
                                                (click)="eliminarSeleccion( item )">
                                                <span>Eliminar</span>
                                            </button>
                                        </mat-card-actions>
                                    </mat-card>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <div class="d-flex justify-content-center" *ngIf="listGaleria.length == 0">
                                        <span>No hay items</span>
                                    </div>
                                    <ngx-spinner bdOpacity=0.9 bdColor="" size="default" color="#581f87"
                                        type="ball-pulse-sync" [fullScreen]="false">
                                    </ngx-spinner>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Productos">
                    <div class="row">
                        <div class="col-12 row">
                            <label class="form-group col">
                                <input [(ngModel)]="datoBusqueda" type="search" class="form-control form-control-sm"
                                    placeholder="Buscar Productos" aria-controls="datatables"></label>
                            <div>
                                <button (click)="buscar()" [disabled]="loader" mat-raised-button mat-min-fab
                                    class="btn btn-primary btn-just-icon btn-round">
                                    <i class="material-icons">search</i>
                                </button>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 col-sm-4 col-md-3 col-lg-2" *ngFor="let item of lisProductos">
                                    <mat-card class="example-card">
                                        <img mat-card-image style="width: 100%;" [src]="item.foto"
                                            alt="Photo of a Shiba Inu">
                                        <mat-card-content>
                                            <h6>{{ item.pro_nombre }}</h6>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button mat-button color="primary" *ngIf="item.check"
                                                [disabled]="disableEliminar" (click)="seleccionArticulo( item )">
                                                <span>Seleccionado</span>
                                            </button>
                                            <button mat-button color="accent" [disabled]="disableEliminar"
                                                *ngIf="!item.check" (click)="seleccionArticulo( item )">
                                                <span>No seleccionado</span>
                                            </button>
                                        </mat-card-actions>
                                    </mat-card>
                                </div>
                                <div class="col-12">
                                    <mat-paginator [disabled]="loader" [length]="count" [pageSize]="10"
                                        [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageEvent($event)">
                                    </mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Subir Imagenes">
                    <ngx-dropzone (change)="onSelect($event)">
                        <ngx-dropzone-label>Abrir archivos</ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                            [file]="f" [removable]="true" (removed)="onRemove(f)" multiple="false">
                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-image-preview>
                    </ngx-dropzone>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-success" (click)="subirFile()" [disabled]="btnDisabled">Subir Imagen</button>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close [disabled]="btnDisabled">Cerrar</button>
    <button mat-button cdkFocusInitial (click)="submit()" [disabled]="btnDisabled">
        <span *ngIf="!id">Guardar Cambios</span>
        <span *ngIf="id">Actualizar Cambios</span>
    </button>
</mat-dialog-actions>