<h2 mat-dialog-title>{{ titulo }} </h2>
<mat-dialog-content class="mat-typography">
    <div class="row" *ngIf="disableSpinner">
        <div class="col-12">
            <div class="d-flex justify-content-center">
                <mat-spinner></mat-spinner>
            </div>
        </div>
    </div>
    <div class="form row" *ngIf="!disableSpinner">
        <!-- <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6">
            <label for="exampleFormControlSelect1">Tipo de Venta</label>
            <select class="form-control form-control-sm" [(ngModel)]="data.ven_tipo">
                <option value="carrito">Carrito</option>
                <option value="whatsapp">Whatsapp</option>
            </select>
        </div> -->
        <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6" *ngIf="data.id">
            <label for="exampleFormControlSelect1">Estado de la Venta</label>
            <select class="form-control form-control-sm" [(ngModel)]="data.ven_estado" disabled>
                <option type="number" value="0">Pendiente</option>
                <option type="number" value="3">Despachado</option>
                <option type="number" value="2">Cancelado</option>
            </select>
        </div>
        <div class="form-group col-12 bg-primary text-white rounded">
            <h2>Información del Cliente</h2>
        </div>
        <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6">
            <label for="exampleFormControlInput1">Número Cédula del cliente</label>
            <input type="number" [(ngModel)]="data.cob_num_cedula_cliente" class="form-control form-control-sm">
        </div>
        <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6">
            <label for="exampleFormControlInput1">Nombre y apellidos Cliente</label>
            <input type="text" [(ngModel)]="data.ven_nombre_cliente" class="form-control form-control-sm">
        </div>
        <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6">
            <label for="exampleFormControlInput1">Numero de llamada cliente o whatsapp</label>
            <input type="number" [(ngModel)]="data.ven_telefono_cliente" class="form-control form-control-sm" required>
        </div>
        <!--<div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6">
            <label for="exampleFormControlInput1">Ciudad del Cliente</label>
            <input type="text" [(ngModel)]="data.ven_ciudad" class="form-control form-control-sm">
        </div>-->
        <div class="form-group col-xs-5 col-sm-5 col-12">
            <label>Ciudad Destino *</label>
            <input type="text" class="form-control form-control-sm border border-success" [(ngModel)]="data.ven_ciudad">
        </div>
        <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6">
            <label for="exampleFormControlInput1">Barrio del Cliente</label>
            <input type="text" [(ngModel)]="data.ven_barrio" class="form-control form-control-sm">
        </div>
        <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6">
            <label for="exampleFormControlInput1">Dirección cliente</label>
            <input type="text" [(ngModel)]="data.ven_direccion_cliente" class="form-control form-control-sm">
        </div>
        <!--<div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6">
            <label for="exampleFormControlInput1">Fecha venta</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input type="date" class="form-control" [(ngModel)]="data.ven_fecha_venta">
            </div>
        </div>-->
        <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6">
          <label for="exampleFormControlInput1">Precio vendido</label>
          <input type="text" [(ngModel)]="data.ven_total" class="form-control form-control-sm">
        </div>
        <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6">
        <label for="exampleFormControlInput1">Cantidad</label>
        <input type="text" [(ngModel)]="data.ven_cantidad" class="form-control form-control-sm">
        </div>
        <div class="col-12">
          <h4>Seleccionar Transportadora</h4>
        </div>
        <div class="form-group col-xs-5 col-sm-5 col-12">
          <label>Ciudad Destino *</label>
          <!-- <input type="text" class="form-control form-control-sm" [(ngModel)]="data.ciudadDestino"> -->
          <ng-autocomplete [(ngModel)]="data.ciudadDestino" [data]="listCiudades" [searchKeyword]="keyword" placeholder="Digita la Ciudad de Destino" autocomplete="off"
              historyIdentifier="listCiudades" [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate" (selected)='precioRutulo($event)' (inputChanged)='onChangeSearch($event)' [disabled]="coinShop">
          </ng-autocomplete>
          <h5 class="text-primary">Digita la Ciudad de Destino</h5>
          <style>
            .ng-autocomplete input{
                border-color: #198754 !important;
                background-color: #90d5b8;
            }
          </style>
          <ng-template #itemTemplate let-item>
              <div class="item">
                  <!-- <img src="{{item.flag}}" height="25"> -->
                  <span [innerHTML]="item.city"></span> &nbsp; | &nbsp;
                  <small>Departamento: {{ item.state }}</small> &nbsp; | &nbsp;
                  <small>--: {{ item.name }}</small>
              </div>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
          </ng-template>
          <!--<div>
              <button type="button" class="btn btn-warning" (click)="precioRutulo( false )"> Consultar Valor del Flete </button>
          </div>-->
        </div>
        <div class="form-group col-12">
          <div class="card-body ng-tns-c14-12 table-border-style ng-star-inserted">
              <div class="table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                              <th *ngFor="let item of tablet.header">{{ item }}</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let item of tablet.listRow" (click)="selectTrans( item )" class="pointer" [ngClass]="{checks: item.check }">
                              <td [ngClass]="{mensaje: item.mensaje}">
                                  <p>{{ item.mensaje }}</p>
                              </td>
                              <td>
                                  <img [src]="item.imgTrasp" class="img">
                              </td>
                              <td>{{ item.origenDestino }}</td>
                              <td>{{ item.unida }}</td>
                              <td>{{ item.totalKilos }}</td>
                              <!--<td>{{ item.kilosVol }}</td>-->
                              <td>{{ item.valoracion }}</td>
                              <!--<td>{{ item.tray }}</td>-->
                              <td>{{ item.fleteSin }}</td>
                              <!--<td>{{ item.fleteManejoSin }}</td>-->
                              <td>{{ item.fleteValor }}</td>
                              <td>{{ item.fleteTotal }}</td>
                              <td>{{ item.tiempoEstimado }}</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <div class="col-12" *ngIf="progreses">
                  <div class="d-flex justify-content-center row">
                      <div class="spinner-grow text-primary" role="status"><span class="sr-only">&nbsp;</span></div>
                      <div class="spinner-grow text-secondary" role="status"><span class="sr-only">&nbsp;</span></div>
                      <div class="spinner-grow text-success" role="status"><span class="sr-only">&nbsp;</span></div>
                      <div class="spinner-grow text-danger" role="status"><span class="sr-only">&nbsp;</span></div>
                      <div class="spinner-grow text-warning" role="status"><span class="sr-only">&nbsp;</span></div>
                      <div class="spinner-grow text-info" role="status"><span class="sr-only">&nbsp;</span></div>
                      <div class="spinner-grow text-light" role="status"><span class="sr-only">&nbsp;</span></div>
                      <div class="spinner-grow text-dark" role="status"><span class="sr-only">&nbsp;</span></div>
                  </div>
              </div>

              <!-- <div class="col-12" *ngIf="!progreses && tablet.listRow.length == 0">
                  <div class="d-flex justify-content-center row">
                      <div role="alert" class="alert alert-primary">
                          No Hay Datos Para Mostrar
                      </div>
                  </div>
              </div> -->
              <div class="col-12" *ngIf="errorCotisa">
                  <div class="d-flex justify-content-center row">
                      <h5 class="text-danger">{{ errorCotisa }}</h5>
                  </div>
              </div>
          </div>
            <div class="col-12" *ngIf="!this.disabledEtiqueta" >
                <div class="d-flex justify-content-center row">
                    <h5 class="text-primary">Selecciona una Transportadora</h5>
                </div>
            </div>
        </div>
        <div class="form-group col-12 bg-primary text-white rounded">
          <h2>Producto(s) a Vender</h2>
      </div>
      <div class="form-group col-12 row">
          <div class="col-6 col-md-4 col-sm-4 col-lg-2 col-xs-2" *ngFor="let item of listCarrito">
              <mat-card class="example-card">
                  <img mat-card-image [src]="item.foto" style="width: 100%; object-fit: cover;" alt="Photo of a Shiba Inu">
                  <mat-card-actions>
                      <div class="d-flex justify-content-center">
                          <div>
                              <label for="exampleFormControlInput1">Codigo</label>
                              <input type="text" [(ngModel)]="item.codigoImg" class="form-control form-control-sm" [disabled]="data.id">
                              <label for="exampleFormControlInput1">Bodega: </label>
                              <input type="text" [(ngModel)]="item.bodegaName" class="form-control form-control-sm" [disabled]="data.id">
                              <label for="exampleFormControlInput1">Cantidad</label>
                              <input type="number" [(ngModel)]="item.cantidad" class="form-control form-control-sm" (change)="suma()" [disabled]="data.id">
                              <label for="exampleFormControlInput1">Color</label>
                              <input type="text" [(ngModel)]="item.colorSelect" class="form-control form-control-sm" disabled>
                              <label for="exampleFormControlInput1">Tallas</label>
                              <input type="number" [(ngModel)]="item.tallaSelect" class="form-control form-control-sm" disabled>
                              <label for="exampleFormControlInput1">Vr.Unidad:</label>
                              <input *ngIf="this.dataUser.usu_perfil.id ==1" disabled currencyMask [(ngModel)]="item.pro_vendedorCompra" class="form-control form-control-sm" [options]="opcionCurrencys"/>
                              <input *ngIf="this.dataUser.usu_perfil.id !=1" disabled currencyMask [(ngModel)]="item.pro_vendedor" class="form-control form-control-sm" [options]="opcionCurrencys"/>
                              <label for="exampleFormControlInput1">Vr.Vendido:</label>
                              <input disabled currencyMask [(ngModel)]="item.loVendio" class="form-control form-control-sm" [options]="opcionCurrencys"/>
                          </div>
                      </div>
                  </mat-card-actions>
                </mat-card>
          </div>
      </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions *ngIf="!disabledButton" >
    <div class="row" style="width: 100%;">
        <div class="col-6 col-sm-3 col-xs-3" *ngIf="!coinShop">
            <label for="exampleFormControlInput1" class="text-primary">Precio Total: </label> <br>
            <span>$ {{ ( data.ven_total || 0 ).toLocaleString(1) }} COP</span>
        </div>
        <div class="col-6 col-sm-3 col-xs-3">
            <label for="exampleFormControlInput1" class="text-primary">Valor Producto: </label> <br>
            <span>$ {{ ( data.ven_totalDistribuidor || 0 ).toLocaleString(1) }} COP</span>
        </div>
        <div class="col-6 col-sm-3 col-xs-3">
            <label for="exampleFormControlInput1" class="text-success">Valor del Envío: </label> <br>
            <span>$ {{ ( data.fleteValor || 0 ).toLocaleString(1) }} COP</span>
        </div>
        <div class="col-6 col-sm-3 col-xs-3">
            <!-- {{ ((data.ven_ganancias / data.ven_total) * 100)}}% : -->
            <label for="exampleFormControlInput1" class="text-success">Tu ganancia es: </label> <br>
            <h5 >$ {{ ( data.ven_ganancias || 0 ).toLocaleString(1) }} COP</h5>
        </div>
    </div>
</mat-dialog-actions>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="btn btn-outline-danger">Cerrar</button>
    <button mat-button cdkFocusInitial class="btn btn-success" (click)="submit()" [disabled]="disabledButton" >
        <span *ngIf="id">Enviar Orden de Despacho</span>
    </button>
    <!-- <button mat-button (click)="OrdenValidadWhatsapp( data )" *ngIf="data.id && data.ven_estado == 3">
        <span>Enviar Guia Whatsapp</span>
    </button> -->
</mat-dialog-actions>

