<!--<nav class="navbar navbar-light bg-light">
  <div class="d-flex justify-content-center" style="width: 100%;">
    <div class="scrollmenu" style="    border-radius: 3px;" #toolbar>
      <a class="pointer text-primary" (click)="handleOpenView('https://www.youtube.com/embed/qMYKvn5dbvg?si=d1e8bC_bHLgKaJdn')"><h5>¿Como Funciona?</h5> </a>
      <a class="pointer text-primary" (click)="handleOpenView('https://www.youtube.com/embed/qMYKvn5dbvg?si=d1e8bC_bHLgKaJdn')"><h5>¿Por donde Inicio?</h5> </a>
      <a class="pointer text-primary" [routerLink]="[ '/infoSupplier']"><h5>Soy Proveedor</h5> </a>
      <a class="pointer text-primary" (click)="handleOpenView('https://www.youtube.com/embed/qMYKvn5dbvg?si=d1e8bC_bHLgKaJdn')"><h5>Quiero Vender</h5> </a>
    </div>
  </div>
  </nav>-->
    <section class="iphone-menu" style="text-align: center;">
  <ul>
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Productos</a></li>
      <li><a href="#">Acerca de</a></li>
      <li><a href="#">Contacto</a></li>
  </ul>
    </section>
