<nav class="navbar navbar-light bg-light">
    <div class="d-flex justify-content-center" style="width: 100%;">
      <div class="p-3">
        <a class="pointer text-primary" (click)="handleOpenView('https://www.youtube.com/embed/qMYKvn5dbvg?si=d1e8bC_bHLgKaJdn')">¿Cómo funciona? </a>
      </div>
      <div class="p-3">
        <a class="pointer text-primary" (click)="handleOpenView('https://www.youtube.com/embed/qMYKvn5dbvg?si=d1e8bC_bHLgKaJdn')">¿Por donde Inicio? </a>
      </div>
      <div class="p-3">
        <a class="pointer text-primary" [routerLink]="[ '/infoSupplier']">¿Soy Proveedor? </a>
      </div>
      <div class="p-3">
        <a class="pointer text-primary" (click)="handleOpenView('https://www.youtube.com/embed/qMYKvn5dbvg?si=d1e8bC_bHLgKaJdn')">¿Quiero Vender? </a>
      </div>
    </div>
  </nav>