.ancholist{
  width: 580px;
}


.img-contenedor img {
  -webkit-transition:all .9s ease; /* Safari y Chrome */
  -moz-transition:all .9s ease; /* Firefox */
  -o-transition:all .9s ease; /* IE 9 */
  -ms-transition:all .9s ease; /* Opera */
  width:100%;
  }
  .img-contenedor:hover img {
  -webkit-transform:scale(1.25);
  -moz-transform:scale(1.25);
  -ms-transform:scale(1.25);
  -o-transform:scale(1.25);
  transform:scale(1.25);
  }
  .img-contenedor {/*Ancho y altura son modificables al requerimiento de cada uno*/
  // width:300px;
  // height:180px;
  overflow:hidden;
  }


  div.scrollmenu {
    background-color: #02a0e3;
    overflow: auto;
    white-space: nowrap;
    margin: auto;
    margin-left: -3%;
  }

  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  div.scrollmenu a:hover {
    //background-color: #777;
  }

  .cambiaColor{
    color: red;
    border-bottom: 1px solid #f35757;
  }

/* Estilos para la lista desplegable */
.iphone-menu a {
  text-decoration: none;
  color: #000; /* Cambia el color del texto a negro */
  font-size: 18px;
  padding: 10px 20px;
  border: none; /* Elimina el borde */
  border-radius: 30px;
  /*box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); /* Agrega una sombra al botón */
  transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Agrega una transición para la sombra */
  }
  
  .ulM{
    padding: 2px;
    display: flex;
    margin: auto;
    
  }
  
  .iphone-menu a:hover {
  background-color: #02a0e3; /* Cambia el color de fondo al pasar el mouse */
  color: #fff; /* Cambia el color del texto al pasar el mouse */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Aumenta la sombra al pasar el mouse */
  }
  
  /* Estilos para hacerlo responsive */
  @media screen and (max-width: 768px) {
  .iphone-menu .ulM {
      text-align: center; /* Centra los elementos de la lista horizontalmente */
      
  }
  
  .iphone-menu li {
      display: inline-block; /* Cambia a elementos de lista en línea */
      margin: -17px -6px;
  }
  
  .iphone-menu a {
      font-size: 14px; /* Reduce el tamaño de fuente en dispositivos móviles */
      padding: 0; /* Reduce el espaciado interior del botón */
      display: block; /* Hace que los botones ocupen el ancho completo */
      margin: 10px auto; /* Centra verticalmente los botones */
  }
  }