<h2 mat-dialog-title>{{ titulo }} Productos</h2>
<mat-dialog-content class="mat-typography">
    <div class="form row">
        <div class="form-group col-md-12" *ngIf="data.foto">
            <div class="mx-auto" style="width: 200px;">
                <img [src]="data.foto" class="imgFoto">
            </div>
        </div>
        <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-4">
            <label>Codigo</label>
            <input type="text" [(ngModel)]="data.pro_codigo" class="form-control form-control-sm">
        </div>
        <div class="form-group col-md-6 col-sm-8 col-lg-8 col-xs-8">
            <label>Nombre</label>
            <input type="text" [(ngModel)]="data.pro_nombre" class="form-control form-control-sm">
        </div>
        <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6">
            <label for="exampleFormControlSelect1">Categoria:</label>
            <select class="form-control form-control-sm" [(ngModel)]="data.pro_categoria">
                <option [value]="item.id" *ngFor="let item of listCategorias">{{ item.cat_nombre }}</option>
            </select>
        </div>
        <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6">
            <label>Precio Compra</label>
            <input type="text" [(ngModel)]="data.pro_mp_compra" class="form-control form-control-sm">
        </div>
        <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6">
            <label>Precio Venta</label>
            <input type="text" [(ngModel)]="data.pro_uni_venta" class="form-control form-control-sm">
        </div>
        <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6">
            <label>Unidades disponible</label>
            <input type="text" [(ngModel)]="data.pro_unidad_disponible" class="form-control form-control-sm">
        </div>
        <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6">
            <label for="exampleFormControlSelect1">Tipo de medida:</label>
            <select class="form-control form-control-sm" [(ngModel)]="data.pro_sw_tallas">
                <option [value]="item.id" *ngFor="let item of listTipoTallas">{{ item.tit_descripcion }}</option>
            </select>
        </div>
        <div class="form-group col-12">
            <label>Descripción detallada</label>
            <angular-editor id="editor1" [(ngModel)]="data.pro_descripcion" [config]="editorConfig" (ngModelChange)="eventoDescripcion()"></angular-editor>
        </div>
        <div class="form-group col-12">
            <div class="row">
                <label class="col">Subir Imagen</label>
                <button class="btn btn-primary btn-just-icon btn-round" (click)="subirFile(false)" *ngIf="files.length > 0">
                    Subir Imagen
                </button>
            </div>
            <ngx-dropzone (change)="onSelect($event)">
                <ngx-dropzone-label>Abrir archivos</ngx-dropzone-label>
                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
                    [removable]="true" (removed)="onRemove(f)" multiple="false">
                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                </ngx-dropzone-image-preview>
            </ngx-dropzone>
        </div>
        <div class="form-group col-12">
            <header class="main-box-header clearfix col-12 row">
                <h2 class="col">Color</h2>
                <button type="button" class="btn btn-success" (click)="TallaPush()">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </header>
            <ul class="col list-group list-group-flush">
                <li class="list-group-item" *ngFor="let item of listColor;let idx=index">
                    <div class="row">
                        <div class="form-group col-12">
                            <div *ngIf="item.foto">
                                <img [src]="item.foto" class="foto">
                            </div>
                            <label for="exampleInputEmail1">Color</label>
                            <input type="text" [(ngModel)]="item.talla" class="form-control"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="form-group col-12" *ngIf="!item.foto">
                            <div class="row">
                                <label class="col">Subir Imagen</label>
                                <button class="btn btn-primary btn-just-icon btn-round" (click)="subirFile(item)" *ngIf="files.length > 0">
                                    Subir Imagen
                                </button>
                            </div>
                            <ngx-dropzone (change)="onSelect($event)">
                                <ngx-dropzone-label>Abrir archivos</ngx-dropzone-label>
                                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
                                    [removable]="true" (removed)="onRemove(f)" multiple="false">
                                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                </ngx-dropzone-image-preview>
                            </ngx-dropzone>
                        </div>
                        <div class="form-group col-12">
                            <div class="marginTop">
                                <button *ngIf="!item.check" type="button" class="btn btn-success"
                                    (click)="guardarColor(item)">
                                    <span>Agregar</span>
                                </button>
                                <button *ngIf="item.check" type="button" class="btn btn-danger" (click)="EliminarColor(idx)">
                                    <span>Eliminar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="form-group col-12">
            <label for="exampleFormControlInput1">Estado del Producto</label>
            <select class="form-control form-control-sm" [(ngModel)]="data.pro_activo">
                <option type="number" value="0">Activo</option>
                <option type="number" value="1">Eliminado</option>
            </select>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cerrar</button>
    <button mat-button cdkFocusInitial (click)="submit()">
        <span *ngIf="!id">Guardar Cambios</span>
        <span *ngIf="id">Actulizar Cambios</span>
    </button>
</mat-dialog-actions>