<body>
<div class="container">
  <h1>Política de Privacidad</h1>
  <h2>1. Introducción</h2>
  <p>En <strong>Fábrica de Calzado Landázury</strong>, nos comprometemos a proteger su privacidad y garantizar que su
    información personal esté segura. Esta Política de Privacidad describe cómo recopilamos, usamos y compartimos su
    información cuando utiliza nuestra aplicación.</p>

  <h2>2. Información que Recopilamos</h2>
  <p>Recopilamos la siguiente información personal para proporcionar y mejorar nuestros servicios:</p>
  <ul>
    <li><strong>Información de contacto:</strong> nombre, dirección de correo electrónico y número de teléfono.</li>
    <li><strong>Información de ubicación:</strong> ubicación geográfica precisa para mejorar la entrega de nuestros
      servicios.</li>
    <li><strong>Información del dispositivo:</strong> tipo de dispositivo, sistema operativo, identificadores únicos del
      dispositivo, y dirección IP.</li>
    <li><strong>Historial de uso:</strong> detalles sobre cómo utiliza nuestra aplicación, incluidas las interacciones y
      preferencias.</li>
  </ul>

  <h2>3. Uso de la Información</h2>
  <p>Utilizamos la información recopilada para:</p>
  <ul>
    <li>Proporcionar, operar y mantener nuestra aplicación.</li>
    <li>Mejorar, personalizar y expandir nuestra aplicación.</li>
    <li>Comprender y analizar cómo utiliza nuestra aplicación.</li>
    <li>Desarrollar nuevas funciones, productos y servicios.</li>
    <li>Comunicarnos con usted, ya sea directamente o a través de uno de nuestros socios, para brindar atención al
      cliente y enviarle actualizaciones y otra información relacionada con la aplicación.</li>
    <li>Enviar correos electrónicos periódicos.</li>
    <li>Encontrar y prevenir el fraude.</li>
  </ul>

  <h2>4. Compartir su Información</h2>
  <p>No compartimos su información personal con terceros, excepto en los siguientes casos:</p>
  <ul>
    <li>Con su consentimiento.</li>
    <li>Con proveedores de servicios que realizan funciones en nuestro nombre.</li>
    <li>Para cumplir con las leyes aplicables, regulaciones, procesos legales o solicitudes gubernamentales.</li>
    <li>Para proteger y defender nuestros derechos o propiedad, o la seguridad de nuestros usuarios.</li>
  </ul>

  <h2>5. Seguridad de la Información</h2>
  <p>Implementamos una variedad de medidas de seguridad para mantener la seguridad de su información personal.
    Utilizamos métodos de cifrado y almacenamos la información personal en entornos seguros protegidos contra accesos no
    autorizados.</p>

  <h2>6. Sus Derechos</h2>
  <p>Dependiendo de su ubicación, puede tener ciertos derechos sobre su información personal, incluidos los derechos de
    acceder, corregir, eliminar o restringir el uso de su información personal. Para ejercer estos derechos, póngase en
    contacto con nosotros a través de los detalles de contacto proporcionados.</p>

  <h2>7. Cambios en esta Política de Privacidad</h2>
  <p>Podemos actualizar nuestra Política de Privacidad periódicamente. Le notificaremos cualquier cambio publicando la
    nueva Política de Privacidad en esta página.</p>

  <h2>8. Contacto</h2>
  <p>Si tiene alguna pregunta sobre esta Política de Privacidad, no dude en contactarnos a través de:</p>
  <p><a href="mailto:fabricadecalzadocolombia@gmail.com">fabricadecalzadocolombia@gmail.com</a></p>
</div>
</body>
