    <h1>Política de Privacidad</h1>
    <p>Tu privacidad es importante para nosotros. Esta política de privacidad explica cómo recopilamos, usamos y protegemos la información personal que nos proporcionas.</p>
    <h2>Información que recopilamos</h2>
    <p>Podemos recopilar la siguiente información:</p>
    <ul>
        <li>Nombre</li>
        <li>Información de contacto, como dirección de correo electrónico</li>
    </ul>
    <h2>Uso de la información</h2>
    <p>Usamos esta información para entender mejor tus necesidades y proporcionarte un mejor servicio.</p>
    <h2>Seguridad</h2>
    <p>Nos comprometemos a asegurar que tu información esté segura. Implementamos medidas de seguridad adecuadas para proteger tu información.</p>
