<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center">
                <div>
                    <h3>Configuraciones</h3>
                </div>
            </div>
        </div>
        <div class="col-6">
            <label for="exampleFormControlInput1">Numero de celular de informacion</label>
            <input type="text" [(ngModel)]="data.clInformacion" class="form-control form-control-sm">
        </div>
        <div class="col-6">
            <label for="exampleFormControlInput1">Numero de celular de Pedidos</label>
            <input type="text" [(ngModel)]="data.cdPedidos" class="form-control form-control-sm">
        </div>
        <div class="col-6">
            <label for="exampleFormControlInput1">Numero de celular de Ventas</label>
            <input type="text" [(ngModel)]="data.cdVentas" class="form-control form-control-sm">
        </div>
        <div class="col-6">
            <label for="exampleFormControlInput1">Numero de celular de Retiros dinero</label>
            <input type="text" [(ngModel)]="data.cdRetiros" class="form-control form-control-sm">
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-success" (click)="guardar()">Guardar</button>
        </div>
    </div>

</div>