<div class="container-fluid p-4">
    <div class="row py-3">
        <div class="col-12">
            <div class="d-flex justify-content-center">
                <div>
                    <h3>Configuraciones</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-6">
            <label for="exampleFormControlInput1">Numero de celular de informacion</label>
            <input type="number" [(ngModel)]="data.clInformacion" class="form-control form-control-sm">
        </div>
        <div class="col-6">
            <label for="exampleFormControlInput1">Numero de celular de Pedidos</label>
            <input type="number" [(ngModel)]="data.cdPedidos" class="form-control form-control-sm">
        </div>
        <div class="col-6">
            <label for="exampleFormControlInput1">Numero de celular de Ventas</label>
            <input type="number" [(ngModel)]="data.cdVentas" class="form-control form-control-sm">
        </div>
        <div class="col-6">
            <label for="exampleFormControlInput1">Numero de celular de Retiros dinero</label>
            <input type="number" [(ngModel)]="data.cdRetiros" class="form-control form-control-sm">
        </div>
        <div class="col-6">
          <label for="exampleFormControlInput1">Texto Para Registros de Usuarios Proveedor</label>
          <textarea class="form-control" [(ngModel)]="data.txtRegistroPWhatsapp" rows="3"></textarea>
        </div>
        <div class="col-6">
          <label for="exampleFormControlInput1">Texto Para Registros de Usuarios Vendedor</label>
          <textarea class="form-control"[(ngModel)]="data.txtRegistroVWhatsapp" rows="3"></textarea>
        </div>
        <div class="col-6">
          <label for="exampleFormControlInput1">Texto Para Ventas Vendedor</label>
          <textarea class="form-control" rows="3" [(ngModel)]="data.txtVentasVWhatsapp"></textarea>
        </div>
        <div class="col-6">
          <label for="exampleFormControlInput1">Texto Para Ventas Proveedor</label>
          <textarea class="form-control" rows="3" [(ngModel)]="data.txtVentasPWhatsapp"></textarea>
        </div>
        <div class="col-6">
          <label for="exampleFormControlInput1">Texto Retiros de Dinero Proveedor</label>
          <textarea class="form-control" rows="3" [(ngModel)]="data.txtRetirosPWhatsapp"></textarea>
        </div>
        <div class="col-6">
          <label for="exampleFormControlInput1">Texto Retiros de Dinero Vendedor</label>
          <textarea class="form-control" [(ngModel)]="data.txtRetirosVWhatsapp" rows="3"></textarea>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-6">
            <button type="button" class="btn btn-success" (click)="guardar()">Guardar</button>
        </div>
    </div>
</div>
<div class="container-fluid p-2">
    <div class="row pt-5">
        <div class="col-12 d-flex flex-column align-items-end">
            <!-- <div class=" "> -->
                <div class="p-2 bd-highlight">
                    <button mat-raised-button color="primary" (click)="newComentario()">+</button>
                    <button mat-raised-button color="primary" (click)="createComentario()">Crear banner</button>
                    <button mat-raised-button color="warn" (click)="dropComentario()">Eliminar banner</button>
                </div>
            <!-- </div> -->
        </div>
        <div class="col-12">
            <mat-list>
                <mat-list-item *ngFor="let shoe of listNotificaciones" style="    height: 147px;">
                    <input type="text" [(ngModel)]="shoe.titulo" class="form-control form-control-sm" placeholder="Titulo">
                    <br>
                    <textarea class="form-control" [(ngModel)]="shoe.descripcion" rows="3" placeholder="Titulo"></textarea>
                    <mat-checkbox class="example-margin" [(ngModel)]="shoe.check">eliminar</mat-checkbox>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>
