<div class="content">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-center">
          <div>
              <h2 class="text-dart font-weight-bold">Te Invitó {{ dataUser.usu_nombre || 'Admin' }}</h2>
              <br><br>
          </div>
      </div>
      </div>
        <div class="col-12">
          <div class="row">
            <div class="col-12" style="    text-align: center;
              background: #0db1f8;
              padding: 20px 35px;
              color: white;"
            >
              <h3>Tu tienda aliada para vender en internet</h3>
              <p class="text-white">
                Vende, recibe tus pagos y gestiona envios desde un solo lugar.
              </p>
              <div>
                  <div>
                    <input type="text" [(ngModel)]="data.usu_email" > <button style="height: 56px;" type="button" class="btn btn-danger" (click)="openEmail()">Crear negocio</button>
                  </div>
              </div>
            </div>
          </div>
            <div class="row" style=" color: white; padding: 15px;">
                <div class="col-12 col-sm-6" style="    background: #02a0e3;     padding: 1%;">
                    <div style="text-align: center;">
                        <img src="./assets/logo.png" alt="" style="    width: 100%;">
                    </div>
                </div>
                <div class="col-12 col-sm-6" style="background: #00aaff;     padding: 1%;">
                    <div style="margin: 15px; text-align: center;">
                        <h5 class="text-dart" style="margin: 10% 20px;  text-align: center;">
                            ¡Haz tu registro y automáticamente tendrás una tienda con más de 20 proveedores de distintas categorías donde podrás traer a tus clientes y
                            recibir tus pedidos vía WhatsApp tu montas cada pedido en tu plataforma y nosotros nos encargamos de hacer llegar los pedidos a tu cliente final y
                            tu te ganarás una excelente comisión por cada venta
                        </h5>
                    </div>
                </div>
            </div>
            <!--<div class="d-flex justify-content-center"><div>
                    <h5 class="text-dart" style="padding: 45px;  text-align: center;">
                        ¡Haz tu registro y automáticamente tendrás una tienda con más de 20 proveedores de distintas categorías donde podrás traer a tus clientes y
                        recibir tus pedidos vía WhatsApp tu montas cada pedido en tu plataforma y nosotros nos encargamos de hacer llegar los pedidos a tu cliente final y
                        tu te ganarás una excelente comisión por cada venta
                    </h5>
                </div>
            </div>-->
        </div>
        <div class="col-12" style="background: #00aaff; color: white;  padding: 90px 11px;">
          <div class="row">
            <div class="col-12">
              <div class="d-flex justify-content-center">
                <div style="text-align: center;">
                  <h1 class="font-weight-bold">Impulsa tu negocio a un clic</h1>
                  <p class="text-white font-weight-bold">Una tienda lista para vender y entregar</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="d-flex justify-content-center">
                <div style="    padding: 20px;">
                  <h3 style="text-align: center;" class="font-weight-bold">CREA TU NEGOCIO GRATIS Y SIN PAGAR MESUALIDADES.</h3>
                  <div class="row">
                    <div class="col-6">
                      <p style="font-size: 13px;" class="text-white"> <label for=""> <i class="material-icons" aria-hidden="true">check_circle</i> Haz dropshipping y conéctate con todo tipo de proveedores.</label> </p>
                    </div>
                    <div class="col-6">
                      <p style="font-size: 13px;" class="text-white"> <label for=""> <i class="material-icons" aria-hidden="true">check_circle</i> Personaliza tu tienda a un clic.</label> </p>
                    </div>
                    <div class="col-6">
                      <p style="font-size: 13px;" class="text-white"> <label for=""> <i class="material-icons" aria-hidden="true">check_circle</i> Tu tienda online  24/7.</label> </p>
                    </div>
                    <div class="col-6">
                      <p style="font-size: 13px;" class="text-white"> <label for=""> <i class="material-icons" aria-hidden="true">check_circle</i> Administra y gestiona a tus clientes.</label> </p>
                    </div>
                    <div class="col-6">
                      <p style="font-size: 13px;" class="text-white"> <label for=""> <i class="material-icons" aria-hidden="true">check_circle</i> Sube tus productos de forma ilimitada.</label> </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="d-flex justify-content-center">
                <div style="    padding: 20px;">
                  <img src="./assets/imagenes/fondov1.png" alt="" style="    width: 400px;">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="content">
            <h1 style="text-align: center;">Registrarte?</h1>
            <div style="text-align: center;">
              <button type="button" class="btn btn-primary" (click)="handleOpenDialog( 'vendedor' );">Como Vendedor?</button>
              <button type="button" class="btn btn-success" (click)="handleOpenDialog( 'proveedor' );">Como Proveedor?</button>
            </div>
          </div>
        </div>
        <div class="col-12">
            <h1 style="text-align: center;">¿QUÉ ES LOKOMPROAQUI?</h1>
            <div class="d-flex justify-content-center">
                <div>
                    <iframe width="400" height="315" src="https://www.youtube.com/embed/qMYKvn5dbvg?si=d1e8bC_bHLgKaJdn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br>
</div>
