<h2 mat-dialog-title>{{ titulo }} Ventas</h2>
<mat-dialog-content class="mat-typography">
    <div class="row" *ngIf="disableSpinner">
        <div class="col-12">
            <div class="d-flex justify-content-center">
                <mat-spinner></mat-spinner>
            </div>
        </div>
    </div>
    <div class="form row" *ngIf="!disableSpinner">
        <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6" *ngIf="data.id">
            <label for="exampleFormControlSelect1">Estado de la Venta</label>
            <select class="form-control form-control-sm" [(ngModel)]="data.ven_estado" (change)="submit()">
                <option type="number" value="0">Pendiente</option>
                <option type="number" value="6">Preparación</option>
                <option type="number" value="3">Despachado</option>
                <option type="number" value="1" *ngIf="rolName==='administrador'">Venta exitosa</option>
                <option type="number" value="2" *ngIf="rolName==='administrador'">Devolucion</option>
            </select>
        </div>
        <div class="row col-12" *ngIf="id && ( rolName ==='administrador' || rolName ==='vendedor') ">
            <div class="form-group col-12 bg-primary text-white rounded">
                <h2>Información del Vendedor</h2>
            </div>
            <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6">
                <label for="exampleFormControlInput1">Número Cédula del Vendedor</label>
                <input type="text" disabled [(ngModel)]="dataVendedor.usu_documento" class="form-control form-control-sm">
            </div>
            <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6">
                <label for="exampleFormControlInput1">Nombre del Vendedor</label>
                <input type="text" disabled [(ngModel)]="dataVendedor.usu_nombre" class="form-control form-control-sm">
            </div>
            <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6">
                <label for="exampleFormControlInput1">Direccion del Vendedor</label>
                <input type="text" disabled [(ngModel)]="dataVendedor.usu_direccion" class="form-control form-control-sm">
            </div>
            <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6">
                <label for="exampleFormControlInput1">Correo del Vendedor</label>
                <input type="text" disabled [(ngModel)]="dataVendedor.usu_email" class="form-control form-control-sm">
            </div>
            <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6">
                <label for="exampleFormControlInput1">Telefono del Vendedor</label>
                <input type="text" disabled [(ngModel)]="dataVendedor.usu_telefono" class="form-control form-control-sm">
            </div>
            <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6">
                <label for="exampleFormControlInput1">Ciudad del Vendedor</label>
                <input type="text" disabled [(ngModel)]="dataVendedor.usu_ciudad" class="form-control form-control-sm">
            </div>
        </div>
        <div class="form-group col-12 bg-primary text-white rounded">
            <h2>Información del Cliente</h2>
        </div>
        <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6">
            <label for="exampleFormControlInput1">Número Cédula del cliente</label>
            <input type="number" [(ngModel)]="data.cob_num_cedula_cliente" class="form-control form-control-sm" [disabled]="coinShop">
        </div>
        <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6">
            <label for="exampleFormControlInput1">Nombre y apellidos Cliente</label>
            <input type="text" [(ngModel)]="data.ven_nombre_cliente" class="form-control form-control-sm" [disabled]="coinShop">
        </div>
        <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6">
            <label for="exampleFormControlInput1">Numero de llamada cliente o whatsapp</label>
            <input type="text" [(ngModel)]="data.ven_telefono_cliente" class="form-control form-control-sm" required [disabled]="coinShop">
        </div>
        <div class="form-group col-xs-5 col-sm-5 col-12">
            <label>Ciudad Destino *</label>
            <ng-autocomplete [(ngModel)]="data.ciudadDestino" [data]="listCiudadesF" [searchKeyword]="keyword" placeHolder="Buscar Ciudad" autocomplete="off"
                historyIdentifier="listCiudades" [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate" (selected)='precioRutulo($event)' (inputChanged)='onChangeSearch($event)'>
            </ng-autocomplete>

            <ng-template #itemTemplate let-item>
                <div class="item">
                    <span [innerHTML]="item.city"></span> &nbsp; | &nbsp;
                    <small>Departamento: {{ item.state }}</small> &nbsp; | &nbsp;
                    <small>--: {{ item.name }}</small>
                </div>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
            </ng-template>
        </div>
        <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6">
            <label for="exampleFormControlInput1">Barrio del Cliente</label>
            <input type="text" [(ngModel)]="data.ven_barrio" class="form-control form-control-sm" [disabled]="coinShop">
        </div>
        <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6">
            <label for="exampleFormControlInput1">Dirección cliente</label>
            <input type="text" [(ngModel)]="data.ven_direccion_cliente" class="form-control form-control-sm" [disabled]="coinShop">
        </div>
        <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6">
            <label for="exampleFormControlInput1">Fecha venta</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input type="date" class="form-control" [(ngModel)]="data.ven_fecha_venta">
            </div>
        </div>
        <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6">
            <label for="exampleFormControlInput1">Valor del Envio</label>
            <input [disabled]="!superSub" currencyMask [(ngModel)]="data.fleteValor" (ngModelChange)="suma()" class="form-control form-control-sm" [options]="opcionCurrencys" [disabled]="coinShop"/>
        </div>
        <div class="form-group col-12 bg-primary text-white rounded">
            <h2>Litas de Pataforma de envios</h2>
        </div>
        <div class="form-group col-12">
            <div class="card-body ng-tns-c14-12 table-border-style ng-star-inserted">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th *ngFor="let item of tablet.header">{{ item }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of tablet.listRow" (click)="selectTrans( item )" class="pointer" [ngClass]="{checks: item.check }">
                                <td [ngClass]="{mensaje: item.mensaje}">
                                    <p>{{ item.mensaje }}</p>
                                </td>
                                <td>
                                    <img [src]="item.imgTrasp" class="img">
                                </td>
                                <td>{{ item.origenDestino }}</td>
                                <td>{{ item.unida }}</td>
                                <td>{{ item.totalKilos }}</td>
                                <td>{{ _tools.monedaChange( 3, 2, ( item.valoracion || 0 ) ) }}</td>
                                <td>{{ _tools.monedaChange( 3, 2, ( item.fleteSin || 0 ) ) }}</td>
                                <td>{{ _tools.monedaChange( 3, 2, ( item.fleteValor || 0 ) ) }}</td>
                                <td>{{ _tools.monedaChange( 3, 2, ( item.fleteTotal || 0 ) ) }}</td>
                                <td>{{ item.tiempoEstimado }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12" *ngIf="progreses">
                    <div class="d-flex justify-content-center row">
                        <div class="spinner-grow text-primary" role="status"><span class="sr-only">Loading...</span></div>
                        <div class="spinner-grow text-secondary" role="status"><span class="sr-only">Loading...</span></div>
                        <div class="spinner-grow text-success" role="status"><span class="sr-only">Loading...</span></div>
                        <div class="spinner-grow text-danger" role="status"><span class="sr-only">Loading...</span></div>
                        <div class="spinner-grow text-warning" role="status"><span class="sr-only">Loading...</span></div>
                        <div class="spinner-grow text-info" role="status"><span class="sr-only">Loading...</span></div>
                        <div class="spinner-grow text-light" role="status"><span class="sr-only">Loading...</span></div>
                        <div class="spinner-grow text-dark" role="status"><span class="sr-only">Loading...</span></div>
                    </div>
                </div>
                <div class="col-12" *ngIf="errorCotisa">
                    <div class="d-flex justify-content-center row">
                        <h5 class="text-danger">{{ errorCotisa }}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 row">
            <div class="form-group col-12 bg-primary text-white rounded">
                <h2>Detalle de Envio</h2>
            </div>
            <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6">
                <label>Empresa de Envio *</label>
                <select class="form-control form-control-sm" [(ngModel)]="data.transportadoraSelect" disabled>
                    <option value="CORDINADORA">Coordinadora ( Recomendado )</option>
                    <option value="TCC">Tcc ( Recomendado )</option>
                    <option value="INTERRAPIDISIMO">Inter Rapidisimo ( Recomendado )</option>
                    <option value="ENVIA">Envia</option>
                    <option value="ENVIANO">Envia ( Sin contra entrega )</option>
                </select>
            </div>
            <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6" *ngIf="porcentajeMostrar == 40">
                <label>Tipo de envio *</label>
                <select class="form-control form-control-sm" [(ngModel)]="data.ven_tipo" disabled>
                    <option value="contraEntrega">Contra entrega</option>
                    <option value="envioNormal">Envio Normal</option>
                </select>
            </div>
            <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6 envio" *ngIf="data.id && superSub">
                <label for="exampleFormControlInput1">número de Rastreo de guía ( ENVIO )</label>
                <input type="text" [(ngModel)]="data.ven_numero_guia" class="form-control form-control-sm" [disabled]="!superSub">
            </div>
            <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6" *ngIf="data.id && superSub">
                <label for="exampleFormControlInput1">URL de ROTULO de guía</label>
                <input type="text" [(ngModel)]="data.ven_imagen_guia" class="form-control form-control-sm" [disabled]="!superSub">
            </div>
            <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6" *ngIf="porcentajeMostrar == 40 && data.ven_numero_guia || superSub">
                <label for="exampleFormControlInput1">Quien Paga el Envio</label>
                <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="data.cubreEnvio" (change)="suma()">
                    <option value="tienda" >La tienda</option>
                    <option value="cliente" >El Cliente</option>
                  </select>
            </div>
            <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6 devolucion" *ngIf="data.id && superSub && data.ven_estado == 2">
                <label for="exampleFormControlInput1">número de Rastreo de guía ( DEVOLUCION )</label>
                <input type="text" [(ngModel)]="data.ven_numero_guia" class="form-control form-control-sm" [disabled]="!superSub">
            </div>
            <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6" *ngIf="data.id && listCarrito.length && !data.ven_numero_guia && ( rolName == 'administrador' || rolName == 'proveedor') ">
                <button type="button" class="btn btn-success" (click)="generarGuia()">Generar Guia</button>
            </div>
            <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6" *ngIf="data.id && listCarrito.length && data.ven_numero_guia && data.ven_estado == 0">
                <button type="button" class="btn btn-danger" (click)="cancelarGuia()">Cancelar Guia</button>
            </div>
            <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6" *ngIf="data.id && data.ven_numero_guia">
                <button type="button" class="btn btn-warning" (click)="imprimirGuia()">Imprimir Guia </button>
            </div>
            <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6" *ngIf="data.id && data.ven_numero_guia">
                <button type="button" class="btn btn-info" (click)="verDetalles( data.ven_numero_guia )">Estado Guia </button>
            </div>
            <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6" *ngIf="data.id && data.ven_imagen_tiket">
                <button type="button" class="btn btn-dark" (click)="openEvidencia( data.ven_imagen_tiket )">Evidencia Entrega </button>
            </div>
            <div class="form-group col-md-12" *ngIf="data.ven_imagen_producto && id">
                <div class="mx-auto" style="width: 200px;">
                    <a [href]="data.ven_imagen_producto" target="_blank">
                        <img [src]="data.ven_imagen_producto" class="imgFoto">
                    </a>
                </div>
            </div>
        </div>
        <div class="form-group col-md-6 col-sm-4 col-lg-4 col-xs-6" *ngIf="data.ven_tipo == 'pago_anticipado'">
            <button type="button" class="btn btn-success" (click)="openMedios( )"> Medios de Pagos </button>
        </div>
        <div class="form-group col-12 bg-primary text-white rounded" *ngIf="data.ven_tipo == 'pago_anticipado'">
            <h2>Subir ticket de Pago anticipado</h2>
        </div>
        <div class="form-group col-12 row" *ngIf="data.ven_tipo == 'pago_anticipado'">
            <div class="col-12">
                <div class="mx-auto" style="width: 200px;">
                    <a [href]="data.ven_imagen_conversacion" target="_blank">
                        <img [src]="data.ven_imagen_conversacion" class="imgFoto">
                    </a>
                </div>
            </div>
            <div class="form-group col-12">
                <ngx-dropzone (change)="onSelect($event)" accept="image/jpeg,image/jpg,image/png,image/gif"  multiple="false">
                    <ngx-dropzone-label>Subir foto de Evidencia</ngx-dropzone-label>
                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
                        [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-image-preview>
                </ngx-dropzone>
            </div>
        </div>
        <div class="form-group col-12 bg-primary text-white rounded p-2">
          <div class="d-flex justify-content-between">
            <div> <h2>Productos</h2> </div>
            <div></div>
            <div>
              <button type="button" class="btn btn-success" (click)="handleOpenArticle()">
                <span class="lnr lnr-plus-circle"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="form-group col-12 row">
          <div class="col-6 col-md-4 col-sm-4 col-lg-2 col-xs-2" *ngFor="let item of listCarrito">
            <mat-card class="example-card">
              <div class="card-image-container">
                <div class="d-flex justify-content-center">
                  <div>
                    <img mat-card-image [src]="item.foto" alt="Photo of a Shiba Inu">
                  </div>
                </div>
              </div>
              <mat-card-actions>
                <div class="d-flex justify-content-center">
                  <div>
                      <label for="exampleFormControlInput1">Codigo: </label>
                      <input type="text" [(ngModel)]="item.codigoImg" class="form-control form-control-sm" [disabled]="data.id">
                      <label for="exampleFormControlInput1">Bodega: </label>
                      <input type="text" [(ngModel)]="item.bodegaName" class="form-control form-control-sm" [disabled]="data.id">
                      <label for="exampleFormControlInput1">Cantidad: </label>
                      <input type="number" [(ngModel)]="item.cantidad" class="form-control form-control-sm" (change)="suma()" [disabled]="data.id">
                      <label for="exampleFormControlInput1">Color: </label>
                      <input type="text" [(ngModel)]="item.colorSelect" class="form-control form-control-sm" disabled>
                      <label for="exampleFormControlInput1">Tallas: </label>
                      <input type="text" [(ngModel)]="item.tallaSelect" class="form-control form-control-sm" disabled>
                      <label for="exampleFormControlInput1">Vr.Unidad: </label>
                      <input disabled currencyMask [(ngModel)]="item.costo" class="form-control form-control-sm" [options]="opcionCurrencys"/>
                      <label for="exampleFormControlInput1">Vr.Vendido: </label>
                      <input disabled currencyMask [(ngModel)]="item.loVendio" class="form-control form-control-sm" [options]="opcionCurrencys"/>
                      <div class="d-flex justify-content-center">
                        <div>
                          <button type="button" class="btn btn-danger" *ngIf="!data.id" (click)="borrarCart( item )">Borrar</button>
                        </div>
                      </div>
                  </div>
              </div>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
        <div class="form-group col-12" *ngIf="data.id && superSub && data.ven_imagen_guia && data.transportadoraSelect == 'ENVIA'">
            <button type="button" class="btn btn-warning" (click)="imprimirGuia()">Imprimir Guia </button>
            <iframe style="width: 100%; height: -webkit-fill-available;" [src]="url" frameborder="0" width="1499"
                height="561" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
        <div class="form-group col-12">
            <label for="exampleFormControlInput1">Observación</label>
            <textarea class="form-control" [(ngModel)]="data.ven_observacion" id="exampleFormControlTextarea1"
                rows="3"></textarea>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="row" style="width: 100%;" *ngIf="rolName !== 'proveedor'">
        <div class="col-6 col-sm-3 col-xs-3" *ngIf="porcentajeMostrar === 40">
            <label for="exampleFormControlInput1" class="text-primary">Valor Producto: </label> &nbsp;
            <span>$ {{ ( data.ven_totalDistribuidor || 0 ).toLocaleString(1) }} COP</span>
        </div>
        <div class="col-6 col-sm-3 col-xs-3" *ngIf="!coinShop">
            <label for="exampleFormControlInput1" class="text-primary">Precio Total Vendido: </label> &nbsp;
            <span>$ {{ ( data.ven_total || 0 ).toLocaleString(1) }} COP</span>
        </div>
        <div *ngIf="porcentajeMostrar != 40" class="col-6 col-sm-3 col-xs-3">
            <label for="exampleFormControlInput1" class="text-success">Tu ganancia en esta venta es {{ porcentajeMostrar }}%: </label> &nbsp;
            <span>$ {{ ( data.ven_ganancias || 0 ).toLocaleString(1) }} COP</span>
        </div>
        <div *ngIf="porcentajeMostrar === 40" class="col-6 col-sm-3 col-xs-3">
            <label for="exampleFormControlInput1" class="text-success">Valor del Flete o Envio: </label> &nbsp;
            <span>$ {{ ( data.fleteValor || 0 ).toLocaleString(1) }} COP</span>
        </div>
        <div *ngIf="( porcentajeMostrar === 40 ) && coinShop === false " class="col-6 col-sm-3 col-xs-3">
            <label for="exampleFormControlInput1" class="text-success">Tu ganancia en esta venta es: </label> &nbsp;
            <span>$ {{  ( data.ven_ganancias  ).toLocaleString(1) }} COP</span>
        </div>
        <div *ngIf="coinShop === true " class="col-6 col-sm-3 col-xs-3">
          <label for="exampleFormControlInput1" class="text-success">Total a Pagar: </label> &nbsp;
          <span>$ {{  ( ( data.ven_totalDistribuidor || 0 )+( data.fleteValor || 0 )  ).toLocaleString(1) }} COP</span>
      </div>
    </div>
    <div class="row" style="width: 100%;" *ngIf="rolName === 'proveedor'">
        <div class="col-6 col-sm-3 col-xs-3">
            <label for="exampleFormControlInput1" class="text-primary">Valor Producto: </label> &nbsp;
            <span>$ {{ ( data.ven_totalDistribuidor || 0 ).toLocaleString(1) }} COP</span>
        </div>
    </div>
</mat-dialog-actions>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="btn btn-outline-danger">Cerrar</button>
    <button mat-button cdkFocusInitial  class="btn-success" (click)="submit()" [disabled]="disabledButton"  *ngIf="superSub == true || data.ven_estado != 1">
        <span *ngIf="!id">Subir tu orden</span>
        <span *ngIf="id">Actualizar Cambios</span>
    </button>
</mat-dialog-actions>
