<div class="container mb-3 imgFondo d-flex justify-content-center">
    <div class="row">
        <div class="col-12">
            <br><br>
            <div class="d-flex justify-content-center">
                <h4 class="text-white">BIENVENIDOS A LOCOMPROAQUI</h4>
            </div>
        </div>
        <div class="col-12">
            <mat-horizontal-stepper labelPosition="bottom" #stepper>
                <mat-step>
                    <button mat-button matStepperNext>Next</button>
                </mat-step>
                <mat-step optional>
                    <button mat-button matStepperPrevious>Back</button>
                            <button mat-button matStepperNext>Next</button>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Done</ng-template>
                    <p>You are now done.</p>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button (click)="stepper.reset()">Reset</button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </div>
    </div>
</div>