@import 'material-icons/iconfont/material-icons.css';
@import "~swiper/swiper-bundle";
@import "~@ng-select/ng-select/themes/default.theme.css";

html, body {
    height: 100%;
    margin: 0;
    scrollbar-face-color:fuchsia;
    scrollbar-highlight-color:yellow;
    scrollbar-3dlight-color:orange;
    scrollbar-darkshadow-color:darkblue;
    scrollbar-shadow-color:gray;
    scrollbar-arrow-color:yellow;
    scrollbar-track-color:aqua;
}
@font-face {
  font-family: 'Axiforma';
  src: url('./assets/fonts/axiforma/Axiforma-Regular.ttf');
}
@import "~leaflet/dist/leaflet.css";

.leaflet-container {
  height: 500px;
  width: 100%;
}


.select-with-arrow {
  position: relative;
}

.select-with-arrow select {
  padding-right: 30px; /* Ajusta el padding derecho según el ancho de tu ícono */
}

.select-with-arrow i {
  position: absolute;
  right: 10px; /* Ajusta la posición del ícono según tu diseño */
  top: calc(50% - 0.5em); /* Centra verticalmente el ícono */
}

.swal-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swal-content-container select,
.swal-content-container input {
  margin: 10px;
  padding: 10px;
  width: 100%;
}


.optionHeight{
  height: 8em !important;
}

.zoom-on-hover {
  transition: transform 0.3s ease;
}


.zoom-on-hover:hover {
  transform: scale(1.1); /* Cambia el valor para controlar la cantidad de zoom */
}
.aa-product-rating{
  color: #ffc107 !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
a{
   //font-family: 'LaBelleAurore' !important;
   font-family: 'Inter', Axiforma;
   font-family: 'Maven Pro', Axiforma;
}

.headerColor{
  background: #02a0e3;
}

.colorNuevo{
  color: #02a0e3;
}

.anchandoPr{
  width: 60% !important;
  padding: 1px;
}

.anchosBanner{
  width: 100%;
  height: 165px;
}

.anchosProductos {
  max-height: 305px;
  max-width: 15pc;
  min-height: 225px;
  min-width: 10pc;
}


#anchosLi {
  width: 14pc !important;
}

.centerAncho{
  width: 20pc;
}

.pointer {
  cursor: pointer;
}
.icons {
    margin: 5px 5px 5px 15px;
}
.logo{
  height: 127px;
}
.imgFoto{
  height: 371px;
}

.titulo1{
  /*font-family: Geomanist;*/
  color: #17a8e5;
}

.titulo2{
  /*font-family: Geomanist2;*/
  font-size: 110%;
  color: #6c6c6c;
}

.mat-tab-header{
  background-color: #17a8e5;
}

.mat-tab-label {
  color: white;
}

.titulo3{
  /*font-family: Geomanist3;*/
  font-size: 110%;
  color: #fff;
}

.scrooll{
  position: inherit;
}

.ngxImageZoomThumbnail{
  width: 100% !important;
  object-fit: scale-down !important;
}

mat-sidenav-content{
  margin-left: 235px !important;
}


.pointer {
  cursor: pointer;
}
.icons {
    margin: 5px 5px 5px 15px;
}
.logo{
  height: 85px;
}
.imgFoto{
  height: 371px;
}
.mat-toolbar-row, .mat-toolbar-single-row {
  display: flex !important;
  box-sizing: border-box !important;
  padding: 0 16px !important;
  width: auto !important;
  flex-direction: row !important;
  align-items: center !important;
  white-space: nowrap !important;
}
.imgProductos{
  height: 193px;
  width: 170px;
  max-height: 269px;
  min-height: 227px;
  max-width: 628px;
}
.views1 {
  display: none;
}
.views2 {
  display: none;
}
.foto {
  height: 43px;
  width: 100%;
}
.ng-image-slider-lightbox{
  display: none !important;
}
.ngxImageZoomThumbnail{
  height: 406px;
  align-content: center;
}

/*.ngxImageZoomThumbnail {
  max-height: 425px !important;
  max-width: 407px !important;
  height: 219px !important;
  width: 100%;
}*/

footer {
  /*background: #02a0e3;
  position: fixed;
  bottom: 0px;
  width:  -webkit-fill-available;
  left: 0px;
  box-shadow: 5px 3px 5px 5px rgba(0,0,0,.14), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);*/
  padding: 0.5em;
  font-size: 11px;

}

.cdk-overlay-pane{
  max-width: 100% !important;
}
#cdk-overlay-0{
  max-width: 100% !important;
}

.anchos {
  padding: 5px 90px;
}

#wpf-loader-two {
  height: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99999;
}

#wpf-loader-two .wpf-loader-two-inner {
  border: 2px solid #fff;
  border-radius: 50%;
  height: 100px;
  left: 46%;
  position: absolute;
  top: 40%;
  width: 100px;
  text-align: center;
}

#wpf-loader-two .wpf-loader-two-inner:before {
  content: "";
  height: 57%;
  left: -204px;
  position: absolute;
  top: -5px;
  transition: all 0.5s ease 0s;
  width: 200px;
  -webkit-animation-name: loader-two-before-transition;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-name: loader-two-before-transition;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#wpf-loader-two .wpf-loader-two-inner:after {
  content: "";
  height: 57%;
  left: 104%;
  position: absolute;
  top: 50%;
  transition: all 0.5s ease 0s;
  width: 200px;
  -webkit-animation-name: loader-two-after-transition;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-name: loader-two-after-transition;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#wpf-loader-two .wpf-loader-two-inner span {
  color: #fff;
  display: inline-block;
  margin-top: 42%;
}

.anchandoPr{
  width: 46% !important;
}

.anchoReal12{
  width: 10%;
}

.anchos2{
  margin: 5px;
}

.contenedor-btn-file input[type="file"] {
  appearance: none;
  display: none;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}
.contenedor-btn-file {
  display: inline-block;
  position: relative;
  background-color: #186CC3;
  color: #fff;
  border: 0;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, .15);
  overflow: hidden;
  transition: ease-out 120ms background-color;
}
.contenedor-btn-file:hover {
  background-color: #16579B;
}
.contenedor-btn-file:active {
  background-color: #114378;
}
.contenedor-btn-file > i {
  margin-right: 15px;
}

.contenedor-btn-file label {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  cursor: pointer;
}

.contenedor-btn-file.bordeado {
  background-color: #fff;
  border: 2px solid #186CC3;
  color: #186CC3;
}
.contenedor-btn-file.bordeado:hover {
  background-color: #186CC3;
  color: #fff;
}

.mensaje a {
  color: inherit;
  margin-right: .5rem;
  display: inline-block;
}
.mensaje a:hover {
  color: #309B76;
  transform: scale(1.4)
}

.textInfo{
  font-size: 40px;
}

/*.ng-star-inserted{
  color: #3f51b5 !important;
}*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 320px) {
  .mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6 {
    font: 300 18px/22px Roboto,"Helvetica Neue",sans-serif;
    margin-top: 10px;
  }
  .divisor {
    margin-top: 10px;
  }
  .anchoReal12{
    width: 34%;
  }
  .anchos {
    padding: 5px 20px;
  }
  .anchandoPr{
    width: 29% !important;
  }
  .imgProductos {
    height: 210px;
  }
  .ocultacion{
    display: none;
  }
  #anchosLi {
    width: 15pc !important;
  }
  .textInfo{
    font-size: 30px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 420px) {
  .ocultacion{
    display: none;
  }
  .toolbar{
    width: 103.1% !important;
  }
  .anchosCajaIcons{
    width: 45%;
  }
  .anchoReal12{
    width: 34%;
  }
  .buscadorOcultar {
    display: none;
    margin-top: 10px;
    width: 30%;
  }
  .anchoReal12{
    width: 15%;
  }
  .ocultarGrande {
    display: inline;
  }
    .buscadorOcultar2 {
    display: none;
    width: 30%;
  }
  .tallasEstilo{
    width: 31%;
    margin-top: 0;
    padding-top: 0;
    margin-left: 10px;
  }
  .iconCaja{
    padding: 0 2%; width: 25%;
  }
  .anchos {
    padding: 5px 23px;
  }
  .imgFoto{
    height: 238px;
  }
  .views1 {
    display: none;
  }
  .views2 {
    display: none;
  }
  .ancho {
    width: 85%;
  }
  .textInfo {
    font-size: 16px;
  }
  .ngxImageZoomContainer{
    max-width: 384px !important;
    max-height: 425px !important;
  }
  /*.ngxImageZoomThumbnail{
    max-height: 425px !important;
    max-width: 407px !important;
    height: 258px !important;
  }*/
  .textFooter {
    font-size: 20px;
  }
  footer {
    font-size: 10px;
  }
  .anchandoPr{
    width: 29% !important;
  }
  .imgProductos {
    height: 210px !important;
  }
  #anchosLi {
    width: 15pc !important;
  }
  .textInf{
    font-size: 30px;
  }
}
@media only screen and (max-width: 500px) {
  #anchosLi {
    width: 50% !important;
  }
}
@media only screen and (max-width: 600px) {
  .textInfo {
    font-size: 30px;
  }
  .ocultacion{
    display: none;
  }
  .buscadorOcultar {
    display: none;
    margin-top: 10px;
    width: 30%;
  }
  .ocultarGrande {
    display: inline;
  }
    .buscadorOcultar2 {
    display: none;
    width: 30%;
  }
  .anchoReal12{
    width: 30%;
  }
  .iconCaja{
    padding: 0 2%; width: 25%;
  }
  .tallasEstilo{
    width: 30%;
    margin-top: 0;
    padding-top: 0;
    margin-left: 10px;
  }
  .anchos {
    padding: 5px 25px;
  }
  .imgFoto{
    height: 171px;
  }
  .views1 {
    display: none;
  }
  .views2 {
    display: none;
  }
  .ancho {
    width: 85%;
  }
  .textInf {
    font-size: 13px;
  }
  .textFooter {
    font-size: 20px;
  }
  /*.ngxImageZoomThumbnail{
    max-height: 425px !important;
    max-width: 407px !important;
    height: 258px !important;
  }*/
  footer {
    font-size: 10px;
  }
  #anchosLi {
    width: 45% !important;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .textInfo {
    font-size: 40px;
  }
  .ocultacion{
    display: inline;
  }
  .anchosCajaIcons{
    width: 35%;
  }
  .buscadorOcultar {
    display: inline;
    margin-top: 10px;
    width: 30%;
  }
  .ocultarGrande {
    display: none;
  }
    .buscadorOcultar2 {
    display: inline;
    width: 30%;
  }
  .iconCaja{
    padding: 0 2%; width: 39%;
  }
  .tallasEstilo{
    width: 48%;
    margin-top: 0;
    padding-top: 0;
    margin-left: 10px;
  }
  .anchos {
    padding: 5px 30px;
}
  .imgFoto{
    height: 193px;
  }
  .views1 {
    display: inline;
  }
  .views2 {
    display: none;
  }
  .ancho {
    width: 65%;
  }
  .textInf {
    font-size: 12px;
  }
  /*.ngxImageZoomThumbnail{
    max-height: 425px !important;
    max-width: 407px !important;
    height: 287px !important;
  }*/
  .textFooter {
    font-size: 29px;
  }
  footer {
    font-size: 11px;
  }
  .imgProductos{
    height: 263px;
    width: 170px;
    max-height: 269px;
    min-height: 190px;
    max-width: 628px;
  }
  #anchosLi {
    width: 43% !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) {
  .ocultacion{
    display: inline;
  }
  .anchos {
    padding: 5px 30px;
  }
  .buscadorOcultar {
    display: inline;
    margin-top: 10px;
    width: 30%;
  }
  .ocultarGrande {
    display: none;
  }
    .buscadorOcultar2 {
    display: inline;
    width: 30%;
  }
  .iconCaja{
    padding: 0 2%; width: 25%;
  }
  .tallasEstilo{
    width: 31%;
    margin-top: 0;
    padding-top: 0;
    margin-left: 10px;
  }
  .anchosCajaIcons{
    width: 35%;
  }
  .imgFoto{
    height: 193px;
  }
  .views1 {
    display: inline;
  }
  .views2 {
    display: none;
  }
  .ancho {
    width: 65%;
  }
  .textInf {
    font-size: 12px;
  }
  /*.ngxImageZoomThumbnail{
    max-height: 425px !important;
    max-width: 407px !important;
    height: 285px !important;
  }*/
  .textFooter {
    font-size: 20px;
  }
  footer {
    font-size: 11px;
  }
  .imgProductos{
    height: 263px;
    width: 170px;
    max-height: 269px;
    min-height: 190px;
    max-width: 628px;
  }
  #anchosLi {
    width: 14pc !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 800px) {
  .ocultacion{
    display: inline;
  }
  .anchos {
    padding: 5px 90px;
  }
  .anchosCajaIcons{
    width: 23%;
  }
  .tallasEstilo{
    width: 31%;
    margin-top: 0;
    padding-top: 0;
    margin-left: 10px;
  }
  .buscadorOcultar {
    display: inline;
    margin-top: 10px;
    width: 30%;
  }
  .ocultarGrande {
    display: none;
  }
    .buscadorOcultar2 {
    display: inline;
    width: 30%;
  }
  .iconCaja{
    padding: 0 2%; width: 25%;
  }
  .imgFoto{
    height: 238px;
  }
  .views1 {
    display: inline;
  }
  .views2 {
    display: inline;
  }
  .ancho {
    width: 45%;
  }
  .textInf {
    font-size: 13px;
  }
  /*.ngxImageZoomThumbnail{
    max-height: 425px !important;
    max-width: 407px !important;
    height: 289px !important;
  }*/
  .textFooter {
    font-size: 35px;
  }
  footer {
    font-size: 11px;
  }
  .imgProductos{
    height: 263px;
    width: 170px;
    max-height: 269px;
    min-height: 190px;
    max-width: 628px;
  }
  #anchosLi {
    width: 13pc !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .ocultacion{
    display: inline;
  }
  .anchos {
    padding: 5px 43px;
  }
  .anchosCajaIcons{
    width: 19%;
  }
  .tallasEstilo{
    width: 63%;
    margin-top: 0;
    padding-top: 0;
    margin-left: 10px;
  }
  .buscadorOcultar {
    display: inline;
    margin-top: 10px;
    width: 30%;
  }
  .ocultarGrande {
    display: none;
  }
    .buscadorOcultar2 {
    display: inline;
    width: 30%;
  }
  .iconCaja{
    padding: 0 2%; width: 25%;
  }
  .imgFoto{
    height: 307px;
  }
  .textInf {
    font-size: 15px;
  }
  .views1 {
    display: inline;
  }
  .views2 {
    display: inline;
  }
  .ancho {
    width: 60%;
  }
  /*.ngxImageZoomThumbnail{
    max-height: 425px !important;
    max-width: 407px !important;
    height: 367px !important;
  }*/
  .textFooter {
    font-size: 45px;
  }
  footer {
    font-size: 11px;
  }
  .imgProductos{
    height: 263px;
    width: 170px;
    max-height: 269px;
    min-height: 190px;
    max-width: 628px;
  }
  .anchandoPr{
    width: 30% !important;
  }
  #anchosLi {
    width: 13pc !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .ocultacion{
    display: inline;
  }
  .anchos {
    padding: 5px 43px;
  }
  .anchosCajaIcons{
    width: 16%;
  }
  .tallasEstilo{
    width: 45%;
    margin-top: 0;
    padding-top: 0;
    margin-left: 10px;
  }
  .buscadorOcultar {
    display: inline;
    margin-top: 10px;
    width: 30%;
  }
  .ocultarGrande {
    display: none;
  }
    .buscadorOcultar2 {
    display: inline;
    width: 30%;
  }
  .iconCaja{
    padding: 0 2%; width: 25%;
  }
  .imgFoto{
    height: 300px;
  }
  .views1 {
    display: inline;
  }
  .views2 {
    display: inline;
  }
  .ancho {
    width: 60%;
  }
  .textInf {
    font-size: 15px;
  }
  /*.ngxImageZoomThumbnail{
    max-height: 425px !important;
    max-width: 407px !important;
    height: 425px !important;
  }*/
  .textFooter {
    font-size: 47px;
  }
  footer {
    font-size: 11px;
  }
  .imgProductos{
    height: 263px;
    width: 170px;
    max-height: 269px;
    min-height: 190px;
    max-width: 628px;
  }
  .anchandoPr{
    width: 25% !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1300px) {
  .ocultacion{
    display: inline;
  }
  .anchos {
    padding: 5px 43px;
  }
  .anchosCajaIcons{
    width: 16%;
  }
  .tallasEstilo{
    width: 59%;
    margin-top: 0;
    padding-top: 0;
    margin-left: 10px;
  }
  .buscadorOcultar {
    display: inline;
    margin-top: 10px;
    width: 30%;
  }
  .ocultarGrande {
    display: none;
  }
    .buscadorOcultar2 {
    display: inline;
    width: 30%;
  }
  .iconCaja{
    padding: 0 2%; width: 25%;
  }
  .imgFoto{
    height: 300px;
  }
  .views1 {
    display: inline;
  }
  .views2 {
    display: inline;
  }
  .ancho {
    width: 60%;
  }
  .textInf {
    font-size: 15px;
  }
  /*.ngxImageZoomThumbnail{
    max-height: 425px !important;
    max-width: 407px !important;
    height: 425px !important;
  }*/
  .textFooter {
    font-size: 47px;
  }
  footer {
    font-size: 11px;
  }
  .imgProductos{
    height: 257px !important;
    width: 170px;
    max-height: 269px;
    min-height: 190px;
    max-width: 628px;
    object-fit: cover;
  }
  .anchandoPr{
    width: 14% !important;
  }
}


.contenedor {
  overflow:auto;
  box-sizing: border-box;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.contenedor::-webkit-scrollbar {
  -webkit-appearance: none;
}

.contenedor::-webkit-scrollbar:vertical {
  width:10px;
}

.contenedor::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;
}

.contenedor::-webkit-scrollbar:horizontal {
  height: 10px;
}

.contenedor::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.contenedor::-webkit-scrollbar-track {
  border-radius: 10px;
}
