html, body {
    height: 100%;
    margin: 0;
}
.pointer {
  cursor: pointer;
}
.icons {
    margin: 5px 5px 5px 15px;
}
.logo{
  height: 127px;
}
.imgFoto{
  height: 371px;
}
.mat-toolbar-row, .mat-toolbar-single-row {
  display: flex !important;
  box-sizing: border-box !important;
  padding: 0 16px !important;
  width: auto !important;
  flex-direction: row !important;
  align-items: center !important;
  white-space: nowrap !important;
}
.imgProductos{
  height: 193px;
  width: 170px;
  max-height: 269px;
  min-height: 190px;
  max-width: 628px;
}
.views1 {
  display: none;
}
.views2 {
  display: none;
}
.foto {
  height: 43px;
}
.ng-image-slider-lightbox{
  display: none !important;
}

.ngxImageZoomThumbnail {
  max-height: 425px !important;
  max-width: 407px !important;
  height: 219px !important;
}

/*.ng-star-inserted{
  color: #3f51b5 !important;
}*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 320px) {
  .mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6 {
    font: 300 18px/22px Roboto,"Helvetica Neue",sans-serif;
    margin-top: 10px;
  }
  .divisor {
    margin-top: 10px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 420px) {
  .imgFoto{
    height: 238px;
  }
  .views1 {
    display: none;
  }
  .views2 {
    display: none;
  }
  .ancho {
    width: 85%;
  }
  .textInf {
    font-size: 11px;
  }
  .ngxImageZoomThumbnail{
    max-height: 425px !important;
    max-width: 407px !important;
    height: 351px !important;
  }
}
@media only screen and (max-width: 600px) {
  .imgFoto{
    height: 171px;
  }
  .views1 {
    display: none;
  }
  .views2 {
    display: none;
  }
  .ancho {
    width: 85%;
  }
  .textInf {
    font-size: 13px;
  }
  .ngxImageZoomThumbnail{
    max-height: 425px !important;
    max-width: 407px !important;
    height: 351px !important;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .imgFoto{
    height: 193px;
  }
  .views1 {
    display: inline;
  }
  .views2 {
    display: none;
  }
  .ancho {
    width: 65%;
  }
  .textInf {
    font-size: 12px;
  }
  .ngxImageZoomThumbnail{
    max-height: 425px !important;
    max-width: 407px !important;
    height: 287px !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) {
  .imgFoto{
    height: 193px;
  }
  .views1 {
    display: inline;
  }
  .views2 {
    display: none;
  }
  .ancho {
    width: 65%;
  }
  .textInf {
    font-size: 12px;
  }
  .ngxImageZoomThumbnail{
    max-height: 425px !important;
    max-width: 407px !important;
    height: 285px !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 800px) {
  .imgFoto{
    height: 238px;
  }
  .views1 {
    display: inline;
  }
  .views2 {
    display: inline;
  }
  .ancho {
    width: 45%;
  }
  .textInf {
    font-size: 13px;
  }
  .ngxImageZoomThumbnail{
    max-height: 425px !important;
    max-width: 407px !important;
    height: 289px !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .imgFoto{
    height: 307px;
  }
  .textInf {
    font-size: 15px;
  }
  .views1 {
    display: inline;
  }
  .views2 {
    display: inline;
  }
  .ancho {
    width: 60%;
  }
  .ngxImageZoomThumbnail{
    max-height: 425px !important;
    max-width: 407px !important;
    height: 367px !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .imgFoto{
    height: 300px;
  }
  .views1 {
    display: inline;
  }
  .views2 {
    display: inline;
  }
  .ancho {
    width: 60%;
  }
  .textInf {
    font-size: 15px;
  }
  .ngxImageZoomThumbnail{
    max-height: 425px !important;
    max-width: 407px !important;
    height: 425px !important;
  }
}
