
html, body {
    height: 100%;
    margin: 0;
}

.headerColor{
  background: #02a0e3;
}

.colorNuevo{
  color: #02a0e3;
}

.anchandoPr{
  width: 60% !important;
}

@font-face {
  font-family: 'Geomanist';
  src: url("./assets/font/Geomanist-Regular-Italic.otf");
  font-weight: 300;
  font-style: normal;
  font-size: 115%;
}

@font-face {
  font-family: 'Geomanist2';
  src: url("./assets/font/Geomanist-Black.otf");
  font-weight: 300;
  font-style:normal;
}

@font-face {
  font-family: 'Geomanist3';
  src: url("./assets/font/Geomanist-Regular_0.otf");
  font-weight: 300;
  font-style:normal;
}


.titulo1{
  font-family: Geomanist;
  color: #17a8e5;
}

.titulo2{
  font-family: Geomanist2;
  font-size: 110%;
  color: #6c6c6c;
}

.titulo3{
  font-family: Geomanist3;
  font-size: 110%;
  color: #fff;
}

.scrooll{
  position: inherit;
}



.pointer {
  cursor: pointer;
}
.icons {
    margin: 5px 5px 5px 15px;
}
.logo{
  height: 85px;
}
.imgFoto{
  height: 371px;
}
.mat-toolbar-row, .mat-toolbar-single-row {
  display: flex !important;
  box-sizing: border-box !important;
  padding: 0 16px !important;
  width: auto !important;
  flex-direction: row !important;
  align-items: center !important;
  white-space: nowrap !important;
}
.imgProductos{
  height: 193px;
  width: 170px;
  max-height: 269px;
  min-height: 190px;
  max-width: 628px;
}
.views1 {
  display: none;
}
.views2 {
  display: none;
}
.foto {
  height: 43px;
}
.ng-image-slider-lightbox{
  display: none !important;
}

.ngxImageZoomThumbnail {
  max-height: 425px !important;
  max-width: 407px !important;
  height: 219px !important;
}

footer {
  background: #02a0e3;
  position: fixed;
  bottom: 0px;
  width:  -webkit-fill-available;
  left: 0px;
  box-shadow: 5px 3px 5px 5px rgba(0,0,0,.14), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
  padding: 0.5em;
  font-size: 11px;
  height: 6%;
}

.cdk-overlay-pane{
  max-width: 100% !important;
}
#cdk-overlay-0{
  max-width: 100% !important;
}

.anchos {
  padding: 5px 90px;
}

#wpf-loader-two {
  height: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99999;
}

#wpf-loader-two .wpf-loader-two-inner {
  border: 2px solid #fff;
  border-radius: 50%;
  height: 100px;
  left: 46%;
  position: absolute;
  top: 40%;
  width: 100px;
  text-align: center;
}

#wpf-loader-two .wpf-loader-two-inner:before {
  content: "";
  height: 57%;
  left: -204px;
  position: absolute;
  top: -5px;
  transition: all 0.5s ease 0s;
  width: 200px;
  -webkit-animation-name: loader-two-before-transition;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-name: loader-two-before-transition;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#wpf-loader-two .wpf-loader-two-inner:after {
  content: "";
  height: 57%;
  left: 104%;
  position: absolute;
  top: 50%;
  transition: all 0.5s ease 0s;
  width: 200px;
  -webkit-animation-name: loader-two-after-transition;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-name: loader-two-after-transition;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#wpf-loader-two .wpf-loader-two-inner span {
  color: #fff;
  display: inline-block;
  margin-top: 42%;
}

.anchandoPr{
  width: 46% !important;
}

.anchoReal12{
  width: 10%;
}

/*.ng-star-inserted{
  color: #3f51b5 !important;
}*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 320px) {
  .mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6 {
    font: 300 18px/22px Roboto,"Helvetica Neue",sans-serif;
    margin-top: 10px;
  }
  .divisor {
    margin-top: 10px;
  }
  .anchoReal12{
    width: 34%;
  }
  .anchos {
    padding: 5px 20px;
  }
  .anchandoPr{
    width: 29% !important;
  }
  .imgProductos {
    height: 210px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 420px) {
  .toolbar{
    width: 103.1% !important;
  }
  .anchosCajaIcons{
    width: 45%;
  }
  .anchoReal12{
    width: 34%;
  }
  .buscadorOcultar {
    display: none;
    margin-top: 10px; 
    width: 30%;
  }
  .anchoReal12{
    width: 15%;
  }
  .ocultarGrande {
    display: inline;
  }
    .buscadorOcultar2 {
    display: none;
    width: 30%;
  }
  .tallasEstilo{
    width: 31%;
    margin-top: 0;
    padding-top: 0;
    margin-left: 10px;
  }
  .iconCaja{
    padding: 0 2%; width: 25%;
  }
  .anchos {
    padding: 5px 23px;
  }
  .imgFoto{
    height: 238px;
  }
  .views1 {
    display: none;
  }
  .views2 {
    display: none;
  }
  .ancho {
    width: 85%;
  }
  .textInf {
    font-size: 11px;
  }
  .ngxImageZoomThumbnail{
    max-height: 425px !important;
    max-width: 407px !important;
    height: 258px !important;
  }
  .textFooter {
    font-size: 20px;
  }
  footer {
    font-size: 10px;
  }
  .anchandoPr{
    width: 29% !important;
  }
  .imgProductos {
    height: 210px !important;
  }
}
@media only screen and (max-width: 600px) {
  .buscadorOcultar {
    display: none;
    margin-top: 10px; 
    width: 30%;
  }
  .ocultarGrande {
    display: inline;
  }
    .buscadorOcultar2 {
    display: none;
    width: 30%;
  }
  .anchoReal12{
    width: 30%;
  }
  .iconCaja{
    padding: 0 2%; width: 25%;
  }
  .tallasEstilo{
    width: 30%;
    margin-top: 0;
    padding-top: 0;
    margin-left: 10px;
  }
  .anchos {
    padding: 5px 25px;
  }
  .imgFoto{
    height: 171px;
  }
  .views1 {
    display: none;
  }
  .views2 {
    display: none;
  }
  .ancho {
    width: 85%;
  }
  .textInf {
    font-size: 13px;
  }
  .textFooter {
    font-size: 20px;
  }
  .ngxImageZoomThumbnail{
    max-height: 425px !important;
    max-width: 407px !important;
    height: 258px !important;
  }
  footer {
    font-size: 10px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .anchosCajaIcons{
    width: 35%;
  }
  .buscadorOcultar {
    display: inline;
    margin-top: 10px; 
    width: 30%;
  }
  .ocultarGrande {
    display: none;
  }
    .buscadorOcultar2 {
    display: inline;
    width: 30%;
  }
  .iconCaja{
    padding: 0 2%; width: 39%;
  }
  .tallasEstilo{
    width: 48%;
    margin-top: 0;
    padding-top: 0;
    margin-left: 10px;
  }
  .anchos {
    padding: 5px 30px;
}
  .imgFoto{
    height: 193px;
  }
  .views1 {
    display: inline;
  }
  .views2 {
    display: none;
  }
  .ancho {
    width: 65%;
  }
  .textInf {
    font-size: 12px;
  }
  .ngxImageZoomThumbnail{
    max-height: 425px !important;
    max-width: 407px !important;
    height: 287px !important;
  }
  .textFooter {
    font-size: 29px;
  }
  footer {
    font-size: 11px;
  }
  .imgProductos{
    height: 263px;
    width: 170px;
    max-height: 269px;
    min-height: 190px;
    max-width: 628px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) {
  .anchos {
    padding: 5px 30px;
  }
  .buscadorOcultar {
    display: inline;
    margin-top: 10px; 
    width: 30%;
  }
  .ocultarGrande {
    display: none;
  }
    .buscadorOcultar2 {
    display: inline;
    width: 30%;
  }
  .iconCaja{
    padding: 0 2%; width: 25%;
  }
  .tallasEstilo{
    width: 31%;
    margin-top: 0;
    padding-top: 0;
    margin-left: 10px;
  }
  .anchosCajaIcons{
    width: 35%;
  }
  .imgFoto{
    height: 193px;
  }
  .views1 {
    display: inline;
  }
  .views2 {
    display: none;
  }
  .ancho {
    width: 65%;
  }
  .textInf {
    font-size: 12px;
  }
  .ngxImageZoomThumbnail{
    max-height: 425px !important;
    max-width: 407px !important;
    height: 285px !important;
  }
  .textFooter {
    font-size: 20px;
  }
  footer {
    font-size: 11px;
  }
  .imgProductos{
    height: 263px;
    width: 170px;
    max-height: 269px;
    min-height: 190px;
    max-width: 628px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 800px) {
  .anchos {
    padding: 5px 90px;
  }
  .anchosCajaIcons{
    width: 23%;
  }
  .tallasEstilo{
    width: 31%;
    margin-top: 0;
    padding-top: 0;
    margin-left: 10px;
  }
  .buscadorOcultar {
    display: inline;
    margin-top: 10px; 
    width: 30%;
  }
  .ocultarGrande {
    display: none;
  }
    .buscadorOcultar2 {
    display: inline;
    width: 30%;
  }
  .iconCaja{
    padding: 0 2%; width: 25%;
  }
  .imgFoto{
    height: 238px;
  }
  .views1 {
    display: inline;
  }
  .views2 {
    display: inline;
  }
  .ancho {
    width: 45%;
  }
  .textInf {
    font-size: 13px;
  }
  .ngxImageZoomThumbnail{
    max-height: 425px !important;
    max-width: 407px !important;
    height: 289px !important;
  }
  .textFooter {
    font-size: 35px;
  }
  footer {
    font-size: 11px;
  }
  .imgProductos{
    height: 263px;
    width: 170px;
    max-height: 269px;
    min-height: 190px;
    max-width: 628px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .anchos {
    padding: 5px 70px;
  }
  .anchosCajaIcons{
    width: 19%;
  }
  .tallasEstilo{
    width: 63%;
    margin-top: 0;
    padding-top: 0;
    margin-left: 10px;
  }
  .buscadorOcultar {
    display: inline;
    margin-top: 10px; 
    width: 30%;
  }
  .ocultarGrande {
    display: none;
  }
    .buscadorOcultar2 {
    display: inline;
    width: 30%;
  }
  .iconCaja{
    padding: 0 2%; width: 25%;
  }
  .imgFoto{
    height: 307px;
  }
  .textInf {
    font-size: 15px;
  }
  .views1 {
    display: inline;
  }
  .views2 {
    display: inline;
  }
  .ancho {
    width: 60%;
  }
  .ngxImageZoomThumbnail{
    max-height: 425px !important;
    max-width: 407px !important;
    height: 367px !important;
  }
  .textFooter {
    font-size: 45px;
  }
  footer {
    font-size: 11px;
  }
  .imgProductos{
    height: 263px;
    width: 170px;
    max-height: 269px;
    min-height: 190px;
    max-width: 628px;
  }
  .anchandoPr{
    width: 25% !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .anchos {
    padding: 5px 115px;
  }
  .anchosCajaIcons{
    width: 16%;
  }
  .tallasEstilo{
    width: 45%;
    margin-top: 0;
    padding-top: 0;
    margin-left: 10px;
  }
  .buscadorOcultar {
    display: inline;
    margin-top: 10px; 
    width: 30%;
  }
  .ocultarGrande {
    display: none;
  }
    .buscadorOcultar2 {
    display: inline;
    width: 30%;
  }
  .iconCaja{
    padding: 0 2%; width: 25%;
  }
  .imgFoto{
    height: 300px;
  }
  .views1 {
    display: inline;
  }
  .views2 {
    display: inline;
  }
  .ancho {
    width: 60%;
  }
  .textInf {
    font-size: 15px;
  }
  .ngxImageZoomThumbnail{
    max-height: 425px !important;
    max-width: 407px !important;
    height: 425px !important;
  }
  .textFooter {
    font-size: 47px;
  }
  footer {
    font-size: 11px;
  }
  .imgProductos{
    height: 263px;
    width: 170px;
    max-height: 269px;
    min-height: 190px;
    max-width: 628px;
  }
  .anchandoPr{
    width: 25% !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1300px) {
  .anchos {
    padding: 5px 115px;
  }
  .anchosCajaIcons{
    width: 16%;
  }
  .tallasEstilo{
    width: 59%;
    margin-top: 0;
    padding-top: 0;
    margin-left: 10px;
  }
  .buscadorOcultar {
    display: inline;
    margin-top: 10px; 
    width: 30%;
  }
  .ocultarGrande {
    display: none;
  }
    .buscadorOcultar2 {
    display: inline;
    width: 30%;
  }
  .iconCaja{
    padding: 0 2%; width: 25%;
  }
  .imgFoto{
    height: 300px;
  }
  .views1 {
    display: inline;
  }
  .views2 {
    display: inline;
  }
  .ancho {
    width: 60%;
  }
  .textInf {
    font-size: 15px;
  }
  .ngxImageZoomThumbnail{
    max-height: 425px !important;
    max-width: 407px !important;
    height: 425px !important;
  }
  .textFooter {
    font-size: 47px;
  }
  footer {
    font-size: 11px;
  }
  .imgProductos{
    height: 257px !important;
    width: 170px;
    max-height: 269px;
    min-height: 190px;
    max-width: 628px;
  }
  .anchandoPr{
    width: 20% !important;
  }
}

