<p>&nbsp;</p>
<div class="ruta" style="box-sizing: border-box; padding-left: 22vw;">
    <p
        style="box-sizing: border-box; color: #484848; font-family: Montserrat, sans-serif !important; font-size: 1.2vw; letter-spacing: 0.04vw; margin-bottom: 1rem; margin-top: 0px;">
        <a href="https://triidy.com/dashboard/proveedores" routerlink="/dashboard/proveedores"
            style="box-sizing: border-box; color: #0040ff; cursor: pointer; text-decoration-line: none;">Volver al
            listado</a>&nbsp;|&nbsp;<a
            style="box-sizing: border-box; color: #0040ff; cursor: pointer;">Marketplace</a>&nbsp;&gt;&nbsp;<a
         style="box-sizing: border-box; color: #0040ff; cursor: pointer;">UNMERCO Medellín
            sede principal</a>
    </p>
</div>
<div class="row"
    style="--bs-gutter-x: 1.5rem; --bs-gutter-y: 0; box-sizing: border-box; display: flex; flex-wrap: wrap; margin-left: 0px; margin-right: 0px; margin-top: calc(var(--bs-gutter-y) * -1);">
    <div class="col-3 inf-tienda"
        style="background: rgba(255, 255, 255, 0); box-sizing: border-box; flex: 0 0 25%; height: auto; margin-top: var(--bs-gutter-y); max-width: 25%; padding-left: 0px; padding-right: 15px; position: relative; text-align: center; top: -6vw; width: 454.141px;">
        <img alt="Triidy" class="imgen"
            src="https://triidyftp.s3.us-east-2.amazonaws.com/Tiendas/1583.jpg"
            style="border-radius: 10vw; border-style: none; box-shadow: rgb(136, 136, 136) 0.1vw 0px 1vw 0.3vw; box-sizing: border-box; margin-bottom: 1vw; vertical-align: middle; width: 15vw;" />
        <h5
            style="box-sizing: border-box; color: #484848; font-family: Josefin Sans, sans-serif !important; font-size: 1.4vw; font-weight: 500; line-height: 1.2; margin-bottom: 0.5rem; margin-top: 0px;">
            UNMERCO Medellín sede principal&nbsp;<a class="wts ng-star-inserted"
                href="https://wa.me/+573145075262?text=Hola,%20soy%20una%20tienda%20afiliada%20a%20Triidy%20y%20te%20escribo%20porque..."
                style="box-sizing: border-box; color: #484848; font-family: Montserrat, sans-serif !important; text-decoration-line: none;"
                target="_blank"><span class="fab fa-whatsapp"
                    style="-webkit-font-smoothing: antialiased; box-sizing: border-box; color: #25d366; display: inline-block; font-family: Font Awesome 5 Brands; font-variant-east-asian: normal; font-variant-numeric: normal; line-height: 1; text-rendering: auto;"></span></a>
        </h5>
        <h6 class="prods"
            style="box-sizing: border-box; color: #f58b1f; font-size: 1.2vw; font-weight: 500; line-height: 1.2; margin-bottom: 0.5rem; margin-top: 0px;">
            28 Producto(s)</h6>
        <p
            style="box-sizing: border-box; color: #484848; font-family: Montserrat, sans-serif !important; font-size: 1.1vw; margin-bottom: 1rem; margin-top: 0px;">
            <span class="fas fa-map-marked-alt"
                style="-webkit-font-smoothing: antialiased; box-sizing: border-box; display: inline-block; font-family: Font Awesome 5 Free; font-variant-east-asian: normal; font-variant-numeric: normal; font-weight: 900; line-height: 1; text-rendering: auto;"></span>&nbsp;Ubicación<br
             style="box-sizing: border-box;" />Bello , Antioquia
        </p>
        <p
            style="box-sizing: border-box; color: #484848; font-family: Montserrat, sans-serif !important; font-size: 1.1vw; margin-bottom: 1rem; margin-top: 0px;">
            Productos importados</p>
        <hr
            style="border-bottom: 0px; border-image: initial; border-left: 0px; border-right: 0px; border-top-color: rgba(0, 0, 0, 0.1); border-top-style: solid; box-sizing: content-box; color: inherit; height: 1px; margin: 1rem auto; opacity: 0.25; overflow: visible; width: 373.266px;" />
        <img alt="Triidy" class="cert ng-star-inserted"
            src="https://triidyftp.s3.us-east-2.amazonaws.com/Triidy_web/MarketCert_new.png"
            style="border-style: none; box-sizing: border-box; vertical-align: middle; width: 395.219px;" /><img
         alt="Triidy" class="calif ng-star-inserted"
            src="https://triidyftp.s3.us-east-2.amazonaws.com/Triidy_web/MarketCalif_new4.png"
            style="border-style: none; box-sizing: border-box; vertical-align: middle; width: 395.219px;" />
        <div class="grid-container"
            style="box-sizing: border-box; display: grid; grid-template-columns: auto auto auto; padding: 10px;">
            <div class="grid-item"
                style="box-sizing: border-box; font-size: 30px; padding: 0.5vw;"><span
                    class="vent-store"
                    style="box-sizing: border-box; color: #757677; font-family: Montserrat, sans-serif !important; font-size: 2vw;">20932</span><br
                 style="box-sizing: border-box;" />
                <p class="text-store"
                    style="box-sizing: border-box; color: #4d4d4d; font-family: Montserrat, sans-serif !important; font-size: 0.6vw; margin-bottom: 1rem; margin-top: 0px;">
                    venta(s) en el<br style="box-sizing: border-box;" />ultimo mes</p>
            </div>
            <div class="grid-item ng-star-inserted"
                style="box-sizing: border-box; font-size: 30px; padding: 0.5vw;"><img
                    alt="Triidy" src="https://triidyftp.s3.us-east-2.amazonaws.com/Triidy_web/TiempoMarket_new.png"
                    style="border-style: none; box-sizing: border-box; vertical-align: middle; width: 5vw;" /></div>
            <div class="grid-item ng-star-inserted"
                style="box-sizing: border-box; font-size: 30px; padding: 0.5vw;"><img
                    alt="Triidy" src="https://triidyftp.s3.us-east-2.amazonaws.com/Triidy_web/InventarioMarket_new.png"
                    style="border-style: none; box-sizing: border-box; vertical-align: middle; width: 5vw;" /></div>
            <div class="grid-item ng-star-inserted"
                style="box-sizing: border-box; font-size: 30px; padding: 0.5vw;"><img
                    alt="Triidy" src="https://triidyftp.s3.us-east-2.amazonaws.com/Triidy_web/ContenidoMarket_new.png"
                    style="border-style: none; box-sizing: border-box; vertical-align: middle; width: 5vw;" /></div>
        </div>
    </div>
    <div class="col-9 prods-tienda"
        style="background: rgba(255, 255, 255, 0.7); border-radius: 0.5vw; box-sizing: border-box; flex: 0 0 75%; height: auto; margin: 0px 0px 1vw -1vw; max-width: 75%; padding-left: 15px; padding-right: 15px; padding-top: 1vw; position: relative; width: 1362.45px;">
        <div class="wrap"
            style="box-sizing: border-box; margin-left: auto; margin-right: auto; padding-left: 15px; padding-right: 15px; width: 1199.2px;">
            <div class="store-wrapper"
                style="box-sizing: border-box; display: flex; flex-wrap: wrap;">
                <div class="col" id="filtro"
                    style="box-sizing: border-box; flex: 1 0 0px; max-width: 100%; padding-left: 15px; padding-right: 15px; position: relative; width: 1169.2px;">
                    <div class="input-group mb-3"
                        style="align-items: stretch; box-sizing: border-box; display: flex; flex-wrap: wrap; margin-bottom: 1rem !important; padding-left: 1vw; position: relative; width: 740.469px;">
                        <p
                            style="border-bottom-right-radius: 0px; border-top-right-radius: 0px; box-sizing: border-box; color: #484848; font-family: Montserrat, sans-serif !important; font-size: 1.3vw; margin-bottom: 1rem; margin-top: 0.6vw; padding-right: 0.2vw;">
                            Filtrar por categoria: &nbsp;</p><select class="custom-select"
                            id="inputGroupSelect01"
                            style="appearance: none; background: url(data:image/svg+xml,%3csvg) xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5' path fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e) right 0.75rem center / 8px 10px no-repeat rgb(255, 255, 255); border-bottom-right-radius: 2vw; border-color: initial; border-style: initial; border-top-right-radius: 2vw; border-width: 1vw; box-shadow: rgb(136, 136, 136) 0.1vw 0px 1vw 0.1vw; color: #495057; display: flex; flex-direction: column; flex: 1 1 auto; font-family: inherit; font-size: 1.3vw; height: calc(1.5em + 0.75rem + 2px); line-height: 1.5; margin: 0px 0px 0px -1px; min-width: 0px; overflow-wrap: normal; padding: 0.375rem 1.75rem 0.375rem 0.75rem; position: relative; transition: none 0s ease 0s; vertical-align: middle; width: 453.203px;">
                            <option class="category_items" selected=""
                                style="background: rgb(245, 245, 245); box-sizing: border-box; font-size: 1.3vw; margin-bottom: 20px; padding: 15px 0px; text-align: center; text-transform: capitalize; width: 90%;"
                                value="all">Todos</option>
                            <option class="category_items ng-star-inserted"
                                style="background: rgb(245, 245, 245); box-sizing: border-box; font-size: 1.3vw; margin-bottom: 20px; padding: 15px 0px; text-align: center; text-transform: capitalize; width: 90%;"
                                value="2">&nbsp;belleza</option>
                            <option class="category_items ng-star-inserted"
                                style="background: rgb(245, 245, 245); box-sizing: border-box; font-size: 1.3vw; margin-bottom: 20px; padding: 15px 0px; text-align: center; text-transform: capitalize; width: 90%;"
                                value="3">&nbsp;cuidado personal</option>
                            <option class="category_items ng-star-inserted"
                                style="background: rgb(245, 245, 245); box-sizing: border-box; font-size: 1.3vw; margin-bottom: 20px; padding: 15px 0px; text-align: center; text-transform: capitalize; width: 90%;"
                                value="4">&nbsp;mascotas</option>
                            <option class="category_items ng-star-inserted"
                                style="background: rgb(245, 245, 245); box-sizing: border-box; font-size: 1.3vw; margin-bottom: 20px; padding: 15px 0px; text-align: center; text-transform: capitalize; width: 90%;"
                                value="5">&nbsp;tecnologia y gadgets</option>
                            <option class="category_items ng-star-inserted"
                                style="background: rgb(245, 245, 245); box-sizing: border-box; font-size: 1.3vw; margin-bottom: 20px; padding: 15px 0px; text-align: center; text-transform: capitalize; width: 90%;"
                                value="6">&nbsp;herramientas</option>
                            <option class="category_items ng-star-inserted"
                                style="background: rgb(245, 245, 245); box-sizing: border-box; font-size: 1.3vw; margin-bottom: 20px; padding: 15px 0px; text-align: center; text-transform: capitalize; width: 90%;"
                                value="7">&nbsp;fitness</option>
                            <option class="category_items ng-star-inserted"
                                style="background: rgb(245, 245, 245); box-sizing: border-box; font-size: 1.3vw; margin-bottom: 20px; padding: 15px 0px; text-align: center; text-transform: capitalize; width: 90%;"
                                value="8">&nbsp;hogar</option>
                            <option class="category_items ng-star-inserted"
                                style="background: rgb(245, 245, 245); box-sizing: border-box; font-size: 1.3vw; margin-bottom: 20px; padding: 15px 0px; text-align: center; text-transform: capitalize; width: 90%;"
                                value="9">&nbsp;bebes y niños</option>
                            <option class="category_items ng-star-inserted"
                                style="background: rgb(245, 245, 245); box-sizing: border-box; font-size: 1.3vw; margin-bottom: 20px; padding: 15px 0px; text-align: center; text-transform: capitalize; width: 90%;"
                                value="10">&nbsp;alimentos</option>
                            <option class="category_items ng-star-inserted"
                                style="background: rgb(245, 245, 245); box-sizing: border-box; font-size: 1.3vw; margin-bottom: 20px; padding: 15px 0px; text-align: center; text-transform: capitalize; width: 90%;"
                                value="11">&nbsp;servicios</option>
                            <option class="category_items ng-star-inserted"
                                style="background: rgb(245, 245, 245); box-sizing: border-box; font-size: 1.3vw; margin-bottom: 20px; padding: 15px 0px; text-align: center; text-transform: capitalize; width: 90%;"
                                value="12">&nbsp;otros</option>
                            <option class="category_items ng-star-inserted"
                                style="background: rgb(245, 245, 245); box-sizing: border-box; font-size: 1.3vw; margin-bottom: 20px; padding: 15px 0px; text-align: center; text-transform: capitalize; width: 90%;"
                                value="13">&nbsp;deportes</option>
                            <option class="category_items ng-star-inserted"
                                style="background: rgb(245, 245, 245); box-sizing: border-box; font-size: 1.3vw; margin-bottom: 20px; padding: 15px 0px; text-align: center; text-transform: capitalize; width: 90%;"
                                value="14">&nbsp;moda</option>
                            <!---->
                        </select>
                    </div>
                </div>
                <section class="products-list"
                    style="box-sizing: border-box; flex-wrap: wrap; width: 1169.2px;">
                    <div class="product-item ng-star-inserted" dir="0" id="2"
                        style="align-items: center; align-self: flex-start; background-color: white; border-radius: 0.5vw; box-shadow: rgba(0, 0, 0, 0.22) 0px 0px 6px 0px; box-sizing: border-box; color: #212529; cursor: pointer; display: inline-flex; flex-direction: column; font-family: Montserrat, sans-serif; font-size: 16px; height: auto; margin: 1vw; transition: all 0.4s ease 0s; width: 349.016px;">
                        <img alt="" class="ng-star-inserted"
                            src="https://triidyftp.s3.us-east-2.amazonaws.com/Productos/3752.jpg"
                            style="border-style: none; border-top-left-radius: 0.5vw; border-top-right-radius: 0.5vw; box-sizing: border-box; height: 30vh; vertical-align: middle; width: 349.016px;" />
                        <p class="price"
                            style="box-sizing: border-box; color: #484848; font-size: 1.3vw; margin-bottom: 1rem; margin-top: 0px;">
                            &nbsp;<span class="greenFont products-costo"
                                style="box-sizing: border-box; color: #22b573; font-weight: 600;"><span
                                
                                    style="box-sizing: border-box; font-size: 1.2vw;">COP</span>&nbsp;25,900</span></p>
                        <a
                            style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; border-bottom-left-radius: 2vw; border-bottom-right-radius: 2vw; border-top: 0.2vw solid rgb(240, 240, 240); box-sizing: border-box; color: inherit; display: block; font-size: 1.1vw; height: 14vh; padding: 8px 0px; text-align: center; text-transform: capitalize; width: 349.016px;">Mascarilla
                            Repolarizadora De Cebolla</a>
                    </div>
                    <div class="product-item ng-star-inserted" dir="1" id="3"
                        style="align-items: center; align-self: flex-start; background-color: white; border-radius: 0.5vw; box-shadow: rgba(0, 0, 0, 0.22) 0px 0px 6px 0px; box-sizing: border-box; color: #212529; cursor: pointer; display: inline-flex; flex-direction: column; font-family: Montserrat, sans-serif; font-size: 16px; height: auto; margin: 1vw; transition: all 0.4s ease 0s; width: 349.016px;">
                        <img alt="" class="ng-star-inserted"
                            src="https://triidyftp.s3.us-east-2.amazonaws.com/Productos/3753.jpg"
                            style="border-style: none; border-top-left-radius: 0.5vw; border-top-right-radius: 0.5vw; box-sizing: border-box; height: 30vh; vertical-align: middle; width: 349.016px;" />
                        <p class="price"
                            style="box-sizing: border-box; color: #484848; font-size: 1.3vw; margin-bottom: 1rem; margin-top: 0px;">
                            &nbsp;<span class="greenFont products-costo"
                                style="box-sizing: border-box; color: #22b573; font-weight: 600;"><span
                                
                                    style="box-sizing: border-box; font-size: 1.2vw;">COP</span>&nbsp;24,900</span></p>
                        <a
                            style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; border-bottom-left-radius: 2vw; border-bottom-right-radius: 2vw; border-top: 0.2vw solid rgb(240, 240, 240); box-sizing: border-box; color: inherit; display: block; font-size: 1.1vw; height: 14vh; padding: 8px 0px; text-align: center; text-transform: capitalize; width: 349.016px;">Shampoo
                            Cebolla Unmerco</a>
                    </div>
                    <div class="product-item ng-star-inserted" dir="2" id="3"
                        style="align-items: center; align-self: flex-start; background-color: white; border-radius: 0.5vw; box-shadow: rgba(0, 0, 0, 0.22) 0px 0px 6px 0px; box-sizing: border-box; color: #212529; cursor: pointer; display: inline-flex; flex-direction: column; font-family: Montserrat, sans-serif; font-size: 16px; height: auto; margin: 1vw; transition: all 0.4s ease 0s; width: 349.016px;">
                        <img alt="" class="ng-star-inserted"
                            src="https://triidyftp.s3.us-east-2.amazonaws.com/Productos/3754.jpg"
                            style="border-style: none; border-top-left-radius: 0.5vw; border-top-right-radius: 0.5vw; box-sizing: border-box; height: 30vh; vertical-align: middle; width: 349.016px;" />
                        <p class="price"
                            style="box-sizing: border-box; color: #484848; font-size: 1.3vw; margin-bottom: 1rem; margin-top: 0px;">
                            &nbsp;<span class="greenFont products-costo"
                                style="box-sizing: border-box; color: #22b573; font-weight: 600;"><span
                                
                                    style="box-sizing: border-box; font-size: 1.2vw;">COP</span>&nbsp;26,000</span></p>
                        <a
                            style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; border-bottom-left-radius: 2vw; border-bottom-right-radius: 2vw; border-top: 0.2vw solid rgb(240, 240, 240); box-sizing: border-box; color: inherit; display: block; font-size: 1.1vw; height: 14vh; padding: 8px 0px; text-align: center; text-transform: capitalize; width: 349.016px;">Repolarizador
                            Unmerco X 560grs</a>
                    </div>
                    <div class="product-item ng-star-inserted" dir="3" id="3"
                        style="align-items: center; align-self: flex-start; background-color: white; border-radius: 0.5vw; box-shadow: rgba(0, 0, 0, 0.22) 0px 0px 6px 0px; box-sizing: border-box; color: #212529; cursor: pointer; display: inline-flex; flex-direction: column; font-family: Montserrat, sans-serif; font-size: 16px; height: auto; margin: 1vw; transition: all 0.4s ease 0s; width: 349.016px;">
                        <img alt="" class="ng-star-inserted"
                            src="https://triidyftp.s3.us-east-2.amazonaws.com/Productos/3756.jpg"
                            style="border-style: none; border-top-left-radius: 0.5vw; border-top-right-radius: 0.5vw; box-sizing: border-box; height: 30vh; vertical-align: middle; width: 349.016px;" />
                        <p class="price"
                            style="box-sizing: border-box; color: #484848; font-size: 1.3vw; margin-bottom: 1rem; margin-top: 0px;">
                            &nbsp;<span class="greenFont products-costo"
                                style="box-sizing: border-box; color: #22b573; font-weight: 600;"><span
                                
                                    style="box-sizing: border-box; font-size: 1.2vw;">COP</span>&nbsp;19,000</span></p>
                        <a
                            style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; border-bottom-left-radius: 2vw; border-bottom-right-radius: 2vw; border-top: 0.2vw solid rgb(240, 240, 240); box-sizing: border-box; color: inherit; display: block; font-size: 1.1vw; height: 14vh; padding: 8px 0px; text-align: center; text-transform: capitalize; width: 349.016px;">Shampoo
                            Unmerco X 500 Ml</a>
                    </div>
                    <div class="product-item ng-star-inserted" dir="4" id="3"
                        style="align-items: center; align-self: flex-start; background-color: white; border-radius: 0.5vw; box-shadow: rgba(0, 0, 0, 0.22) 0px 0px 6px 0px; box-sizing: border-box; color: #212529; cursor: pointer; display: inline-flex; flex-direction: column; font-family: Montserrat, sans-serif; font-size: 16px; height: auto; margin: 1vw; transition: all 0.4s ease 0s; width: 349.016px;">
                        <img alt="" class="ng-star-inserted"
                            src="https://triidyftp.s3.us-east-2.amazonaws.com/Productos/3757.jpg"
                            style="border-style: none; border-top-left-radius: 0.5vw; border-top-right-radius: 0.5vw; box-sizing: border-box; height: 30vh; vertical-align: middle; width: 349.016px;" />
                        <p class="price"
                            style="box-sizing: border-box; color: #484848; font-size: 1.3vw; margin-bottom: 1rem; margin-top: 0px;">
                            &nbsp;<span class="greenFont products-costo"
                                style="box-sizing: border-box; color: #22b573; font-weight: 600;"><span
                                
                                    style="box-sizing: border-box; font-size: 1.2vw;">COP</span>&nbsp;26,900</span></p>
                        <a
                            style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; border-bottom-left-radius: 2vw; border-bottom-right-radius: 2vw; border-top: 0.2vw solid rgb(240, 240, 240); box-sizing: border-box; color: inherit; display: block; font-size: 1.1vw; height: 14vh; padding: 8px 0px; text-align: center; text-transform: capitalize; width: 349.016px;">Colageno
                            Hidrolizado Unmerco X 180 Grs</a>
                    </div>
                    <div class="product-item ng-star-inserted" dir="5" id="3"
                        style="align-items: center; align-self: flex-start; background-color: white; border-radius: 0.5vw; box-shadow: rgba(0, 0, 0, 0.22) 0px 0px 6px 0px; box-sizing: border-box; color: #212529; cursor: pointer; display: inline-flex; flex-direction: column; font-family: Montserrat, sans-serif; font-size: 16px; height: auto; margin: 1vw; transition: all 0.4s ease 0s; width: 349.016px;">
                        <img alt="" class="ng-star-inserted"
                            src="https://triidyftp.s3.us-east-2.amazonaws.com/Productos/3759.jpg"
                            style="border-style: none; border-top-left-radius: 0.5vw; border-top-right-radius: 0.5vw; box-sizing: border-box; height: 30vh; vertical-align: middle; width: 349.016px;" />
                        <p class="price"
                            style="box-sizing: border-box; color: #484848; font-size: 1.3vw; margin-bottom: 1rem; margin-top: 0px;">
                            &nbsp;<span class="greenFont products-costo"
                                style="box-sizing: border-box; color: #22b573; font-weight: 600;"><span
                                
                                    style="box-sizing: border-box; font-size: 1.2vw;">COP</span>&nbsp;42,000</span></p>
                        <a
                            style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; border-bottom-left-radius: 2vw; border-bottom-right-radius: 2vw; border-top: 0.2vw solid rgb(240, 240, 240); box-sizing: border-box; color: inherit; display: block; font-size: 1.1vw; height: 14vh; padding: 8px 0px; text-align: center; text-transform: capitalize; width: 349.016px;">Tonico
                            Capilar Unmerco X 250 Ml</a>
                        <div><br /></div>
                    </div>
                    <div class="product-item ng-star-inserted" dir="6" id="3"
                        style="align-items: center; align-self: flex-start; background-color: white; border-radius: 0.5vw; box-shadow: rgba(0, 0, 0, 0.22) 0px 0px 6px 0px; box-sizing: border-box; color: #212529; cursor: pointer; display: inline-flex; flex-direction: column; font-family: Montserrat, sans-serif; font-size: 16px; height: auto; margin: 1vw; transition: all 0.4s ease 0s; width: 349.016px;">
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>