<div class="container">
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">Mi Tienda {{ dataUser.usu_usuario }} </a>
        <form class="form-inline d-flex">
          <input class="form-control mr-sm-2 px-3" type="search" placeholder="tu producto.." aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0 px-3" type="submit">Buscar</button>
        </form>
      </nav>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="row row-cols-2 row-cols-md-5 g-2">
          <div class="col" *ngFor="let row of listArticle">
            <div class="card h-100" >
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-subtitle>{{ row.article['pro_nombre'] | slice: 0: 15 }} </mat-card-subtitle>
                </mat-card-header>
                <figure mat-card-image data-toggle="modal" id="figura" data-target="#modalinfo" class="img-contenedor" style="text-align: center;">
                  <img class="img-responsive btn-block imgProductos pointer " [src]="row.article.foto">
                </figure>
                <small style="display: inline-block;  font-size: 90% !important;" class="pricesmall currency2"
                  id="pricesmall_25">
                  Me Sale: {{ _tools.monedaChange( 3, 2, ( ( row.article['pro_vendedorCompra'] || 0 ) || ( row.article['pro_uni_venta'] || 0 ) || 0 ) ) }}
                </small>
                <small style="display: inline-block;  font-size: 90% !important;" class="pricesmall currency2"
                  id="pricesmall_25">
                  Lo Vendo: {{ _tools.monedaChange( 3, 2, ( row.price || 0 ) ) }}
                </small>
                <mat-card-actions>
                  <button type="button" data-toggle="tooltip" data-placement="right" style="width: 100%;"
                    class="sc-logout btn btn-success btn-sm pull-right buttonAncho"
                    [ngStyle]="{'background-color':urlColor }"
                    (click)="handleArticle( row )"
                    data-original-title="Ver Articulo">Ver Articulo
                  </button>
                  <button type="button" data-toggle="tooltip" data-placement="right" style="width: 100%;"
                    class="sc-logout btn btn-danger btn-sm pull-right buttonAncho"
                    (click)="handleDropArticle( row )"
                    data-original-title="Quitar Articulo">Quitar Articulo
                  </button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </div>
        <div class="col-12 py-3">
          <div class="d-flex justify-content-center">
            <div>
              <a class="pointer text-primary btn btn-primary text-white" (click)="handlePageNext()">VER MÁS DE MIS PRODUCTOS </a>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="d-flex flex-row-reverse bd-highlight">
            <div class="p-2 bd-highlight">
              <mat-paginator [length]="counts" [pageSizeOptions]="[50, 100, 200]"
                  (page)="onScroll($event)">
              </mat-paginator>
            </div>
          </div>
        </div>
        <div class="col-12">
          <ngx-spinner bdOpacity=0.9 bdColor="" size="default" color="#581f87" type="ball-pulse-sync"
            [fullScreen]="false">
          </ngx-spinner>
        </div>
      </div>
    </div>
  </div>
</div>
