<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card" style="overflow-x: scroll;">
            <br>
            <br>
            <div class="card-header card-header-primary card-header-icon">
              <div class="card-icon">
                <i class="material-icons">assignment</i>
              </div>
              <h4 class="card-title">Lista de Paquetes</h4>
            </div>
            <div class="card-body">
              <div class="toolbar">
              </div>
              <div *ngIf="loader" class="loader">
                <ngx-spinner bdOpacity=0.9 bdColor="" size="default" color="#581f87" type="ball-pulse-sync"
                  [fullScreen]="false">
                </ngx-spinner>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="row row-cols-2 row-cols-md-5 g-2">
                    <div class="col" *ngFor="let item of listRecharge" style="    padding: 15px;">
                      <div class="card h-100" >
                        <img [src]="item.foto" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{ item.titulo }} {{ _tools.monedaChange( 3,2, ( item.precio || 0 ) ) }} </h5>
                          <p class="card-text">{{ item.descripcion }} </p>
                          <p class="card-text">
                            <button type="button" class="btn btn-success" (click)="handleActivatePackage( item )">Activar Paquete</button>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  