<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row container">
                    <div class="col-12">
                        <div class="d-flex justify-content-center">
                            <div class="row" id="tarjeta" style="    height: -webkit-fill-available; width: min-content;">
                                <div class="col-12">
                                    <div class="d-flex justify-content-center">
                                        <div class="row efectos">
                                            <div class="col-12">
                                                <div>
                                                    <h4 style="    text-align: center;">ASO-VIRTUAL-CONNECTED</h4>
                                                    <p style="text-align: center;
                                                    font-size: 11px;
                                                    font-weight: bolder;">Asociacion  de Tiendas Virtuales conectadas</p>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <img style="width: 100%;   background-attachment: fixed; background-position: center;" [src]="data.usu_imagen || '../assets/noimagen.jpg' " alt="">
                                            </div>
                                            <div class="col-8 row">
                                                <div class="col-12">
                                                    <label for="exampleFormControlInput1" class="sixes">ID:</label>
                                                    <input type="text" [(ngModel)]="data.id" required disabled
                                                        class="form-control form-control-sm sixes" placeholder="id">
                                                </div>
                                                <div class="col-12">
                                                    <label for="exampleFormControlInput1" class="sixes">Nombre:</label>
                                                    <input type="text" [(ngModel)]="data.usu_nombre1" required disabled
                                                        class="form-control form-control-sm sixes" placeholder="Ingrese tu nombre">
                                                </div>
                                                <div class="col-6">
                                                    <label for="exampleFormControlInput1" class="sixes">Ciudad</label>
                                                    <input type="text" [(ngModel)]="data.usu_ciudad" required disabled
                                                        class="form-control form-control-sm sixes" placeholder="Ingrese tu ciudad">
                                                </div>
                                                <div class="col-6">
                                                    <label for="exampleFormControlInput1" class="sixes">fecha</label>
                                                    <input type="text" [(ngModel)]="data.createdAt" required disabled
                                                        class="form-control form-control-sm sixes">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <p class="sixes" style="    text-align: center;"> Este documento es para uso vip de nuestra plataforma con este documento entras a evento exclusivos </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>